<div id="valor-def">
</div>


  <div id="section-1" class="section">
    <div id="sub-section-1">
      <div class="sub">
          <div>
            <img src="../../../assets/img/pasion.png" alt="vision" />
                <h1>Visión</h1>
          </div>
        <p>
          Ser la mejor opción en proveer alimentos e innovación en el desarrollo
          de productos ofreciendo un inigualable servicio servicio y calidad.
        </p>
      </div>
      <div class="sub">
          <div>
            <img src="../../../assets/img/pasion.png" alt="misión" /> <br>
              <h1>Misión</h1>
          </div>
        <p>
          Nos dedicamos al desarrollo, comercialización y exportación de
          alimentos, innovando constantemente para expandirnos a nuevos
          mercados, superando las expectativas del cliente.
        </p>
      </div>
    </div>

    <div id="sub-section-2">
      <h1 class="container-h1 bold">VALORES</h1>

<div id="open-val" (click)="ValShow(0)">
  <div id="close-valor-def">cerrar</div>

<div id="valone" class="valhide">
  <h1>INTEGRIDAD</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi magnam quod. Voluptatibus doloremque ullam eius iure facilis ea distinctio nesciunt exercitationem facere ipsam! Numquam totam vitae magni quas fugit.
</div>
<div id="valtwo" class="valhide">
  <h1>PASIÓN</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi magnam quod. Voluptatibus doloremque ullam eius iure facilis ea distinctio nesciunt exercitationem facere ipsam! Numquam totam vitae magni quas fugit.
</div>
<div id="valthree" class="valhide">
  <h1>INNOVACIÓN CONTINUA</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi magnam quod. Voluptatibus doloremque ullam eius iure facilis ea distinctio nesciunt exercitationem facere ipsam! Numquam totam vitae magni quas fugit.
</div>
<div id="valfour" class="valhide">
  <h1>ORIENTACIÓN AL SERVICIO</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi magnam quod. Voluptatibus doloremque ullam eius iure facilis ea distinctio nesciunt exercitationem facere ipsam! Numquam totam vitae magni quas fugit.
</div>




</div>

      <div id="sub-valores">
        <div class="valss" (click)="ValShow(1)">
          <img src="../../../assets/img/integridad.png" alt="integridad" />
          <h6>INTEGRIDAD</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            quod facilis magnam fuga natus numquam itaque qui a quisquam,
            placeat odio cupiditate cumque saepe aliquid. Porro a ratione
            doloremque enim?
          </p>
        </div>
        <div class="valss" (click)="ValShow(2)">
          <img src="../../../assets/img/pasion.png" alt="pasión" />
          <h6>PASIÓN</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            quod facilis magnam fuga natus numquam itaque qui a quisquam,
            placeat odio cupiditate cumque saepe aliquid. Porro a ratione
            doloremque enim?
          </p>
        </div>
        <div class="valss" (click)="ValShow(3)">
          <img src="../../../assets/img/innovacion.png" alt="innovacion continua"/>
          <h6>INNOVACIÓN CONTINUA</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            quod facilis magnam fuga natus numquam itaque qui a quisquam,
            placeat odio cupiditate cumque saepe aliquid. Porro a ratione
            doloremque enim?
          </p>
        </div>
        <div class="valss" (click)="ValShow(4)">
          <img
            src="../../../assets/img/orientacion.png"
            alt="orientación al servicio"/>
          <h6>ORIENTACIÓN AL SERVICIO</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            quod facilis magnam fuga natus numquam itaque qui a quisquam,
            placeat odio cupiditate cumque saepe aliquid. Porro a ratione
            doloremque enim?
          </p>
        </div>
      </div>
    </div>
  </div>
