
* {color: #FAFAFA;}

div#section-1 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #FFF;
    background: transparent;
    margin-top: 10rem;
}

div#sub-section-1 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.sub-mv {
    width: 350px;
    min-width: 350px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: start;
    text-align: center;
    padding: 1rem;
    position: relative;
}

div.sub-mv p {font-size: 14pt; margin-top: 1rem;}

div#sub-section-1 div.sub-mv img {
    display: block;
    width: 100px;
    position: relative;
}

div.sub-mv div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div#sub-section-1 p {
  width: 100%;
}


div#sub-section-1 div.sub-mv h1 {
    background-color: #AA182C;
    border-radius: 10px;
    display: block;
    height: 40px;
    width: 200px;
    position: relative;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#sub-section-2 {
    position: relative;
    width: 100%;
    margin-left: 0;
    height: auto;
    min-height: 50vh;
}

div#sub-section-2 div#sub-valores div img {
    width: 120px;
    height: auto;
    display: block;
}






div#sub-valores {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: space-around;
}

div#sub-valores div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scale(1);
  transition: .5s ease;
  width: 260px;
  margin-bottom: 50px;
  position: static;
  cursor: pointer;
}

div#sub-valores div:hover  {
    transform: scale(1.1);
}

div#sub-valores div img {
    position: relative;
    display: block;
}

div#sub-valores h6 {
    font-size: 19pt;
    padding: 0;
    width: 100%;
    min-width: 100%;
    text-align: center;
  }

  div#sub-valores p {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
    font-size: var(--fs-text);
    color: #252525;
    background: rgba(255,255,255,.6);
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 4px;
}

div#sub-valores div:hover p { opacity: 1; }
div#sub-valores div:hover img { width: 80px; }

@media screen and (max-width: 680px) {

   div#sub-valores div img {
    width: 80px;
    height: auto;
    min-height: 80px;
    display: block;
}

div#sub-valores h6 {
  font-size: 14pt;
}


  div#sub-valores div {
    margin-bottom: 1rem;
    width: 200px;
    position: relative;
  }

  div#sub-valores p {
    width: 300px;
    background: navy;
    padding: 0 1rem;
    text-align: left;
    opacity: 0;
    transition: .5s ease;
    top: 0;
    left: auto;
    position: relative;
    background: rgba(255,255,255,1);
    z-index: 49;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

div#sub-valores div:hover h6 { font-size: 17pt; }

div#sub-valores h6 { font-size: 14pt; }


}


@media screen and (max-width: 380px) {

  div#sub-valores h6 { font-size: 20pt; }
  div#sub-valores div { width: 80%; }
  div#sub-valores div img {width: 160px; }
}