
* {color: #FAFAFA;}

div#sub-section-1 {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

div.sub-mv {
    width: auto;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: start;
    text-align: center;
    padding: 1rem;
    position: relative;
}

div.sub-mv p {font-size: var(--fs-sub); margin-top: 1rem;}

div#sub-section-1 div.sub-mv img {
    display: block;
    width: 140px;
    height: auto;
    position: relative;
}

div.sub-mv div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div#sub-section-1 p {
  width: 100%;
}


div.sub-mv h1 {
  font-size: 30pt;
    background: #AA182C;
    border-radius: 10px;
    display: block;
    height: 40px;
    width: auto;
    position: relative;
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
}


div#sub-valores div img {
    width: 140px;
    height: auto;
    display: block;
}







div#sub-valores {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: static;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 10vh;
  }

  div#sub-valores * {transition: .2s ease-out;}

  div#sub-valores div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scale(1);
  transition: .5s ease;
  width: 300px;
  position: static;
  cursor: pointer;
}

/* div#sub-valores div:hover  {
    transform: scale(1.1);
} */

div#sub-valores div:hover h6 { font-size: 20pt; }

div#sub-valores div img {
    position: relative;
    display: block;
    z-index: 0;
}

div#sub-valores h6 {
    font-size: 30pt;
    padding: 0;
    width: 100%;
    min-width: 100%;
    text-align: center;
  }

  div#sub-valores p {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
    font-size: var(--fs-text);
    color: #252525;
    background: rgba(255,255,255,.6);
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 4px;
}

div#sub-valores div:hover p { opacity: 1; }
div#sub-valores div:hover img { width: 80px; }

@media (max-width: 680px) {

div#sub-valores h6 {
  font-size: 14pt;
}


  div#sub-valores div {
    margin-bottom: 1rem;
    width: 200px;
    position: relative;
  }

  div#sub-valores p {
    width: 220px;
    text-align: left;
    position: relative;
    padding: 1rem;
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}


@media screen and (max-width: 480px ) {
  div#sub-valores div { width: 90%; }
}


@media screen and (max-width:570px ) {
  div#sub-valores div p {height: 0px; transition: .4s;}
  div#sub-valores div:hover p {height: auto; max-height: 150px;}

  div#sub-section-1 div.sub-mv img { width: 110px; }
  div.sub-mv h1 { font-size: 20pt; }
  div#sub-valores div img { width: 180px; }
  div#sub-valores div:hover img { width: 130px; }
}
