<footer id="footer">
    <div class="footer-sub" id="f-sub-1">
      <img src="../../../assets/img/Logo Procasa original vertocal B.png" alt="logo Procasa">
      </div>
      <div class="footer-sub" id="f-sub-2">
          <h1>SÍGUENOS EN NUESTRAS REDES SOCIALES</h1>
      </div>
  
      <div id="f-sub-space"></div>
  
      <div class="footer-sub" id="f-sub-3">
              <div class="footer-sp"><h1>CORPORATIVO</h1></div>
          <p>
            <a href="#">Nuestra promesa</a>
              <a href="#">Catálogo</a>
              <a href="#">Nuestras marcas</a>
              <a href="#">Noticias</a>
          </p>
      </div>
      <div class="footer-sub" id="f-sub-4">
              <div class="footer-sp"><h1>CONTACTO</h1></div>
          <p>PBX. 2310 6000</p>
          <p>Asesoría y compra</p>
          <a href="javascript:return false;" id="open-form" (click)="OpenForm()">SUSCRÍBETE</a>
      </div>
  
      <div id="formulario">
          <h1>SUSCRÍBETE PARA RECIBIR NOTICIAS DE NUESTROS PRODUCTOS</h1>
              <label for="correo">INGRESA TU CORREO</label>
              <input type="mail" name="correo" placeholder="TU CORREO">
              <label for="nombre">NOMBRE</label>
              <input type="text" name="nombre" placeholder="TU NOMBRE">
              <label for="apellido">APELLIDO</label>
              <input type="text" name="apellido" placeholder="TU APELLIDO">
                  <button>ENVIAR</button>
      </div>
  
  
    </footer>
  
              
  