


div#sub {
    width: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

div#sub div#video {
    width: 50%;
    height: 400px;
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
}

div#video iframe {
    width: 100%;
    height: 100%;
}

div#sub div#quote {
    text-align: justify;
    width: 50%;
}

div#sub div#quote h1 {
    width: 100%;
    text-align: center;
    display: block;
    font-size: var(--fs-title);
    color: #FAFAFA;
}

div#sub div#quote p {
    padding: 0px 50px 0 50px;
    font-size: var(--fs-sub);
    color: #FAFAFA;
}



div#section-2 {
    width: 100%;
    height: 500px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    div#sub div#video {
        width: 80%;
        height: 550px;
        box-shadow: 1px 1px 15px rgba(0,0,0,.1);
    }
    div#sub div#quote { width: 80%; margin-top: 4rem;}
  }


  @media screen and (max-width: 700px) {
    div#sub div#video {
      width: 100%;
      height: 400px;
      box-shadow: 1px 1px 15px rgba(0,0,0,.1);
    }
    div#sub div#quote { width: 100%; }
}


@media screen and (max-width: 650px) {
    div#sub div#quote {
        text-align: justify;
        width: 100%;
    }
    div#sub div#quote p {padding: 0px;}
    
}

@media screen and (max-width: 766px) {
    div#sub div#quote h1 { display: none; }
}