<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiénes somos</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <div id="trans"></div>


<div id="space-esp"></div>

<h1 class="bold" id="title-admin">ADMINISTRACIÓN <div class="clip"></div> <p class="light">PÁGINA PRINCIPAL</p></h1>



<div id="cont-btn-preview">
  <div class="btn-scroll normal" (click)="toScrollAdmin(0)">Fondo</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(1)">Portada</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(2)">Previsualización</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(3)">Historia</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(4)">Línea de Tiempo</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(5)">Misión y Visión</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(6)">Valores</div>
  <div class="btn-scroll normal" (click)="toScrollAdmin(7)">Noticias</div>
</div>


<div class="container scroll-cont" id="container-bg">

  <h1 class="bold title-bg">FONDO DE LA PÁGINA</h1>
  <div id="cont-separador">
    <div id="separador">
      <div class="normal sl-img" (click)="toggleImgColor(0, 'img')">imagen</div>
      <div class="normal sl-color" (click)="toggleImgColor(1, 'color')">color</div>
    </div>
  </div>

  <div class="sub-container-items" id="sub-cont-img">
    <div id="cont-input-file-bg" class="sub-items">
      <input (change)="ChangeFileBackground($event)" (change)="getFileBack($event)" accept="image/png, image/jpeg, image/jpg" id="file-bg" type="file" title="seleccionar archivo" data-content="seleccionar archivo">
      <!-- <input type="file" (change)="manejarCambioArchivo($event)" title="input for demo"> -->
      <img id="pre-bg" [src]="imgfondo" alt="portada" title="previsualización del archivo">
    </div>

    <div class="prewiew sub-items">
      <img id="navbar-pre-bg" src="../../../assets/img/navbar.png" alt="navbar" title="navbar preview">
      <img id="preview-bg" [src]="imgfondo" alt="fondo" title="previsualización del archivo">
      <img id="footer-bg" src="../../../assets/img/footer.png" alt="footer" title="footer preview">
    </div>

    <div id="cont-caracteristics-bg" class="sub-items">

      <div class="cont-carac">

        <h4>requisitos recomendados</h4>
        <ul>
          <li> Ancho: <span class="bold">1920 px</span> </li>
          <li> Alto:  <span class="bold">1080 px</span></li>
          <li> Peso: <span class="bold">2 MB</span></li>
        </ul>
      </div>

      <div class="cont-carac">

        <h4>detalles del archivo</h4>
        <ul>
          <li>ancho: <span class="bold danger-red" id="innerwidth-bg"></span> </li>
          <li>alto:  <span class="bold danger-red" id="innerheight-bg"></span> </li>
          <li>peso:  <span class="bold danger-red" id="innersize-bg"></span></li>
        </ul>
      </div>

    </div>


    <div class="cont-buttons">
      <div class="btn-click btn-red" id="saveBgImg"><mat-icon>save</mat-icon> guardar</div>
    </div>
  </div>

<div id="sub-cont-color">
  <p class="normal">Seleccionar color de fondo</p>
  <input type="color" title="color de fondo" [(ngModel)]="colorBg" data-color="">

  <div class="cont-buttons">
    <div class="btn-click btn-red" (click)="sendColorbackGord()"><mat-icon>save</mat-icon> guardar</div>
  </div>
</div>


  <div class="foot-cont">
    <div class="cont-buttons">
    </div>
  </div>

</div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="container scroll-cont" id="container-1">
  <h1 class="bold title-bg">PORTADA PRINCIPAL</h1>
  <div class="sub-container-items">
    <div id="cont-input-file">
      <input (change)="preSavePortada($event)" (change)="getFilePortada($event)" accept="image/png, image/jpeg, image/jpg" id="file-portada" type="file" title="seleccionar archivo" data-content="seleccionar archivo">
      <!-- <input type="file" (change)="manejarCambioArchivo($event)" title="input for demo"> -->
      <img id="pre-portada" [src]="imgPrincipal" alt="portada" title="previsualización del archivo">

    </div>

    <div class="prewiew">
      <img id="navbar-pre" src="../../../assets/img/navbar.png" alt="navbar" title="navbar preview">
        <div id="contpreimg">
          <img id="preview-portada" [src]="imgPrincipal" alt="portada" title="previsualización del archivo">
        </div>
      <img id="footer-pre" src="../../../assets/img/footer.png" alt="footer" title="footer preview">
    </div>

    <div id="cont-caracteristics">

      <div class="cont-carac">

        <h4>requisitos recomendados</h4>
        <ul>
          <li> Ancho: <span class="bold">1250 px</span> </li>
          <li> Alto:  <span class="bold">875 px</span></li>
          <li> Peso: <span class="bold">2 MB</span></li>
        </ul>
      </div>

      <div class="cont-carac">

        <h4>detalles del archivo</h4>
        <ul>
          <li>ancho: <span class="bold danger-red" id="innerwidth"></span> </li>
          <li>alto:  <span class="bold danger-red" id="innerheight"></span> </li>
          <li>peso:  <span class="bold danger-red" id="innersize"></span></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="foot-cont">
    <div class="cont-buttons">
      <div (click)="testEmptyPortada()" class="normal btn-red btn-click" id="btn-save-portada" (click)="sendFilePortada()"><mat-icon>save</mat-icon> guardar</div>
    </div>
  </div>

</div>



<div id="container-preview" class="container scroll-cont">
  <h1 class="bold title-bg">PREVISUALIZACIÓN FINAL</h1>
  <div id="sub-cont-preview-end">
    <img id="nav-end" src="../../../assets/img/navbar.png" alt="navbar" title="navbar preview">
    <div>
        <img id="endpreview-bg" [src]="imgfondo" alt="">
        <img id="endpreview-portada" [src]=" imgPrincipal" alt="">
      </div>
    <img id="foo-end" src="../../../assets/img/footer.png" alt="footer" title="footer preview">
  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="container scroll-cont" id="container-2">
  <h1 class="bold title-bg">HISTORIA</h1>


  <div id="buts-enable-hs">
    <button class="btn-click btn-red normal" id="habilitar-hs" (click)="EnableHistoria()"><mat-icon>edit</mat-icon></button>
    <button class="btn-click btn-red normal" id="deshabilitar-hs" (click)="DisableHistoria()"><mat-icon>close</mat-icon></button>
  </div>


  <form [formGroup]="formularioEditHistoria" (ngSubmit)="onSubmit()">
  <div class="sub-cont-2">
      <label for="enlace">Enlace del video:</label>
      <input required="required" id="iframe-value" class="normal" name="enlace" type="text" [(ngModel)]="EncalceVideo" formControlName="EncalceVideo" placeholder="enlace del video" value="">
  </div>

    <div class="sub-cont-2">
            <label for="historia">Desgloce de Historia:</label>
            <textarea name="historia" class="normal" id="textareaValidate" cols="40" rows="10" formControlName="DescripcionHistoria" [(ngModel)]="textoHistoria" title="descripción"></textarea>
    </div>

  <div class="foot-cont">

  <div class="cont-buttons">
    <div class="btn-click normal btn-red" (click)="preSaveHistoria()" id="btn-alert-2"><mat-icon>save</mat-icon> guardar</div>

  </div>


</div>
  <div class="container-alert" #containerAlertElementHis>
    <div class="alert-model">
        <p class="inner-message bold"></p>

        <div class="message"> <h1 class="innermsg"></h1></div>
        <div class="cont-btns-alert">
          <button class="confirm" (click)="guardarHistoria()">confirmar</button>
          <div class="replace-button cancel">cancelar</div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="container scroll-cont" id="container-3">
  <h1 class="bold title-bg">LÍNEA DE TIEMPO</h1>
  <div id="sub-cont-3">
  @for (os of dataLinea; track os._id) {
    <div class="cont-3-timeline">
      <img class="img-linetiempo" [src]="os.ImgPathLineaTiempo" [width]="1000" [height]="1000" alt="item 1" title="item 1">
      <p class="input-to-text bold">{{os.titleLineaTiempo}}</p>
      <p class="input-to-text">{{os.descriptionLineaTiempo}}</p>
      <p class="input-to-text">{{os.fechaFormateada}}</p>
                  <div class="btn-click normal" (click)="editarModal(os._id)" (click)="Modal()"><mat-icon>edit</mat-icon></div>
                  <div class="btn-click btn-red normal" (click)="eliminarLineaTiempo(os._id)"><mat-icon>delete</mat-icon></div>
                </div>
              }
            </div>
            <div id="cont-3-see-all" class="normal btn-click btn-red" (click)="ModalAddTimeLine()"><mat-icon>launch</mat-icon> agregar</div>
            <div class="foot-cont">
    <div class="cont-buttons">

    </div>
  </div>

</div>



<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="container scroll-cont" id="container-4">
  <h1 class="bold title-bg">MISIÓN y VISIÓN</h1>
  
  <div id="buts-enable-mv">
    <button class="btn-click btn-red normal" id="habilitar-mv" (click)="EnableMisionVision()"><mat-icon>edit</mat-icon></button>
    <button class="btn-click btn-red normal" id="deshabilitar-mv" (click)="DisableMisionVision()"><mat-icon>close</mat-icon></button>
</div>

<form [formGroup]="formularioMisionValor"  >
  <div id="cont-textareas">
    
  <div class="cont-inter">
      <label class="bold" for="ttarea1">Misión</label>
      <textarea [(ngModel)]="mision" formControlName="textMision" title="Misión" class="normal" name="ttarea1" id="mision-txt" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter">
      <label class="bold" for="ttarea2">Visión</label>
      <textarea title="Visión" [(ngModel)]="vision" formControlName="textVIsion" class="normal" name="ttarea2" id="vision-txt" cols="35" rows="10"></textarea>
    </div>
    
  </div>
  <div class="foot-cont">
    
    <div class="cont-buttons">
      <div class="btn-red btn-click normal" id="cancel-c" (click)="preSaveMisionVision()"><mat-icon>save</mat-icon> guardar</div>
    </div>
  </div>
  

</form>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="container scroll-cont" id="container-5">
  <h1 class="bold title-bg">VALORES</h1>
  <div class="buts-enable">
    <button class="btn-click btn-red normal" id="vhabilitar" (click)="EnableValores()"><mat-icon>edit</mat-icon></button>
    <button class="btn-click btn-red normal" id="vdeshabilitar" (click)="DisableValores()"><mat-icon>close</mat-icon></button>
  </div>



  <form [formGroup]="formularioValores">
    <div id="cont-textareas-valores">
    <div class="cont-inter-valores">

        <label class="bold" for="ttare1">Integridad</label>
        <textarea [(ngModel)]="Integridadmodel" formControlName="Integridad" class="valores-txt normal" title="Integridad" name="ttare1" id="txt-integridad" cols="35" rows="10"></textarea>

      </div>

      <div class="cont-inter-valores">
        <label class="bold" for="ttare2">Pasión</label>
        <textarea [(ngModel)]="PasionModel" formControlName="Pasion" class="valores-txt normal" title="pasion" name="ttare2" id="txt-pasion" cols="35" rows="10"></textarea>
      </div>

    <div class="cont-inter-valores">
      <label class="bold" for="ttare3">Innovación continua</label>
      <textarea class="valores-txt normal" [(ngModel)]="InnovacionModel"  formControlName="Innovacion" title="Innovación continua" name="ttare3" id="txt-innovacion" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter-valores">
      <label class="bold" for="ttare4">Orientación al servicio</label>
      <textarea class="valores-txt normal" [(ngModel)]="OrientacionModel" formControlName="Orientacion" title="Orientación al servicio" name="ttare4" id="txt-orientacion" cols="35" rows="10"></textarea>
    </div>
    <div class="foot-cont">
      <div class="cont-buttons">

        <div class="normal btn-red btn-click" (click)="preSaveValores()"><mat-icon>save</mat-icon> guardar</div>
      </div>
    </div>
  </div>

  </form>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="container scroll-cont" id="container-6">
  <h1 class="bold title-bg">NOTICIAS</h1>


  
  <div id="cont-6-noticias">
    @for (os of dataLineaRespuesta; track os._id) {
      
      
    <div class="noticia">
      <img [src]="os.imgPhat"  alt="noticia">
    <h2>{{os.title}}</h2>
    <p>{{os.descripcion}}</p>
          <div class="btn-click normal" (click)="obtenerxidNoticias(os._id)" (click)="ModalEditNotice()"><mat-icon>edit</mat-icon></div>
          <div class="btn-red btn-click normal" (click)="eliminarNoticia(os._id)" ><mat-icon>delete</mat-icon></div>
        </div>
      }
  </div>

  <div class="foot-cont">

    <div class="cont-buttons">
      <div id="show-more" (click)="ShowMore()">mostrar más</div>
      <button class="normal btn-red btn-click" (click)="NewModalNotice()"><mat-icon>add</mat-icon> agregar</button>
    </div>
  </div>

</div>

<div id="modal-6">
  <div id="close-modal-6"></div>
  <h1 class="bold">NOTICIAS</h1>
</div>












<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- M O D A L E S -->

<div id="modal-time-line-add">
<h1 class="title-modal">Agregar Línea de Tiempo</h1>
  <div id="cont-close-button-add">
    <button id="close-modal-3-add" (click)="ModalAddTimeLine()" ><mat-icon>close</mat-icon></button>
  </div>

  <form [formGroup]="formularioAgregarLineaTiempo"  >
    <div class="preview-img-model">
  <label for="file">Imagen</label>
  <input type="file" id="new-file-input" #newFileInput (change)="preSaveTimeLine($event)" (change)="getFile($event)" name="file" data-content="seleccionar archivo" title="imagen">
  <div class="details-img">
    <ul>
      <li>ancho: <p class="innerdetails bold"></p></li>
      <li>alto:<p class="innerdetails bold"></p></li>
      <li>Realcion:<p class="innerdetails bold"></p></li>
      <li>tamaño:<p class="innerdetails bold"></p></li>
    </ul>
    <img src="" alt="" id="img-pre-tl">
  </div>
</div>

<div class="subcont-modal">
  <label for="title">Título</label>
  <input type="text" #newTituloTl id="new-titulo-tl" formControlName="titleLineaTiempo" name="title" title="título">
  <label for="description">Descripción</label>
  <input type="text" id="new-desc-tl" formControlName="descriptionLineaTiempo" title="description">
  <label for="fecha-new-lt">fecha</label>
  <input type="date" formControlName="fecha" >
  <label for="mostrarnew">Mostrar por</label>
  <select name="mostrarpornew" id="mostrarnew" formControlName="mostrarPor">
    <option value="anio">año</option>
    <option value="anioyMes">año - mes</option>
    <option value="anioMesDia">año - mes - día</option>
  </select>

</div>

    <div class="btn-click btn-red normal" id="save-new-tili"><mat-icon>save</mat-icon> guardar</div>

  </form>
</div>



<!------------------------------------------------------------------------------------------------------------------------------------------------------>



<div id="modal-time-line">
  <h1 class="title-modal">Editar Línea de Tiempo</h1>
  <div id="cont-close-button">
    <button class="btn-click normal" id="close-modal-3"  (click)="Modal()" ><mat-icon>close</mat-icon></button>
  </div>

  <form [formGroup]="formularioEditlineaTiempo" (ngSubmit)="editarTime()">
    <div class="preview-img-model">
    <label for="file">Imagen</label>
    <input type="file" id="file-update-lt"  (change)="toUpdateLineaTiempo($event)" (change)="getFileUpdateTiempo($event)" name="file" data-content="seleccionar archivo" title="imagen">
    <div class="details-img">
      <ul>
        <li>ancho <span class="innerdetails bold" id="width-update-lt"></span></li>
        <li>alto <span class="innerdetails bold" id="height-update-lt"></span></li>
        <li>tamaño <span class="innerdetails bold" id="size-update-lt"></span></li>
      </ul>
    </div>
  <div class="preview-img-model">
    <img src="" alt="" id="img-update-tl">
  </div>

</div>
  <div class="subcont-modal">
    <label for="title">Título</label>
    <input   type="text" id="titulo-update-lt" formControlName="titleLineaTiempo" [(ngModel)]="tituloModal" name="title" title="título" required>
    <label for="description">Descripción</label>
    <input type="text" formControlName="descriptionLineaTiempo" id="desc-update-lt" [(ngModel)]="descripcionModal"  title="description">
    <label for="fecha-edit-lt">fecha</label>
  <input formControlName = "fecha" [(ngModel)]="fechaModal"  type="date" id="fechaupdatelt" name="fecha-edit-lt" title="fecha de línea de tiempo">
  <label for="mostrarpor" >Mostrar por</label>
    <select formControlName="mostrarPor" name="mostrarpor" id="mostrarporedit" [(ngModel)]="mostrarPorModal">
      <option value="anio">año</option>
      <option value="aniomes">año - mes</option>
      <option value="mesdia">mes - día</option>
    </select>
  </div>

    <div class="btn-click btn-red normal" id="update-time-line" (click)="saveUpdateTimeLine()"><mat-icon>save</mat-icon> guardar</div>

  </form>
</div>

<!-------------------------------------------------------------------------------------------------------------------------------------->


<!-- M O D A L   N U E V O   N O T I C I A S  -->
<div id="modal-new-notice">
  <div id="cont-btn-close-new"> <button id="close-modal-notice-new" (click)="NewModalNotice()">cerrar</button> </div>

<form [formGroup]="formularioAgregarNoticias">
  <div class="preview-img-model">
<label for="file-notice">imagen</label>
<input id="file-noticia" (change)="getFileNoticia($event)" (change)="saveNewNoticia($event)" title="imagen de noticia" type="file" name="file-notice" data-content="seleccionar archivo">

<div class="details-img">
  <ul>
    <li>ancho <span class="innerdetails bold" id="width-new-n"></span></li>
    <li>alto <span class="innerdetails bold" id="height-new-n"></span></li>
    <li>tamaño <span class="innerdetails bold" id="size-new-n"></span></li>
  </ul>
  <img src="" alt="" id="img-pre-noticia">
</div>

</div>

<div class="subcont-modal">
  <label for="title-notice">Título</label>
  <input id="titulo-noticia" formControlName="title" type="text" name="title-notice" title="Título de noticia">
  <label for="description-notice">Descripción</label>
  <textarea id="desc-noticia" formControlName="descripcion" title="descripción de noticia" name="description-notice" cols="26" rows="5"></textarea>
  <label for="select-add">Tipo De Noticia</label>
  <select formControlName="tipo" name="select-add" id="select-add-noticia">
    <option value="principal">Pricipal</option>
    <option value="secundarios">Secundario</option>
  </select>
</div>



<div class="btn-red btn-click normal" id="presave-noticia" (click)="guardarNoticia()"><mat-icon>save</mat-icon> guardar</div>


</form>

</div>






<!-- M O D A L   E D I T A R   N O T I C I A S  -->
<div id="modal-edit-notice">
        <div id="cont-btn-close"> <button id="close-modal-notice" (click)="ModalEditNotice()">cerrar</button> </div>

<form [formGroup]="formularioEditarNoticias"  >

  <div class="preview-img-model">
<label for="file-notice">imagen</label>
<input (change)="updateNoticia($event)" (change)="getFileUpdateNoticia($event)"  id="file-edit-noticia" title="imagen de noticia" type="file" name="file-notice" data-content="seleccionar archivo">
<div class="details-img">
  <ul>
    <li>ancho <span class="innerdetails bold" id="width-edit-n"></span></li>
    <li>alto <span class="innerdetails bold" id="height-edit-n"></span></li>
    <li>tamaño <span class="innerdetails bold" id="size-edit-n"></span></li>
  </ul>
  <img src="" alt="" id="img-pre-noticia-edit">
</div>

</div>


<div class="subcont-modal">
<label for="title-notice">Título</label>              <input type="text" [(ngModel)]="tituloNoticia" formControlName="title" name="title-notice" title="Título de noticia" id="title-update-noticia">
<label for="description-notice">Descripción</label>   <textarea title="descripción de noticia" [(ngModel)]="descripcionNoticia" formControlName="descripcion" name="description-notice" id="desc-update-noticia" cols="26" rows="5"></textarea>
<label for="select-edit">prioridad</label>
  <select name="select-edit" id="select-edit-noticia">
    <option value="0">no prioritario</option>
    <option value="1">prioritario</option>
  </select>
</div>

<div class="normal btn-click btn-red" id="update-noticia"><mat-icon>save</mat-icon> SAVE</div>

</form> </div>




<div id="space-sp"></div>

<div id="container-welcome">
  <div>

    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256.000000 255.000000"
    preserveAspectRatio="xMidYMid meet">

   <g transform="translate(0.000000,255.000000) scale(0.100000,-0.100000)"
   fill="#AA182C" stroke="none">
   <path d="M1213 2444 c-52 -26 -78 -78 -77 -149 1 -33 9 -87 17 -120 15 -59 21
   -113 18 -167 -2 -52 -112 -150 -234 -210 -81 -40 -123 -72 -145 -111 -16 -30
   -17 -87 -17 -780 l0 -749 24 -19 c22 -18 45 -19 491 -19 446 0 469 1 491 19
   l24 19 0 749 c0 693 -1 750 -17 780 -22 39 -64 71 -148 113 -74 36 -117 66
   -178 124 -68 65 -70 86 -28 298 17 85 13 127 -15 174 -36 60 -136 82 -206 48z
   m122 -108 c13 -19 13 -28 4 -50 -22 -46 -82 -46 -100 1 -23 60 61 103 96 49z
   m-55 -1294 c0 -563 0 -560 -43 -575 -21 -8 -57 25 -57 51 0 10 11 61 25 113
   41 156 31 199 -46 199 l-39 0 0 73 c0 198 34 499 64 571 15 35 73 106 87 106
   5 0 9 -227 9 -538z m-280 303 c6 -110 12 -273 13 -362 1 -122 5 -163 15 -163
   16 0 15 -8 -4 -28 -12 -12 -15 -26 -10 -61 14 -103 18 -217 7 -243 -8 -22 -17
   -28 -40 -28 -51 0 -55 15 -47 177 5 128 4 148 -10 165 -14 14 -14 18 -3 18 11
   0 15 25 17 123 4 170 21 523 28 575 12 82 23 26 34 -173z m565 142 l100 -12
   -1 -30 c0 -17 -9 -88 -20 -160 -16 -110 -19 -186 -19 -484 l0 -354 -23 -10
   c-17 -8 -31 -6 -57 6 -39 18 -44 40 -17 70 15 16 17 46 20 218 l4 199 -96 0
   c-89 0 -96 2 -108 23 -16 29 -16 313 1 427 20 138 16 131 70 125 25 -4 91 -12
   146 -18z"/>
   </g>
   </svg>

    <h1 id="title-welcome">¡Bienvenido al Administrador de <b class="bold">Procasa</b>!</h1>
  </div>
</div>

<div id="toScrollTop" (click)="toScrollTop()"><img src="../../../assets/img/flecha.png" alt=""></div>


<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->





</body>
</html>
