<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiénes somos</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <div id="trans"></div>



<div id="space-esp"></div>

<h1 class="bold" id="title-admin">ADMINISTRACIÓN <div class="clip"></div> <p class="light">PÁGINA PRINCIPAL</p></h1>

<div id="cont-btn-preview">
  <!-- <button id="init-preview" class="bold">PREVISUALIZAR</button> -->
</div>

<div class="container" id="container-1">
  <h1 class="bold title-bg">PORTADA PRINCIPAL</h1>
  <div class="sub-container-1">
    <div id="cont-input-file">
      <input (change)="previewFileImg($event)"   (change)="getFilePortada($event)"  accept="image/png, image/jpeg, image/jpg" id="file-portada" type="file" title="seleccionar archivo" data-content="seleccionar archivo">
      <!-- <input type="file" (change)="manejarCambioArchivo($event)" title="input for demo"> -->
      <img id="pre-portada" [src]="'http://localhost:3002/' + imgPrincipal" id="pre-portada" alt="portada" title="previsualización del archivo">
    </div>

    <div class="prewiew">
      <img id="navbar-pre" src="../../../assets/img/navbar.png" alt="navbar" title="navbar preview">
      <img id="preview-portada" src="" alt="portada" title="previsualización del archivo">
      <img id="footer-pre" src="../../../assets/img/footer.png" alt="footer" title="footer preview">
    </div>

    <div id="cont-caracteristics">

      <div class="cont-carac">

        <h4>requisitos recomendados</h4>
        <ul>
          <li>ancho: </li>
          <li>alto: </li>
          <li>peso: </li>
        </ul>
      </div>

      <div class="cont-carac">

        <h4>detalles del archivo</h4>
        <ul>
          <li>ancho: <span class="bold danger-red" id="innerwidth"></span> </li>
          <li>alto:  <span class="bold danger-red" id="innerheight"></span> </li>
          <li>peso:  <span class="bold danger-red" id="innersize"></span></li>
        </ul>
      </div>


    </div>
  </div>

  <div class="foot-cont">

    <div class="cont-buttons">
      <!-- <button id="btn-alert-1" class="normal" >guardar</button> -->
      <div class="normal replace-button" id="btn-alert-1" (click)="AlertConfirm('¿Desea guardar los cambios?','a')">guardar</div>
    </div>
  </div>



  <div id="container-alert-a">
    <div id="alert-check-a" class="alert-model">
        <p class="bold" id="inner-message-a"></p>

        <div id="cont-btns-alert-a">
          <button id="confirm" (click)="sendFilePortada()">confirmar</button>
          <!-- <button id="cancel">cancelar</button> -->
          <div id="cancel-a" class="replace-button">cancelar</div>
        </div>
      </div>
  </div>

  <div class="success-message" id="messagge-a"> <h1 id="innermsg-a"></h1> <div id="timesuccess"></div> </div>
</div>



<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->



<div class="container" id="container-2">
  <h1 class="bold title-bg">HISTORIA</h1>


  <div id="buts-enable-hs">
    <button id="habilitar-hs" (click)="EnableHistoria()">Editar</button>
    <button id="deshabilitar-hs" (click)="DisableHistoria()">Cancelar</button>
  </div>


  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="sub-cont-2">
      <label for="enlace">Enlace del video:</label>
      <input required="required" id="iframe-value" name="enlace" type="text" [(ngModel)]="EncalceVideo" formControlName="EncalceVideo"  (change)="IframeVideo()" placeholder="enlace del video" value="">

    <iframe required="required" id="iframe-preview" width="560" height="315" src=""
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  </div>

    <div class="sub-cont-2">
            <label for="historia">Desgloce de Historia:</label>
            <textarea (keyup)="textareaValue(this.desgloce)" name="historia" id="textareaValidate" cols="40" rows="10" formControlName="DescripcionHistoria" [(ngModel)]="textoHistoria" title="descripción"></textarea>
          </div>

      <div class="foot-cont">

  <div class="cont-buttons">
    <!-- <button id="btn-alert-2" class="normal" (click)="AlertConfirm('¿Desea guardar los cambios?','b')">guardar</button> -->
    <div class="replace-button normal" id="btn-alert-2" (click)="AlertConfirm('¿Desea guardar los cambios?','b')">guardar</div>
  </div>


  <div id="container-alert-b">

    <div id="alert-check-b" class="alert-model">
        <p class="bold" id="inner-message-b"></p>

        <div id="cont-btns-alert-b">
          <button type="submit" id="confirm-b" (click)="editarHistoria()" >confirmar</button>
          <!-- <button id="cancel-b">cancelar</button> -->
          <div class="replace-button" id="cancel-b">cancelar</div>
        </div>

        <div id="time-b"></div>
      </div>
  </div>



</div>
</form>
<!-- <button class="normal " (click)="AlertConfirm('pruea')" >guardar</button> -->
<div class="success-message" id="messagge-b"> <h1 id="innermsg-b"></h1> <div id="timesuccess"></div> </div>
</div>




<div class="container" id="container-3">
  <h1 class="bold title-bg">LÍNEA DE TIEMPO</h1>
  <div id="sub-cont-3">
  @for (os of dataLinea; track os._id) {
    <div class="cont-3-timeline">
      <img [src]="'http://localhost:3002/' + os.ImgPathLineaTiempo" alt="item 1" title="item 1">
      <p class="input-to-text bold">{{os.titleLineaTiempo}}</p>
      <p class="input-to-text">{{os.descriptionLineaTiempo}}</p>
                  <button class="edit-timeline" type="button" (click)="editarModal(os._id)" (click)="Modal()">editar</button>
                  <button class="edit-timeline del-bg" type="button" (click)="eliminarLineaTiempo(os._id)">eliminar</button>
                </div>
              }

            </div>


<button id="cont-3-see-all" class="bold" (click)="ModalAddTimeLine()">Agregar</button>


  <div class="foot-cont">

    <div class="cont-buttons">


    </div>
  </div>
</div>



<div class="container" id="container-4">
  <h1 class="bold title-bg">MISIÓN y VISIÓN</h1>

<div id="buts-enable-mv">
  <button id="habilitar-mv" (click)="EnableMisionVision()">Editar</button>
  <button id="deshabilitar-mv" (click)="DisableMisionVision()">Cancelar</button>
</div>

<form [formGroup]="formularioMisionValor" (ngSubmit)="guardarMision()" >
<div id="cont-textareas">

  <div class="cont-inter">
      <label class="bold" for="ttarea1">Misión</label>
      <textarea [(ngModel)]="mision" formControlName="textMision" title="Misión" name="ttarea1" id="mision-txt" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter">
      <label class="bold" for="ttarea2">Visión</label>
      <textarea title="Visión" [(ngModel)]="vision" formControlName="textVIsion" name="ttarea2" id="vision-txt" cols="35" rows="10"></textarea>
    </div>

  </div>
  <div class="foot-cont">

    <div class="cont-buttons">
      <!-- <div class="normal" (click)="AlertConfirm('¿Desea guardar los cambios?','c')">guardar</div> -->
      <div class="replace-button normal" id="cancel-c" (click)="AlertConfirm('¿Desea guardar los cambios?','c')">guardar</div>
    </div>
  </div>

  <div id="container-alert-c">
    <div id="alert-check-c" class="alert-model">
        <p class="bold" id="inner-message-c"></p>
        <div id="cont-btns-alert-c">
          <button type="submit" id="confirm-c">confirmar</button>
          <div id="cancel-c" class="replace-button">cancelar</div>
        </div>
      </div>
  </div>


</form>
</div>



<div class="container" id="container-5">
  <h1 class="bold title-bg">VALORES</h1>
  <div class="buts-enable">
    <button id="vhabilitar" (click)="EnableValores()">Editar</button>
    <button id="vdeshabilitar" (click)="DisableValores()">Cancelar</button>
  </div>



  <form [formGroup]="formularioValores" (ngSubmit)="editarValores()">
    <div id="cont-textareas-valores">
    <div class="cont-inter-valores">

        <label class="bold" for="ttare1">Integridad</label>
        <textarea [(ngModel)]="Integridadmodel" formControlName="Integridad" class="valores-txt" title="Integridad" name="ttare1" id="txt-integridad" cols="35" rows="10"></textarea>

      </div>

      <div class="cont-inter-valores">
        <label class="bold" for="ttare2">Pasión</label>
        <textarea [(ngModel)]="PasionModel" formControlName="Pasion" class="valores-txt" title="pasion" name="ttare2" id="txt-pasion" cols="35" rows="10"></textarea>
      </div>

    <div class="cont-inter-valores">
      <label class="bold" for="ttare3">Innovación continua</label>
      <textarea class="valores-txt" [(ngModel)]="InnovacionModel"  formControlName="Innovacion" title="Innovación continua" name="ttare3" id="txt-innovacion" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter-valores">
      <label class="bold" for="ttare4">Orientación al servicio</label>
      <textarea class="valores-txt" [(ngModel)]="OrientacionModel" formControlName="Orientacion" title="Orientación al servicio" name="ttare4" id="txt-orientacion" cols="35" rows="10"></textarea>
    </div>
    <div class="foot-cont">
      <div class="cont-buttons">

        <button class="normal" (click)="AlertConfirm('¿Desea guardar los cambios?','d')">guardar</button>
      </div>
    </div>
  </div>



  <div id="container-alert-d">
    <div id="alert-check-d" class="alert-model">
        <p class="bold" id="inner-message-d"></p>

        <div id="cont-btns-alert-d">
          <button id="confirm-d">confirmar</button>
          <div id="cancel-d" class="replace-button">cancelar</div>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="container" id="container-6">
  <h1 class="bold title-bg">NOTICIAS</h1>



  <div id="cont-6-noticias">
  @for (os of dataLineaRespuesta; track os._id) {


    <div class="noticia">
      <img  [src]="'http://localhost:3002/' + os.imgPhat"  alt="noticia">
    <h2>{{os.title}}</h2>
    <p>{{os.descripcion}}</p>
          <button type="button" class="edit-notice" (click)="obtenerxidNoticias(os._id)" (click)="ModalEditNotice()">editar</button>
          <button type="button" class="edit-notice del-bg" (click)="eliminarNoticia(os._id)" >eliminar</button>
        </div>
      }
  </div>

  <div class="foot-cont">

    <div class="cont-buttons">
      <div id="show-more" (click)="ShowMore()">mostrar más</div>
      <button class="normal" (click)="NewModalNotice()">agregar</button>
    </div>
  </div>

</div>

<!--
<div >
  <button id="close-modal-3-add" (click)="ModalAddTimeLine()" >cerrar</button>
</div> -->




<div id="modal-6">
  <div id="close-modal-6"></div>
  <h1 class="bold">NOTICIAS</h1>
</div>




<div id="modal-time-line">

  <div id="cont-close-button">
    <button id="close-modal-3"  (click)="Modal()" >cerrar</button>
  </div>

  <form [formGroup]="formularioEditlineaTiempo" (ngSubmit)="editarTime()">
  <label for="file">Imagen</label>
    <input type="file"   name="file"  (change)="getFileUpdateTiempo($event)" title="imagen" required>
  <label for="title">Título</label>
    <input type="text"  formControlName="titleLineaTiempo" [(ngModel)]="tituloModal" name="title" title="título" required>
  <label for="description">Descripción</label>
    <input type="text" formControlName="descriptionLineaTiempo" [(ngModel)]="descripcionModal"  title="description">
    <!-- <button type="submit" class="bold "  >guardar</button> -->

    <div class="replace-button normal" (click)="AlertConfirm('¿Desea guardar los cambios?','h')">guardar</div>

    <div id="container-alert-h">
      <div id="alert-check-h" class="alert-model">
          <p class="bold" id="inner-message-h"></p>

          <div id="cont-btns-alert-h">
            <button id="confirm-h" (click)="sendFileUpdateTiempo()" > confirmar</button>
            <div id="cancel-h" class="replace-button">cancelar</div>
          </div>
        </div>
    </div>

  </form>
</div>


























<div id="modal-time-line-add">

  <div id="cont-close-button-add">
    <button id="close-modal-3-add" (click)="ModalAddTimeLine()" >cerrar</button>
  </div>

  <form [formGroup]="formularioAgregarLineaTiempo"  >
  <label for="file">Imagen</label>
    <input type="file" (change)="getFile($event)"  name="file" title="imagen">
  <label for="title">Título</label>
    <input type="text"  formControlName="titleLineaTiempo" ame="title" title="título">
  <label for="description">Descripción</label>
    <input type="text" formControlName="descriptionLineaTiempo"title="description">
    <!-- <button type="submit" class="bold " (click)="ModalAddTimeLine()"  >guardar</button> -->
    <div class="replace-button normal" (click)="AlertConfirm('¿Desea guardar los cambios?','g')">guardar</div>

    <div id="container-alert-g">
      <div id="alert-check-g" class="alert-model">
          <p class="bold" id="inner-message-g"></p>

          <div id="cont-btns-alert-g">
            <button id="confirm-g" (click)="sendFile()" >confirmar</button>
            <div id="cancel-g" class="replace-button">cancelar</div>
          </div>
        </div>
    </div>

  </form>
</div>



<!-- M O D A L   E D I T A R   N O T I C I A S  -->
<div id="modal-edit-notice">
        <div id="cont-btn-close"> <button id="close-modal-notice" (click)="ModalEditNotice()">cerrar</button> </div>

<form [formGroup]="formularioEditarNoticias"  >

<label for="file-notice">imagen</label>               <input (change)="getFileUpdateNoticia($event)"  title="imagen de noticia" type="file" name="file-notice">
<label for="title-notice">Título</label>              <input type="text" [(ngModel)]="tituloNoticia" formControlName="title" name="title-notice" title="Título de noticia">
<label for="description-notice">Descripción</label>   <textarea title="descripción de noticia" [(ngModel)]="descripcionNoticia" formControlName="descripcion" name="description-notice" id="" cols="26" rows="5"></textarea>

<!-- <button type="submit" class="">guardar</button> -->
<div class="replace-button normal" (click)="AlertConfirm('¿Desea guardar los cambios?','e')">guardar</div>

<div id="container-alert-e">
  <div id="alert-check-e" class="alert-model">
      <p class="bold" id="inner-message-e"></p>

      <div id="cont-btns-alert-e">
        <button id="confirm-e" (click)="sendFileUpdateNoticia()" >confirmar</button>
        <div id="cancel-e" class="replace-button">cancelar</div>
      </div>
    </div>
</div>

</form>
</div>

<!-- M O D A L   N U E V O   N O T I C I A S  -->
<div id="modal-new-notice">
        <div id="cont-btn-close-new"> <button id="close-modal-notice-new" (click)="NewModalNotice()">cerrar</button> </div>

<form [formGroup]="formularioAgregarNoticias"  >

<label for="file-notice">imagen</label>               <input  (change)="getFileNoticia($event)" title="imagen de noticia" type="file" name="file-notice">
<label for="title-notice">Título</label>              <input  formControlName="title" type="text" name="title-notice" title="Título de noticia">
<label for="description-notice">Descripción</label>   <textarea formControlName="descripcion" title="descripción de noticia" name="description-notice" id="" cols="26" rows="5"></textarea>

<!-- <button type="submit" class="">guardar</button> -->
<div class="replace-button normal" (click)="AlertConfirm('¿Desea guardar los cambios?','f')"  >guardar</div>


<div id="container-alert-f">
  <div id="alert-check-f" class="alert-model">
      <p class="bold" id="inner-message-f"></p>

      <div id="cont-btns-alert-f">
        <button id="confirm-f" (click)="sendFileNoticia()">confirmar</button>
        <div id="cancel-f" class="replace-button">cancelar</div>
      </div>
    </div>
</div>


</form>
</div>






<div id="space-sp"></div>



<div id="container-welcome">
  <div>
    <img src="../../../assets/img/Logo Procasa original vertocal B.png" alt="logo de Procasa" title="logo de bienvenida">
    <h1>¡Bienvenido al Administrador de <b class="bold">Procasa</b>!</h1>
  </div>
</div>


</body>
</html>
