<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiénes somos</title>
</head>
<body>
  <app-admin-navbar></app-admin-navbar>
  <div id="trans"></div>



<div id="space-esp"></div>

<h1 class="bold" id="title-admin">ADMINISTRACIÓN <div class="clip"></div> <p class="light">PÁGINA PRINCIPAL</p></h1>

<div id="cont-btn-preview">
  <!-- <button id="init-preview" class="bold">PREVISUALIZAR</button> -->
</div>

<div class="container" id="container-1">
  <h1 class="bold">PORTADA PRINCIPAL</h1>
  <div class="sub-container-1">
    <p>Cambiar imagen de "Portada Principal" </p> <input (change)="InputFile()" id="file-portada" type="file" title="seleccionar archivo" [defaultValue]="null" data-content="seleccionar archivo">

    <div class="prewiew" (click)="DeleteImg()">
          <img id="preview-portada" src="" alt="portada" title="previsualización de imagen de portada">
    </div>
  </div>

  <div class="foot-cont">

    <div class="cont-buttons">

      <button class="normal" (click)="AlertConfirm('¿Desea guardar los cambios?')">guardar</button>
    </div>
  </div>
</div>



<div class="container" id="container-2">
<form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h1 class="bold">HISTORIA</h1>
  <div class="sub-cont-2">
      <label for="enlace">Enlace del video:</label>
      <input id="iframe-value" name="enlace" type="text" (change)="IframeVideo()"  placeholder="enlace del video" value="">

    <iframe id="iframe-preview" width="560" height="315" src=""
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  </div>


    <div class="sub-cont-2">
            <label for="historia">Desgloce de Historia:</label>
            <textarea name="historia" id="" cols="40" rows="10" formControlName="DescripcionHistoria" [(ngModel)]="textoHistoria" title="descripción"></textarea>
          </div>

      <div class="foot-cont">

  <div class="cont-buttons">

    <button class="normal" type="submit">guardar</button>
  </div>



</div>
</form>
</div>




<div class="container" id="container-3">


  <h1 class="bold">LÍNEA DE TIEMPO</h1>



  <div id="sub-cont-3">
  @for (os of dataLinea; track os._id) {
    <div class="cont-3-timeline">
      <img src="../../../assets/img/Fondo-ham.png" alt="item 1" title="item 1">
      <p class="input-to-text bold">{{os.titleLineaTiempo}}</p>
      <p class="input-to-text">{{os.descriptionLineaTiempo}}</p>
                  <button class="edit-timeline" type="button" (click)="editarModal(os._id)" (click)="Modal()">editar</button>
                </div>
              }

            </div>


<button id="cont-3-see-all" class="bold" (click)="ModalAddTimeLine()">Agregar</button>


  <div class="foot-cont">

    <div class="cont-buttons">


    </div>
  </div>
</div>



<div class="container" id="container-4">
  <h1 class="bold">MISIÓN y VISIÓN</h1>

<div id="buts-enable-mv">
  <button id="habilitar-mv" (click)="EnableMisionVision()">Editar</button>
  <button id="deshabilitar-mv" (click)="DisableMisionVision()">Cancelar</button>
</div>

<form [formGroup]="formularioMisionValor"  (ngSubmit)="guardarMision()" >
<div id="cont-textareas">

  <div class="cont-inter">
      <label for="ttarea1">Misión</label>
      <textarea [(ngModel)]="mision" formControlName="textMision" title="Misión" name="ttarea1" id="mision-txt" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter">
      <label for="ttarea2">Visión</label>
      <textarea title="Visión" [(ngModel)]="vision" formControlName="textVIsion" name="ttarea2" id="vision-txt" cols="35" rows="10"></textarea>
    </div>

  </div>
  <div class="foot-cont">

    <div class="cont-buttons">

      <button class="normal" >guardar</button>
    </div>
  </div>
</form>


</div>



<div class="container" id="container-5">
  <h1 class="bold">VALORES</h1>
  <div class="buts-enable">
    <button id="vhabilitar" (click)="EnableValores()">Editar</button>
    <button id="vdeshabilitar" (click)="DisableValores()">Cancelar</button>
  </div>



  <div id="cont-textareas-valores">

    <div class="cont-inter-valores">
        <label for="ttare1">Integridad</label>
        <textarea class="valores-txt" title="Integridad" name="ttare1" id="" cols="35" rows="10"></textarea>
      </div>

      <div class="cont-inter-valores">
      <label for="ttare2">Pasión</label>
      <textarea class="valores-txt" title="Pasión" name="ttare2" id="" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter-valores">
      <label for="ttare3">Innovación continua</label>
      <textarea class="valores-txt" title="Innovación continua" name="ttare3" id="" cols="35" rows="10"></textarea>
    </div>

    <div class="cont-inter-valores">
      <label for="ttare4">Orientación al servicio</label>
      <textarea class="valores-txt" title="Orientación al servicio" name="ttare4" id="" cols="35" rows="10"></textarea>
    </div>
  </div>



  <div class="foot-cont">

    <div class="cont-buttons">

      <button class="normal">guardar</button>
    </div>
  </div>
</div>


<div class="container" id="container-6">
  <h1 class="bold">NOTICIAS</h1>



  <div id="cont-6-noticias">
  @for (os of dataLineaRespuesta; track os._id) {


    <div class="noticia">
      <img src="../../../assets/img/textura-fon.png" alt="noticia">
    <h2>Título</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nemo mollitia id dolor, ipsum amet numquam necessitatibus tenetur placeat deleniti suscipit inventore eos reprehenderit! Fuga mollitia id iure assumenda praesentium.</p>
          <button type="button" class="edit-notice" (click)="ModalEditNotice()">editar</button>
        </div>
      }
  </div>

  <div class="foot-cont">

    <div class="cont-buttons">

      <button class="normal" (click)="NewModalNotice()">agregar</button>
    </div>
  </div>

</div>



<div id="modal-6">
  <div id="close-modal-6"></div>
  <h1 class="bold">NOTICIAS</h1>
</div>




<div id="modal-time-line">

  <div id="cont-close-button">
    <button id="close-modal-3"  (click)="Modal()" >cerrar</button>
  </div>

  <form [formGroup]="formularioEditlineaTiempo" (ngSubmit)="editarTime()">
  <label for="file">Imagen</label>
    <input type="file"   name="file" title="imagen">
  <label for="title">Título</label>
    <input type="text"  formControlName="titleLineaTiempo" [(ngModel)]="tituloModal" name="title" title="título">
  <label for="description">Descripción</label>
    <input type="text" formControlName="descriptionLineaTiempo" [(ngModel)]="descripcionModal"  title="description">
    <button type="submit" class="bold"  >guardar</button>
  </form>
</div>

























<div id="modal-time-line-add">

  <div id="cont-close-button-add">
    <button id="close-modal-3-add" (click)="ModalAddTimeLine()" >cerrar</button>
  </div>

  <form [formGroup]="formularioAgregarLineaTiempo" (ngSubmit)="agregarEventoLineaTiempo()" >
  <label for="file">Imagen</label>
    <input type="file"   name="file" title="imagen">
  <label for="title">Título</label>
    <input type="text"  formControlName="titleLineaTiempo" ame="title" title="título">
  <label for="description">Descripción</label>
    <input type="text" formControlName="descriptionLineaTiempo"title="description">
    <button type="submit" class="bold" (click)="ModalAddTimeLine()"  >guardar</button>
  </form>
</div>



<!-- M O D A L   E D I T A R   N O T I C I A S  -->
<div id="modal-edit-notice">
        <div id="cont-btn-close"> <button id="close-modal-notice" (click)="ModalEditNotice()">cerrar</button> </div>

<form>

<label for="file-notice">imagen</label>               <input title="imagen de noticia" type="file" name="file-notice">
<label for="title-notice">Título</label>              <input type="text" name="title-notice" title="Título de noticia">
<label for="description-notice">Descripción</label>   <textarea title="descripción de noticia" name="description-notice" id="" cols="26" rows="5"></textarea>

<button type="submit">guardar</button>
</form>
</div>

<!-- M O D A L   N U E V O   N O T I C I A S  -->
<div id="modal-new-notice">
        <div id="cont-btn-close-new"> <button id="close-modal-notice-new" (click)="NewModalNotice()">cerrar</button> </div>

<form>

<label for="file-notice">imagen</label>               <input title="imagen de noticia" type="file" name="file-notice">
<label for="title-notice">Título</label>              <input type="text" name="title-notice" title="Título de noticia">
<label for="description-notice">Descripción</label>   <textarea title="descripción de noticia" name="description-notice" id="" cols="26" rows="5"></textarea>

<button type="submit">guardar</button>
</form>
</div>






<div id="space-sp"></div>





<div id="container-alert">

  <div id="alert-check" class="alert-model">
      <p class="bold" id="inner-message"></p>

      <div id="cont-btns-alert">
        <button id="confirm">confirmar</button>
        <button id="cancel">cancelar</button>
      </div>

      <div id="time"></div>
    </div>
</div>

</body>
</html>
