body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  padding-bottom: 20rem;
  background: #EFEFEF;
  padding: 0 4rem;
  flex-wrap: wrap;
}


div#container-welcome {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -110vh;
  left: 0;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
  animation: welcome_bottom 2.3s ease-out;
  opacity: 1;
}

@keyframes welcome_bottom {
     0% { top: 0; opacity: 1; }
    80% { top: 0; opacity: 1; }
   100% { top: -110vh; opacity: 0; }
}

div#container-welcome div {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
  animation: welcome_a 1.5s ease-out;
  opacity: 1;
}

@keyframes welcome_a {
     0% { opacity: 0; }
    100% { opacity: 1; }
}

div#container-welcome img {
  width: 150px;
}

div#container-welcome h1 {
  width: 100%;
  text-align: center;
  font-size: 24pt;
}



div#trans {
  width: 5%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #EFEFEF;
  display: none;
}


div#navbar {
  width: 100vw;
  height: 65px;
  background: #FCFCF7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: 0px 1px 15px rgb(0,0,0,.4);
}

img#logo-navbar {
  width: auto;
  height: 90%;
  margin-left: 3rem;
}

div#space-esp {
  width: 100%;
  height: 60px;
}

div.container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  overflow: hidden;
  text-align: start;
  margin-top: 3rem;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  background: #F7F7FC;
  position: relative;
  z-index: 0;
  opacity: 1;
}
div.container:nth-child(1) {
  margin-top: 100px;
}


div#container-5 form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



div.buts-enable, div.buts-enable-mv {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center
}



div.buts-enable button, div#buts-enable-mv button {
  padding: .5rem 2rem;
  background: #EAEAEA;
  border-radius: 4px;
  box-shadow: 0px 3px 0px rgba(0,0,0,.3);
  transition: .1s;
  transform: scale(1);
  cursor: pointer;
  position: relative;
  opacity: 1;
  z-index: 1;
}

div#buts-enable-mv {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
}


button#habilitar.hide { display: none; }
button#habilitar-mv.hide { display: none; }
button#deshabilitar.hide { display: none; }
button#deshabilitar-mv.hide { display: none; }

button#vhabilitar-mv.hide { display: none; }
button#vhabilitar.hide { display: none; }
button#vdeshabilitar-mv.hide { display: none; }
button#vdeshabilitar.hide { display: none; }



div.buts-enable button:active, div.buts-enable-mv button:active {
  transform: scale(.95);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}





div.foot-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

div.cont-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

div.cont-buttons button {
  padding: .5rem 3rem;
  border-radius: 4px;
  transform: scale(1);
  cursor: pointer;
  font-size: 10pt;
  border-radius: 4px;
  background: #EAEAEA;
  box-shadow: 0px 2px 0px rgba(0,0,0,.3);
}

div.cont-buttons button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}


div#cont-btn-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button#init-preview {
  position: relative;
  display: block;
  padding: 1rem 4rem;
  border-radius: 10rem;
  background: green;
  color: #FFF;
  font-size: 12pt;
  cursor: pointer;
  border: 1px solid green;
  opacity: 1;
}
button#init-preview:hover {opacity: .8;}
button#init-preview:active {
  color: green;
  background: transparent;
}



div#cont-textareas {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2rem;
  margin-left: 5%;
}

div.cont-inter {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
}

div.cont-inter label {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}



div#cont-textareas-valores {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-left: 5%;
}

div.cont-inter-valores {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin-top: 2rem;
}

textarea, input {font-size: 12pt;}

div.cont-inter-valores label {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}



div.sub-container-1 {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.prewiew {
  border: 1px solid #AAA;
  border-radius: 4px;
  width: 200px;
  height: auto;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .1s;
}

img#preview-portada {
  width: 100%;
  height: auto;
  transition: .1s;
  opacity: 1;
  cursor: pointer;
}


div#container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

div.sub-cont-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}


iframe#iframe-preview {
  width: 0px;
  height: auto;
  display: block;
  position: relative;
}






div#modal-time-line, div#modal-time-line-add, div#modal-edit-notice {
  position: fixed;
  width: 450px;
  height: 500px;
  background: #EEEEEE;
  left: calc(50% - 225px);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 200vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
}

div#modal-time-line form, div#modal-time-line-add form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div#modal-time-line.modal, div#modal-time-line-add.modal, div#modal-edit-notice.modal {
  transform: scale(1);
  top: calc(50% - 250px);
  cursor: pointer;
  opacity: 1;
  z-index: 999;
}

div#cont-close-button, div#cont-close-button-add {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

}

button#close-modal-3, button#close-modal-3-add {
  position: absolute;
  right: 1rem;
  top: .5rem;
  display: block;
  background: #DADADA;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1);
  transition: .1s;
}
button#close-modal-3:active, button#close-modal-3-add:active {
  transform: scale(.95);
}


div#modal-time-line form input, div#modal-time-line form label,
div#modal-time-line-add form input, div#modal-time-line-add form label {
  display: block;
  position: relative;
  width: 60%;
  margin-top: 2rem;
}

div#modal-time-line-add form input, div#modal-time-line form input {margin-top: .5rem;}

div#modal-time-line button[type=submit], div#modal-time-line-add button[type=submit] {
  padding: .5rem 4rem;
  background: #DADADA;
  border-radius: 4px;
  border: #DDD;
  margin-top: 2rem;
}




button.edit-timeline {
  padding: .5rem 1.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  background: #E1E1E1;
  font-size: 10pt;
  border: 1px solid #DDD;
  transition: .1s ease;
  transform: calc(1);
  cursor: pointer;
}

button.edit-timeline:active {
  transform: scale(.95);
}



div.sub-container-4 {
  border: 1px solid green;
}


div.sub-container-1 p {
  margin-right: 1rem;
  font-size: 12pt;
}

div.container h1 {
  width: 100%;
  text-align: left;
  /* border-bottom: 2px solid #AAA; */
  color: #AA182C;
  text-align: left;
  font-size: 19pt;
  /* border-radius: 1rem; */
  /* padding: 1rem; */
  /* box-shadow: 0 5px 15px rgba(0,0,0,.3); */
}


div#container-1 input[type=file] {
  position: relative;
  display: inline-block;
  padding: .5rem;
  margin-top: 1rem;
}

div#container-1 input[type=file]::before {
  background: #EEE;
  border-radius: 4px;
  padding-top: 8px;
  content: attr(data-content);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  position: absolute;
  display: inline-block;
}

input,textarea {
  border: 1px solid #CCC;
  padding: .5rem 1rem;
  border-radius: 4px;
  /* box-shadow: 0px 5px 10px rgba(0,0,0,.2); */
}

input {width: 220px;}

div#container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#sub-cont-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

div.cont-3-timeline {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 3px 3px rgba(0,0,0,.3);
  margin-top: 2rem;
  border-radius: 4px;
}

p.input-to-text {
  display: block;
  width: 100%;
  font-size: 12pt;
  margin-top: 1rem;
  text-align: center;
}

div.cont-3-timeline img {
  width: 150px;
  height: auto;
  border-radius: 4px;
}

div.cont-3-timeline input[type=text] {
  width: 100%;
  margin-top: .5rem;
}

button#cont-3-see-all {
  padding: 1rem 5rem;
  border-radius: 4px;
  background: #EAEAEA;
  box-shadow: 0px 2px 0px rgba(0,0,0,.3);
  transition: .1s;
  margin-top: 2rem;
  cursor: pointer;
  transform: scale(1);
  font-size: 10pt;
  color: #252525;
}

button#cont-3-see-all:active {
  transform: scale(.97);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}





div#cantainer-4 {
  border: 1px solid red;
}








div#cont-6-noticias {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
  /* align-content: flex-start; */
  /* flex-direction: row; */
  width: 90%;
  flex-wrap: wrap;
  margin-top: 2rem;
}

div#modal-6 {
  position: fixed;
  width: 900px;
  height: 85vh;
  top: 100px;
  left: calc(50% - 450px);
  background: #353535;
  z-index: 100;
  border-radius: .5rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  border: 2px solid #EEE;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  display: none;
}

div#modal-6.hide {opacity: .1;}

div#close-modal-6 {
  width: 30px;
  height: 30px;
  background: #DDD;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

div#modal-6 h1 {
  width: 100%;
  font-size: 19pt;
  color: #AAA;
  text-align: center;
  padding: 1rem;
}

div.noticia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
  width: 270px;
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 0px 5px 5px rgba(0,0,0,.4);
  margin-bottom: 4rem;
}

div.noticia h2 {
  font-size: 14pt;
}

div.noticia p {
  font-size: 12pt;
}

div.noticia h2, div.noticia p {
  width: 100%;
  text-align: center;
}

div.noticia img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

h1#title-admin {
  font-size: 20pt;
  color: #AAA;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

h1#title-admin p {
  color: #666;
}

/* h1#title-admin::before { */
div.clip {
  content: ' ';
  width: 25px;
  height: 25px;
  background: #AAA;
  float: left;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}






div#space-sp {
width: 100vw;
height: 50vh;
position: relative;
}



div#modal-edit-notice, div#modal-new-notice {
  position: fixed;
  width: 450px;
  height: 500px;
  background: #EEEEEE;
  left: calc(50% - 225px);
  border-radius: 4px;
  /* border: 1px solid #AAA; */
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 200vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
}

div#modal-edit-notice.show, div#modal-new-notice.show {
  z-index: 300;
  transform: scale(1);
  opacity: 1;
  transition: .1s;
  top: calc(50vh - 250px);
}

div#modal-edit-notice form, div#modal-new-notice form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

div#modal-edit-notice form label, div#modal-new-notice form label {
  margin-top: 2rem;
  width: 80%;
  display: block;
  position: relative;
}

div#modal-edit-notice form input, div#modal-new-notice form input {
  margin-top: .5rem;
  width: 80%;
  display: block;
  position: relative;
}

div#cont-btn-close, div#cont-btn-close-new {
  width: 100%;
  display: flex;
  justify-content: end;
}

div#modal-edit-notice button[type=submit], div#modal-new-notice button[type=submit] {
  padding: .5rem 4rem;
  background: #DADADA;
  border-radius: 4px;
  border: #DDD;
  margin-top: 2rem;
  cursor: pointer;
  transition: .1s;
  transform: scale(1);
  box-shadow: 0px 3px 0px rgba(0,0,0,.3);
}
div#modal-edit-notice button[type=submit]:active, div#modal-new-notice button[type=submit]:active {
  transform: scale(.95);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);

}



button#close-modal-notice, button#close-modal-notice-new {
  position: relative;
  background: #EAEAEA;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1);
  transition: .1s;
}





  /*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*================================================================================================================================================================*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

div#container-alert-a,
div#container-alert-b,
div#container-alert-c,
div#container-alert-d,
div#container-alert-e,
div#container-alert-f,
div#container-alert-g,
div#container-alert-h
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  opacity: 0;
  transition: .1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,1);
  text-align: center;
}

div#container-alert-a.show,
div#container-alert-b.show,
div#container-alert-c.show,
div#container-alert-d.show,
div#container-alert-e.show,
div#container-alert-f.show,
div#container-alert-g.show,
div#container-alert-h.show
{
  z-index: 100;
  opacity: 1;
}

div.alert-model {
  width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: 4px;
  /* box-shadow: 1px 3px 5px rgba(0,0,0,.4); */
  position: absolute;
  z-index: 901;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div#time {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: transparent;
  border-radius: 4px;
  transition: .1s;
}

div#time.green {  background: greenyellow; animation: less 2s ease;}
div#time.red {  background: red; animation: less 2s ease;}
div#time.orange {  background: orangered; animation: less 2s ease;}

div#time.timeoff {
  width: 0%;
}

@keyframes less {
  0%   {width: 100%;}
  100% {width: 0%;}
}



div.alert-model p {
  font-size: 14pt;
  color: #757575;
  width: 100%;
  display: block;
}


div#cont-btns-alert-a,
div#cont-btns-alert-b,
div#cont-btns-alert-c,
div#cont-btns-alert-d,
div#cont-btns-alert-e,
div#cont-btns-alert-f,
div#cont-btns-alert-g,
div#cont-btns-alert-h
{
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  display: none;
}

div#cont-btns-alert-a.show,
div#cont-btns-alert-b.show,
div#cont-btns-alert-c.show,
div#cont-btns-alert-d.show,
div#cont-btns-alert-e.show,
div#cont-btns-alert-f.show,
div#cont-btns-alert-g.show,
div#cont-btns-alert-h.show
{
  display: flex;
}

div#cont-btns-alert-a button,
div#cont-btns-alert-b button,
div#cont-btns-alert-c button,
div#cont-btns-alert-d button,
div#cont-btns-alert-e button,
div#cont-btns-alert-f button,
div#cont-btns-alert-g button,
div#cont-btns-alert-h button,
div.replace-button
{
  text-decoration: none;
  background: #EAEAEA;
  border-radius: 4px;
  padding: .5rem 3rem;
  transition: .1s;
  transform: scale(1);
  box-shadow: 0px 3px 0px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 2rem;
}
div.replace-button:active,
div#cont-btns-alert-a button:active,
div#cont-btns-alert-b button:active,
div#cont-btns-alert-c button:active,
div#cont-btns-alert-d button:active,
div#cont-btns-alert-e button:active,
div#cont-btns-alert-f button:active,
div#cont-btns-alert-g button:active,
div#cont-btns-alert-h button:active
{
  transform: scale(.95);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}


button.edit-notice {
  padding: .5rem 2rem;
  background: #EAEAEA;
  margin-top: 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: .1s;
  transform: scale(1);
}

button.edit-notice:active {
  transform: scale(.95);
}


div#container-1,
div#container-2,
div#container-3,
div#container-4,
div#container-5,
div#container-6,
div#container-7
{z-index: 0; position: relative;}



button.del-bg {
  background: #AA182C;
  color: #FFF;
}

div#show-more {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background: #EAEAEA;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: .1s;
}

div#show-more:active {
  transform: scale(.95);
}


div.success-message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #f4f4f4;
  text-align: center;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: -10;
  opacity: 0;
}

#messagge-a.show,
#messagge-b.show,
#messagge-c.show,
#messagge-d.show,
#messagge-e.show,
#messagge-f.show,
#messagge-g.show
{
  opacity: 1;
  z-index: 700;
}

div.success-message h1 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #252525;
}


input, textarea { transition: .1s; }
input:focus, textarea:focus { border: 1px solid #27A315; }
