body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  padding-bottom: 20rem;
  background: #EFEFEF;
  padding: 0 4rem;
  flex-wrap: wrap;
}

div#trans {
  width: 5%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #EFEFEF;
  display: none;
}


div#navbar {
  width: 100vw;
  height: 65px;
  background: #FCFCF7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: 0px 1px 15px rgb(0,0,0,.4);
}

img#logo-navbar {
  width: auto;
  height: 90%;
  margin-left: 3rem;
}

div#space-esp {
  width: 100%;
  height: 60px;
}

div.container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  overflow: hidden;
  text-align: start;
  margin-top: 3rem;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  border-radius: .5rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  background: #F7F7FC;
}
div.container:nth-child(1) {
  margin-top: 100px;
}


div.foot-cont {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

div.cont-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

div.cont-buttons button {
  padding: .5rem 1rem;
  margin-left: .2rem;
  border-radius: 4px;
  border: 1px solid #DDD;
  transform: scale(1);
  cursor: pointer;
  font-size: 10pt;
}

div.cont-buttons button:active {
  transform: scale(0.9);
}


div#cont-btn-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button#init-preview {
  position: relative;
  display: block;
  padding: 1rem 4rem;
  border-radius: 10rem;
  background: green;
  color: #FFF;
  font-size: 12pt;
  cursor: pointer;
  border: 1px solid green;
  opacity: 1;
}
button#init-preview:hover {opacity: .8;}
button#init-preview:active {
  color: green;
  background: transparent;
}



div.cont-inter {
  position: relative;
  flex-wrap: wrap;
}

div.sub-container-1 {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.prewiew {
  border: 1px solid #AAA;
  border-radius: 4px;
  width: 150px;
  height: 120px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .2s;
}

img#preview-portada {
  width: 100%;
  height: auto;
  transition: .2s;
  opacity: 1;
  cursor: pointer;
}
img#preview-portada:hover {
  opacity: 0;
}

div.prewiew:hover::before {
  content: 'eliminar';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #252525;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
}



div#container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

div.sub-cont-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}


iframe#iframe-preview {
  width: 250px;
  height: auto;
  display: block;
  position: relative;
}






div#modal-time-line {
  position: fixed;
  width: 450px;
  height: 500px;
  background: #EEEEEE;
  left: calc(50% - 225px);
  border-radius: 4px;
  /* border: 1px solid #AAA; */
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 20vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
}

div#modal-time-line.modal {
  transform: scale(1);
  top: 20vh;
  cursor: pointer;
  opacity: 1;
  z-index: 100;
}

div#cont-close-button {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;

}

button#close-modal-3 {
  position: absolute;
  right: 1rem;
  top: .5rem;
  display: block;
  background: #DADADA;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1);
  transition: .2s;
}
button#close-modal-3:active {
  transform: scale(.95);
}


div#modal-time-line input, div#modal-time-line label {
  display: block;
  position: relative;
  width: 60%;
}

div#modal-time-line button[type=submit] {
  padding: .5rem 4rem;
  background: #DADADA;
  border-radius: 4px;
  border: #DDD;
}




button.edit-timeline {
  padding: .5rem 2rem;
  border-radius: 4px;
  margin-top: 1rem;
  background: #E1E1E1;
  font-size: 10pt;
  border: 1px solid #DDD;
  transition: .2s ease;
  transform: calc(1);
  cursor: pointer;
}

button.edit-timeline:active {
  transform: scale(.95);
}

div.sub-container-4 {
  border: 1px solid green;
}


div.sub-container-1 p {
  margin-right: 1rem;
  font-size: 12pt;
}

div.container h1 {
  width: 100%;
  text-align: left;
  /* border-bottom: 2px solid #AAA; */
  color: #666;
  text-align: left;
  font-size: 19pt;
  /* border-radius: 1rem; */
  /* padding: 1rem; */
  /* box-shadow: 0 5px 15px rgba(0,0,0,.3); */
}



div#container-1 input[type=file] {
  position: relative;
  display: inline-block;
  padding: .5rem;
  margin-top: 1rem;
}

div#container-1 input[type=file]::before {
  background: #EEE;
  border-radius: 4px;
  padding-top: 8px;
  content: attr(data-content);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  position: absolute;
  display: inline-block;
}

input,textarea {
  border: 1px solid #CCC;
  padding: .5rem 1rem;
  border-radius: 4px;
  /* box-shadow: 0px 5px 10px rgba(0,0,0,.2); */
}

input {width: 220px;}


div.cont-3-timeline {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
}

div.cont-3-timeline img {
  width: 150px;
  height: auto;
  border-radius: 4px;
}

div.cont-3-timeline input[type=text] {
  width: 100%;
  margin-top: .5rem;
}

button#cont-3-see-all {
  padding: 1rem 5rem;
  border-radius: 4px;
  background: #EAEAEA;
  transition: .2s;
  box-shadow: 0px 2px 0px rgba(0,0,0,.1);
  margin-top: 2rem;
  cursor: pointer;
  transform: scale(1);
  font-size: 10pt;
  color: #252525;
}

button#cont-3-see-all:active {
  transform: scale(.97);
  box-shadow: 0px 0px 0px rgba(0,0,0,.1);
  color: #AAA;
}






div#modal-6 {
  position: fixed;
  width: 900px;
  height: 85vh;
  top: 100px;
  left: calc(50% - 450px);
  background: #353535;
  z-index: 100;
  border-radius: .5rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  border: 2px solid #EEE;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  display: none;
}

div#modal-6.hide {opacity: .1;}

div#close-modal-6 {
  width: 30px;
  height: 30px;
  background: #DDD;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

div#modal-6 h1 {
  width: 100%;
  font-size: 19pt;
  color: #AAA;
  text-align: center;
  padding: 1rem;
}

div.noticia {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  background: #F7F7FC;
  width: 250px;
  border-radius: .5rem;
  padding: 1rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  border: 2px solid #EEE;
}

div.noticia h2 {
  font-size: 19pt;
}

div.noticia p {
  font-size: 10pt;
}

div.noticia img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

h1#title-admin {
  font-size: 20pt;
  color: #AAA;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

h1#title-admin p {
  color: #666;
}

/* h1#title-admin::before { */
div.clip {
  content: ' ';
  width: 25px;
  height: 25px;
  background: #AAA;
  float: left;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}






div#space-sp {
width: 100vw;
height: 20rem;
position: relative;
}

