
h1.container-h1 {
  width: 100%;
  position: relative;
  margin-top: 5vh;
}

div#container-main {
  width: 100vw;
  height: auto;
  min-height: 90vh;
  padding-bottom: 10vh;
  position: relative;
  margin-top: 65px;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#cont-customers {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

div.cont-img-cust {
  width: 250px;
  height: 250px;
  margin: 1rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.cont-img-cust img {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 300px;
  border-radius: 4px;
}



@media screen and (max-width: 400px) {

  h1.container-h1 {
    width: 90%;
    font-size: 20pt;
    margin-top: 3vh;
  }
}
