<img [src]="imgFondo" id="background-texture">
<app-navbar></app-navbar>

<div id="container-main">
  <h1 class="container-h1 bold">NUESTROS CLIENTES</h1>

    <div id="cont-customers">
      <div class="cont-img-cust"><img src="../../assets/img/wendys-logo.png" alt=""></div>
      <div class="cont-img-cust"><img src="../../assets/img/donjose.png" alt=""></div>
      <div class="cont-img-cust"><img src="../../assets/img/Latorre510 -× 340.png" alt=""></div>
    </div>
</div>

<app-footer></app-footer>
