<div id="container-noticias">
    <h1 class="container-h1 bold">NOTICIAS</h1>

    <div id="noticias">
        @for (os of data; track os._id) {
            <div class="noticia">
              <div class="cont-img">
                <img  [ngSrc]="'http://localhost:3002/' + os.imgPhat" [width]="500" [height]="500" alt="">
              </div>
              <div class="cont-fill"></div>
                <div class="cont-text">
                  <h6 class="title-not">{{os.title}}</h6>
                  <h6 class="timeof">hace {{os.diferenciaEnTexto}}</h6>
                      <div class="arrow">V</div>
                        <div class="cont-info">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro officiis voluptatem corporis suscipit ex vel ad tenetur quasi aut nisi ducimus harum quos dignissimos quam, saepe officia cumque sed vitae!
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro officiis voluptatem corporis suscipit ex vel ad tenetur quasi aut nisi ducimus harum quos dignissimos quam, saepe officia cumque sed vitae!
                        </div>
                    <div class="see-more-notice">ver noticia completa</div>
                </div>
            </div>
        }
    </div>
</div>
