
h1.container-h1 {
  margin-top: 1rem;
}

div#container-noticias {
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10rem;
    background: transparent;
}

div#noticias {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

div.noticia {
    width: 300px;
    min-width: 200px;
    text-align: right;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

div.noticia h6 {
    font-size: 14pt;
    width: 100%;
    text-align: center;
}

div.noticia h2 {
  width: 100%;
  font-size: 12pt;
  text-align: justify;
}

div.noticia img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 4px;
  display: block;
}
