
@if (tipoBack == true ) { <img  [src]="imgFondo"  id="background-texture">
}@else{
  <img   id="background-texture" [style.background-color]="colorn">
}
<app-navbar></app-navbar>

<div id="cont-introduction">
  <div id="intro-1"></div>
  <div id="intro-2"></div>
</div>


  <img [src]="imgPrincipal" id="img-principal">

<section id="historia" class="container-principal">
  <h1 class="container-h1 bold">HISTORIA</h1>
  <app-historia/>
</section>


<section id="linea-tiempo" class="container-principal">
  <h1 class="container-h1 bold">LÍNEA DEL TIEMPO</h1>
  <app-linea-tiempo/>
</section>

<section id="mision-vision-valores" class="container-principal">
  <app-mision-valor/>
</section>

<section id="news" class="container-principal">
  <h1 class="container-h1 bold" id="noticias">NOTICIAS</h1>
  <!-- <app-noticias/> -->
</section>



<!-- <app-footer-main></app-footer-main> -->
<app-footer></app-footer>
<app-flecha></app-flecha>
