
section.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  opacity: .99;
  height: auto;
  min-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

img#img-mobile {
  width: 100vw;
  height: auto;
  position: relative;
}

section#noticias { opacity: 1; }

div#cont-introduction {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -999;
  overflow: visible;
  animation: intro 1.5s ease-in-out;
  opacity: 0;
  transition: .2s ease;
}

section#linea-tiempo { padding-bottom: 200px; }

div#intro-1 {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  position: absolute;
  top: 0;
  left: -100%;
  transition: .4s;
  animation: introleft 1.5s ease-in-out;
}

div#intro-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #f4f4f4;
  animation: introright 1.5s ease-in-out;
  transition: .2s;
}

@keyframes intro {
  0% {z-index: 999; background: transparent; opacity: 1;}
 80% {z-index: 999; background: transparent; opacity: 1;}
100% {z-index: -999; background: transparent; opacity: 0;}
}

@keyframes introleft {
    0% { left: 0; }
  100% { left: -100%; }
}

@keyframes introright {
    0% { right: 0; }
  100% { right: -100%; }
}


img#img-principal {
  position: relative;
  width: 100%;
  height: auto;
  top: auto;
  left: auto;
  animation: introduction 2s ease-out;
}



@keyframes introduction {
  0% { transform: scale(1.4); }
 50% { transform: scale(1.4); }
100% { transform: scale(1); }
}


section#news, section#news-movil {
  position: relative;
  width: 100vw;
  height: auto;
  opacity: 1;
  z-index: 10;
  margin-bottom: 200px;
}

section#news {display: flex;}
section#news-movil {display: none;}


@media screen and (max-width: 850px) { img#img-principal { width: 115%; left: -7.5%;} }
@media screen and (max-width: 600px) { img#img-principal { width: 130%; left: -15%;} }
@media screen and (max-width: 500px) { img#img-principal { width: 140%; left: -20%;} }
@media screen and (max-width: 766px) { section#news {display: none;}  section#news-movil {display: flex;} }
