
@if (tipoBack == true ) {
  
  @if(TamanioPantalla == 'direccion-grande'){

    <img  [src]="imgFondo"  id="background-texture">
    <img [src]="imgPrincipal" id="img-principal">

  }
  @else if(TamanioPantalla == 'direccion-pequena') {
    <img  [src]="imgFondoMovil"  id="background-texture">
    <img [src]="imgPrincipalMovil" id="img-principal">
  }


}@else{
  <img   id="background-texture" [style.background-color]="colorn">
}
<app-navbar></app-navbar>

<div id="cont-introduction">
  <div id="intro-1"></div>
  <div id="intro-2"></div>
</div>



<section id="historia" class="container-principal">
  <h1 class="container-h1 bold">HISTORIA</h1>
  <app-historia/>
</section>


<section id="linea-tiempo" class="container-principal">
  <h1 class="container-h1 bold">LÍNEA DEL TIEMPO</h1>
  <app-linea-tiempo/>
</section>

<section id="mision-vision-valores" class="container-principal">
  <app-mision-valor/>
</section>

<section id="news" class="container-principal">
  <h1 class="container-h1 bold" id="noticias">NOTICIAS</h1>
  <app-noticias/>
</section>



<!-- <app-footer-main></app-footer-main> -->
<app-footer></app-footer>
<app-flecha></app-flecha>
