<app-admin-navbar></app-admin-navbar>

<div id="container-1"></div>

<div class="global-modal" id="modal-add-ubicaciones">
  <h1 class="title-modal">Agregar Ubicación</h1>
  <button class="btn-click normal close-modal" (click)="AddLocation()"><mat-icon>close</mat-icon></button>
  <form [formGroup]="fornularioAgregarUbicacion">
  <div class="cont">

<div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input class="normal btn-dark" id="imgSave" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
            <mat-icon>delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="normal danger-red"></span></li>
          <li>alto:  <span class="normal danger-red"></span></li>
          <li>peso:  <span class="normal danger-red"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img alt="" src=""></div>
</div>

</div>


<div class="cont start">
    <div class="item">
      <label class="normal">nombre</label>
      <input formControlName="nombreTienda" id="name" title="input" type="text" class="normal">
    </div>
    <div class="item">
      <label class="normal">sucursal</label>
      <select formControlName="tipoTienda" name="tipoTienda" class="normal" id="sucursal">
        <option value="procasa">Procasa</option>
        <option value="meathouse">Meat House</option>
        <option value="eco">Econocarnes</option>
      </select>
    </div>
    <div class="item">
        <label class="normal">teléfono</label>
        <input formControlName="telefono" id="telefono" title="input" type="text" class="normal">
    </div>
    <div class="item">
        <label class="normal">horario de atención</label>
        <input formControlName="horario" id="horario" title="input" type="text" class="normal">
      </div>
      <div class="item">
      <label class="normal">enlace Google Maps</label>
      <input formControlName="enlaceMaps" id="maps" title="input" type="text" class="normal">
    </div>
    <div class="item">
      <label class="normal">enlace Waze</label>
      <input formControlName="enlaceWaze" id="waze" title="enlace Waze" type="text" class="normal">
    </div>
    <div class="item">
      <label class="normal">descripción</label>
      <input formControlName="descripcion" id="descripcion" title="input" type="text" class="normal">
    </div>
  </div>

  <div class="action-center"><button class="btn-click btn-red normal"  (click)="saveLocation($event)"><mat-icon>save</mat-icon> guardar</button></div>
</form>

</div>



<div class="container-head">
  <h1>Ubicaciones</h1>
    <input [(ngModel)]="nombreTiendaFiltro"  class="bold" type="text" name="search" placeholder="buscar ubicación" title="buscar">
    <button class="btn-click btn-white normal" (click)="AddLocation()"><mat-icon>add</mat-icon> Agregar</button>
</div>



<div class="admin-main">

<div class="cont-ubicacion">
@for (os  of dataUbicacion | MostrarPorUbiPipe: nombreTiendaFiltro ; track os._id ) {
  <div class="ubicacion">
    <div class="dato-ubicacion imgpath"><img src="{{os.imgPath}}" alt=""></div>
      <div class="dato-ubicacion"><p class="normal">Nombre: </p><p>{{os.nombreTienda}}</p></div>
      <div class="dato-ubicacion"><p class="normal">Tienda: <p>{{os.tipoTienda}}</p></div>
      <div class="dato-ubicacion"><p class="normal">Teléfono<p>{{os.telefono}}</p></div>
      <div class="dato-ubicacion"><p class="normal">Horario: <p>{{os.horario}}</p></div>
      <div class="dato-ubicacion"><p class="normal">Google Maps: <p><a href="{{os.enlaceMaps}}">enlace</a></p></div>
      <div class="dato-ubicacion"><p class="normal">Waze: <p><a href="{{os.enlaceWaze}}">enlace</a></p></div>
      <div class="dato-ubicacion"><p class="normal">Descripción: <p>{{os.descripcion}}</p></div>
      <button class="btn-click" (click)="ObtenerUbixId(os._id)" (click)="editLocation()"><mat-icon>edit</mat-icon></button>
      <button class="btn-click btn-red" (click)="deleteProduct(os._id)"><mat-icon>delete</mat-icon></button>
</div>
  }
</div>
</div>



<div id="modal-edit-ubicacion" class="global-modal">
  <h1 class="title-modal">Editar Ubicación</h1>
  <button class="btn-click close-modal" (click)="editLocation()"><mat-icon>close</mat-icon></button>

  <div class="cont">
  <div id="sub-cont-details-img">
    <div class="sub-details">
        <div class="sub-img-btn">
          <input type="file" (change)="InputChange($event)" (change)="getFileEdit($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
          <mat-icon>delete</mat-icon>
        </div>
      <ul>
        <li>ancho: <span class="normal danger-red"></span></li>
        <li>alto:  <span class="normal danger-red"></span></li>
        <li>peso:  <span class="normal danger-red"></span></li>
      </ul>
    </div>
    <div class="cont-details-img"><img alt="" src=""></div>
</div>
</div>



<div class="cont start">
  <form [formGroup]="formularioEditUbicacion">

    <div class="item">
      <label class="normal">Nombre</label>
      <input [(ngModel)]="nombreTienda" formControlName="nombreTienda" id="name" title="input" type="text" class="normal">
    </div>
    <div class="item">
      <label for="tipoTienda">Tipo</label>
      <select formControlName="tipoTienda" name="tipoTienda" class="normal">
        <option value="procasa">Procasa</option>
        <option value="meathouse">Meat House</option>
      </select>
    </div>    
    <div class="item">
      <label class="normal">Teléfono</label>
      <input type="text" [(ngModel)]="telefono" formControlName="telefono" class="normal">
    </div>

    <div class="item">
      <label class="normal">Horario</label>
      <input type="text" [(ngModel)]="horario" formControlName="horario" class="normal">
    </div>

    <div class="item">
      <label class="normal">Maps</label>
      <input type="text" [(ngModel)]="maps" formControlName="enlaceMaps" class="normal">
    </div>

    <div class="item">
      <label class="normal">Waze</label>
      <input type="text" [(ngModel)]="waze" formControlName="enlaceWaze" class="normal">
    </div>
    <div class="item">
      <label class="normal">Descripcion de la tienda</label>
      <input [(ngModel)]="descripcion" formControlName="descripcion" title="descripción" type="text" class="normal">
    </div>

  </form>
  </div>
<div class="action-center"><button class="btn-click btn-red normal" (click)="saveEdited()" id="save-modal-edit" ><mat-icon>save</mat-icon> guardar</button></div>


</div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
