


div#modal-add-location, div#modal-edit-location {
  position: fixed;
  width: 600px;
  height: auto;
  max-height: 80vh;
  background: #EEEEEE;
  left: calc(50% - 300px);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 10vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
  display: none;
}











div.cont-ubicacion {
  position: relative;
  width: auto;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div.ubicacion {
  margin: 2rem 1rem;
  position: relative;
  width: 350px;
  height: auto;
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background: var(--white);
}

div.dato-ubicacion {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

div.dato-ubicacion p {
  position: relative;
  width: 60%;
  display: flex;
  overflow: hidden;
  font-size: 11pt;
}

div.dato-ubicacion p.normal {
  width: 30%;
}

div.imgpath {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-bottom: .5rem;
}

div.dato-ubicacion img {
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 4px;
  position: relative;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.message {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #f4f4f4;
  text-align: center;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: -10;
  opacity: 0;
}

div.message.show {
  opacity: 1;
  z-index: 700;
}

div.message h1 {
  width: 100%;
  text-align: center;
  font-size: 14pt;
  color: #757575;
  background: transparent;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




