<div id="container-menu">

  <div id="cont-menu-bar" (click)="MenuShow()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>


  <img id="logo-menu" src="../../../assets/img/Logo MH original blanco.png" alt="">
  <!-- <h1 id="title">Meat House</h1> -->


<div id="list-menu">
  <a class="light" routerLink="/admin/Principal" >Principal</a>
  <a class="light" routerLink="/admin/Ubicaciones" >Ubicaciones</a>
  <a class="light" routerLink="/admin/Promociones">Promociones</a>
  <a class="light" routerLink="/admin/suscripciones">Suscripciones</a>
  <a class="light" routerLink="/admin/usuarios">Usuarios</a>
</div>
      <div id="cont-btn">
        <button class="bold" id="close-session" (click)="CloseSession()">cerrar sesión</button>
      </div>
</div>
