div#container-menu {
  width: 270px;
  position: fixed;
  height: 100vh;
  background: #252525;
  top: 0;
  left: -270px;
  transition: .2s;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  align-content: flex-start;
}

div#container-menu.openmenu {
  left: 0;
}


/* div#container-menu h1 {
  width: 100%;
  color: #FFF;
  font-size: 14pt;
  text-align: center;
  text-decoration: none;
} */


div#container-menu a.light {
  text-decoration: none;
  color: #FFF;
  transition: .2s ease;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

div#container-menu a.light:hover {
  padding-left: 2rem;
}


div#cont-menu-bar {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 4rem;
  right: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  transform: scale(1);
  transition: .2s;
}

div.bar {
  width: 100%;
  position: relative;
  height: 23%;
  background: #656565;
  border-radius: 2px;
  transition: .2s;
  transform: translateX(0);
}

div.bar:nth-child(1).fx { animation: fx .3s ease;  animation-delay: 0ms; }
div.bar:nth-child(2).fx { animation: fx .3s ease;  animation-delay: 100ms; }
div.bar:nth-child(3).fx { animation: fx .3s ease;  animation-delay: 200ms; }

@keyframes fx {
  0%   { transform: translateX(0px); }
  50%  { transform: translateX(25px); }
  100% { transform: translateX(0px); }
}










div#cont-menu-bar:active {
  transform: scale(.8);
}


div#list-menu {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  margin-top: 4rem;
  padding-left: 2rem;
}

div#cont-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 0;
}

button#close-session {
  position: relative;
  color: #FFF;
  background: #AA182C;
  border: 1px solid #AA182C;
  padding: .5rem 2rem;
  border-radius: 4px;
  font-size: 10pt;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0px 2px 0px rgba(0,0,0,.2);
  transform: scale(1);
}

button#close-session:active {
  background: #F4F4F4;
  color: #252525;
  border: 1px solid #252525;
  transform: scale(.97);
}

img#logo-menu {
  width: 100px;
  position: relative;
  margin-top: 4rem;
}

