<div id="container-menu">

  <div id="cont-menu-bar" (click)="MenuShow()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <h1 id="title">Meat House</h1>


<div id="list-menu">
  <a class="light" href="admin/Principal" >Principal</a>
  <a class="light" href="admin/Ubicaciones" >Ubicaciones</a>
  <a class="light" href="admin/Promociones">Promociones</a>
  <a class="light" href="admin/suscripciones">Suscripciones</a>
</div>
<a id="close-session" href="javascript: return false;">cerrar sesión</a>
</div>
