<div id="container-menu">

  <div id="cont-menu-bar" (click)="MenuShow()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>


  <img id="logo-menu" src="../../../assets/img/Logo MH original blanco.png" alt="">


<div id="list-menu">
  <a class="light" routerLink="/admin/Principal">Principal</a>
  <a class="light" routerLink="/admin/Ubicaciones">Ubicaciones</a>
  <a class="light" routerLink="/admin/Productos">Productos</a>
  <a class="light" routerLink="/admin/Equipo">Equipo</a>
  <a class="light" routerLink="/admin/usuarios">Usuarios</a>
</div>
      <div id="cont-btn">
        <button class="bold btn-click btn-red" id="close-session" (click)="CloseSession()"><mat-icon>exit_to_app</mat-icon> cerrar sesión</button>
      </div>

      <div id="event-hover"></div>
</div>
