<app-admin-navbar></app-admin-navbar>

<div class="container-head">
  <h1>Usuarios</h1>
  <span>
    <input class="bold" [(ngModel)]="AliasFiltro" type="text" name="search" placeholder="buscar usuario">
    <button class="btn-click btn-white normal" (click)="modalAddUser()"><mat-icon>add</mat-icon> Agregar</button>
  </span>
</div>

<div class="admin-main">
  <div class="shadow-main"></div>
  
  <div id="cont-users">
    <div class="user-head"><span class="bold">ALIAS</span><span class="bold">CORREO</span><span class="bold edit-head">ACCIONES</span></div>
    @for (os of dataUsers | mostrarAlias: AliasFiltro ; track os.id) {
      <div class="user"> <span class="normal">{{os.nombre}}</span> <span class="normal">{{os.email}}</span><span class="edit" (click)="modalEditUser()"  (click)="ObtenerxID(os._id)"><mat-icon>edit</mat-icon></span></div>
    }
  </div>
</div>


<div id="modal-add-user" class="global-modal">
  <h1 class="title-modal">Agregar Usuario</h1>
  <div class="btn-click normal close-modal" (click)="modalAddUser()"><mat-icon>close</mat-icon></div>
  
  <form [formGroup]="formularioAgregarUser">
<div class="cont">
          <div class="item max-w">
              <label class="normal">alias de usuario</label>
              <input formControlName="nombre" class="normal" type="text">
          </div>

          <div class="item max-w">
            <label class="normal">correo</label>
            <input class="normal" name="correo" formControlName="email" type="mail">
          </div>

          <div class="item max-w">
            <label class="normal">contraseña</label>
            <input class="normal" formControlName="password" type="text">
          </div>
        </div>
</form>
          <div class="action-center"><div class="btn-click btn-red normal" (click)="registrarUsuario()"><mat-icon>add</mat-icon> guardar</div></div>
        </div>



<div id="modal-edit-user" class="global-modal">
  <h1 class="title-modal">Editar Usuario</h1>
  <div class="btn-click close-modal" (click)="modalEditUser()"><mat-icon>close</mat-icon></div>
  
        <form [formGroup]="formularioEditarUser">
          <div class="cont">
            <div class="item">  
              <label class="normal">alias</label>
              <input [(ngModel)]="Alias" class="normal" formControlName="nombre" type="text">
            </div>
            <div class="item">
              <label class="normal">correo</label>
              <input class="normal" [(ngModel)]="email"  formControlName="email" type="text">
            </div>
          </div>
        </form>
        <div class="action-center"><div class="btn-click btn-red normal x-margin" (click)="editarUusario()"><mat-icon>add</mat-icon> guardar</div></div>
</div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
