
div#cont-users {
  width: 800px;
  height: auto;
  padding: 2rem;
  border-radius: 4px;
  background: #ededee;
  position: relative;
}

div.user-head {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

div.user-head span {
  width: 300px;
  padding: 1rem 2rem;
  margin-left: 2px;
  font-size: 11pt;
  color: #252525;
  text-align: center;
}


div.user {
  width: 100%;
  padding: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

div.user span {
  width: 250px;
  min-width: 150px;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 11pt;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
  background: #f4f4f4;
}



div.user span.edit, div.user-head span.edit-head {
  text-align: center;
  padding: .5rem 1rem;
  width: auto;
}

div.user span.edit {
  background: #AA182C;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0,0,0,.1);
  transform: scale(1);
  opacity: 1;
  transition: .1s;
}

div.user span.edit:active {
  opacity: .6;
  transform: scale(0.95);
}


div.cont-input-user {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}

div.cont-input-user input {
  padding: .5rem 1rem;
  border-radius: 4px;
  width: 180px;
  font-size: 11pt;
}

div.cont-input-user label {font-size: 11pt;}

div.cont-input-user label { width: 100px; }


@media screen and (max-width: 900px ) {

  div#cont-users { width: 90%; }

  div.user span {
    width: 200px;
    padding: .8rem 1.6rem;
    border-radius: 4px;
    font-size: 11pt;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
    background: #f4f4f4;
  }
}


@media screen and (max-width: 650px ) {
  div.user span {
    width: 35%;
    padding: .8rem 1rem;
  }

  div#cont-users { padding: 1rem; }

}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 440px) {
}



@media screen and (max-width: 500px) {

  div.user span { min-width: 80%; }

  div.cont-input-user {
    width: 60%;
    justify-content: center;
  }
  
  div.cont-input-user input { width: 80%; }
  div.cont-input-user label {font-size: 11pt;}
  div.cont-input-user label { width: 80%; }

  div.user {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

div.user-head {
  display: none;
}

}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
