

div#navbar {
    top: 0;
    left: 0;
    z-index: 110;
    width: 100vw;
    height: 65px;
    color: #252525;
    display: flex;
    justify-content: right;
    color: #FFF;
    z-index: 700;
    background: transparent;
    background: rgba(255,255,255,.9);
    position: fixed;
}


  div#cont-menu-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 300;
}



div#cont-menu {
  width: 60px;
  height: 45px;
  position: relative;
  display: none;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  cursor: pointer;
  transform: scale(1);
}

div#cont-menu:active {
  transform: scale(0.8);
}


div#cont-menu div {
  width: 100%;
  height: 20%;
  border-radius: 2px;
  background: #888;
}

div#navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div#navbar-logo img {
    width: auto;
    height: 90%;
    position: relative;
}

div#navbar-cont-items {
    width: auto;
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
  }

div.navbar-items {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    background: rgb(255,255,255,0);
  }

  div.navbar-items a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 12pt;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    transition: .2s ease;
    transform: scale(1);
}

div.navbar-items a:hover {
  transform: scale(1.1);
}

div#container-list, div#container-list-pro {
    position: relative;
    width: 150px;
    height: 100%;
  }

div#list, div#list-products {
    position: relative;
    width: 100%;
    height: auto;
    top: 7%;
    left: 0;
    transition: .4s;
    z-index: -10;
    opacity: 0;
    display: none;
    background: rgba(255,255,255,.8);
    /* background: transparent; */
    padding-bottom: 1rem;
    font-weight: bold;
    color: #252525;
}

div#container-list:hover div#list,
div#container-list-pro:hover div#list-products
{
    opacity: 1;
    z-index: 100;
    display: block;
}

div.list-a {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 20px;
    text-align: left;
    transition: .2s;
    cursor: pointer;
    padding-left: 2rem;
    margin-top: 10px;
}

div.list-a:hover {
  padding-left: 2.5rem;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*=================================================================================================================================================================================*/




@media screen and (max-width:930px) and (min-width: 876px) {

  div#navbar-cont-items {
    width: auto;
    height: 100%;
    display: block;
    margin-top: 0;
    margin-right: 10px;
  }

  div.navbar-items {
    text-align: center;
    width: 100px;
    height: 100%;
    border-radius: 4px;
    margin-top: 2px;
    background: rgb(255,255,255,0);
  }

}


@media screen and (max-width:875px) {
div#cont-menu-list {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  height: auto;
  transform: translateY(-500px);
  opacity: 0;
}

div#cont-menu-list.activate {
  transform: translateY(0px);
  opacity: 1;
  animation: menu .4s ease-out;
}

@keyframes menu {
  0% {transform: translateY(-500px); opacity: 0;}
  70% {transform: translateY(30px); opacity: .3;}
  100% {transform: translateY(0px); opacity: 1;}
}

div#navbar-cont-items {
  width: 300px;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}

div.navbar-items {
  width: 300px;
  min-width: 300px;
  height: auto;
  border-radius: 4px;
  margin-top: 2px;
  background: rgb(255,255,255,.9);
}

div#list {
  position: relative;
  min-width: 300px;
  height: auto;
  top: 0;
  left: 0;
  transition: .4s;
  z-index: 0;
  opacity: 1;
  display: block;
  /* background: #AA182C; */
  background: transparent;
  color: #252525;
}

div#cont-menu {
  margin-bottom: 12px;
  display: flex;
  opacity: 1;
  z-index: 500;
  float: right;
  position: relative;
}


}
