<div id="navbar">
    <div id="navbar-logo">
      <img src="../../../assets/img/Logo Procasa orginal.png" id="scrollto" alt="logo Procasa">
    </div>



  <div id="navbar-cont-items">
        <div id="cont-menu" (click)="MenuToggle()"><div></div><div></div><div></div></div>

    <div id="cont-menu-list">
      <div class="navbar-items" id="container-list">
              <a class="light" routerLink="/Inicio" id="quienes-somos">Quiénes somos</a>
              <div id="list">
                  <div (click)="tohistoria()" class="list-a" id="window-historia">Historia</div>
                  <div (click)="toVision()" class="list-a" id="window-vmv">Visión, Misión, Valores</div>
                  <div (click)="toNoticia()" class="list-a" id="window-noticia">Noticias</div>
              </div>
          </div>
          <div class="navbar-items"><a class="light" routerLink="/ubicaciones" >Ubicaciones</a></div>
          <div class="navbar-items"><a class="light" routerLink="/productos">Productos</a></div>
          <div class="navbar-items"><a class="light" routerLink="/nuestros-clientes">Nuestros clientes</a></div>
          <div class="navbar-items"><a class="light" routerLink="/quiero-comprar">Quiero comprar</a></div>
        </div>
      </div>
  </div>

