<img src="../../../assets/img/textura-fon.png" alt="" id="background">

<div id="container-map">


  <div id="conts">
    <div id="cont-top">
        <div class="cont-logo" (click)="OpenSucursales1()"><img src="../../../assets/img/Logo MH blanco.png" alt=""></div>
        <div class="cont-logo" (click)="OpenSucursales2()"><img src="../../../assets/img/Logo Procasa blanco.png" alt=""></div>
    </div>
    <div id="map"></div>
      <div id="cont-sucursal">
        <div id="cont-img" class="cont">
              <div id="close" (click)="CloseSucursal()">cerrar</div>
          <img src="../../../assets/img/empty.jpg" alt="">
            <p id="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, molestiae debitis placeat, minus adipisci eveniet nesciunt ad quibusdam neque, nostrum aliquam voluptatibus eum est odit! Explicabo saepe ratione facere illo.</p>
        </div>

        <div id="cont-sucursales-buttons-1" class="cont">
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 1</div>
        </div>
        <div id="cont-sucursales-buttons-2" class="cont">
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
            <div class="sucursales bold" (click)="ToggleDetails()">sucursal 2</div>
        </div>
      </div>
  </div>

</div>
