<img src="../../../assets/img/textura-fon.png" alt="" id="background">

<div id="container-map">


  <div id="conts">
    <div id="cont-top">
        <div class="cont-logo" (click)="OpenSucursales1('meath')"><img src="../../../assets/img/Logo MH blanco.png" alt=""></div>
        <div class="cont-logo" (click)="OpenSucursales1('procasa')"><img src="../../../assets/img/Logo Procasa blanco.png" alt=""></div>
    </div>
    <div id="map"></div>
      <div id="cont-sucursal">

        
        <div id="cont-img" class="cont">
              <div id="close" (click)="CloseSucursal()">cerrar</div>
              <img  [ngSrc]="'http://localhost:3002/' + imgPath" [width]="500" [height]="500" alt="">
            <p id="details">{{descripcion}}</p>
        </div>

        <div id="cont-sucursales-buttons-1" class="cont">
          @for (os of data; track os._id) {
              <div class="sucursales bold" (click)="ToggleDetails(os._id)">{{os.nombreTienda}}</div>
             
          }

        </div>
       
      </div>
  </div>

</div>
