@if (tipoBack == true ) { <img  [src]="imgFondo" id="background-texture" > }@else{ <img   id="background-texture" [style.background-color]="colorn" > }
<app-navbar-white/>

<div id="container-main">
  <h1 class="container-h1 bold" id="por-que-procasa">¿POR QUÉ PROCASA?</h1>

  <div id="container-promesa">
  <div class="cont-promesa"><img src="../../../../assets/img/Mesa de trabajo 1.png"></div>
  <div class="cont-promesa"><img src="../../../../assets/img/Mesa de trabajo 7.png"></div>
  <div class="cont-promesa"><img src="../../../../assets/img/Mesa de trabajo 8.png"></div>
  <div class="cont-promesa"><img src="../../../../assets/img/Mesa de trabajo 9.png"></div>
  <div class="cont-promesa"><img src="../../../../assets/img/Mesa de trabajo 10.png"></div>

</div>


<!-- ========================================================================================================================================================================================================================== -->


<h1 class="container-h1 bold" id="nuestras-marcas">NUESTRAS MARCAS</h1>
<div id="container-marcas">

<div id="btns-arrow">
    <div id="btn-left-ca" (click)="revertShiftArray()"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div id="btn-left-ca" (click)="shiftArray()"><mat-icon>keyboard_arrow_right</mat-icon></div>
</div>

  <div id="carrousel-marcas">
    @for (os of dataMarcas ; track $index){
      <div class="marca-item"><img src={{os.imgPath}}><div class="info-product"><p class="normal">{{os.textMarca}}</p></div></div>
    }
    </div>

<div id="carrousel-marcas-movil">
  @for (os of dataMarcas; track $index){
    <div class="marca-item"><img src={{os.imgPath}}><div class="info-product"><p class="normal">{{os.textMarca}}</p></div></div>
  }
</div>
</div>


<!-- ========================================================================================================================================================================================================================== -->


  <h1 class="container-h1 bold" id="catalogo">CATÁLOGO</h1>
  
  <div id="cont-products">

    @for (os of dataProductos; track os.id  ) {
      <div class="product">
              <div class="cont-img-product"><img [ngSrc]="os.imgPath" [width]="1" [height]="1" class="img-product"></div>
          <h2>{{os.nombreProducto}}</h2>
              <div class="cont-details">
                <h1 class="bold">{{os.nombreProducto}}</h1>
                  <div class="cont-ul">
                    @for (categoria of os.categorias; track $index) {
                        <ul>
                        <li class="bold">{{categoria.Nombre}}</li>
                        @for (items of categoria.items; track $index) {
                          <li>{{items}}</li>
                        }
                      </ul>
                      }
                  </div>
                </div>
              </div>
                }
  </div>
</div>

<div id="cont-whatsapp">
  <a href="https://api.whatsapp.com/send/?phone=50230107381&text&type=phone_number&app_absent=0" target="_blank">
    <img src="../../../../assets/img/whatsapp.png">
    <h2 class="bold">COMPRA POR WHATSAPP</h2>
  </a>
</div>


<app-footer></app-footer>
