<div id="noticias">
<div id="btns-arrow" (click)="arrowRight()">
  <mat-icon>keyboard_arrow_left</mat-icon>
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>


<div id="carrousel-noticias">
  @for (os of data; track os.id) {
            <div class="noticia">
              <div class="cont-img"><img [src]="os.imgPhat" alt=""></div>
              <div class="cont-datos-noticia">
                <h1 class="bold">{{os.title}}</h1>
                <div class="descubre bold" routerLink="/noticia">DESCUBRE</div>
                <div class="fecha-noticia bold">{{os.diferenciaEnTexto}}</div>
              </div>
            </div>
        }
</div>

</div>
