<div id="container-noticias">
    <h1 class="container-h1 bold">NOTICIAS</h1>

    <div id="noticias">
        @for (os of data; track os.id) {
            <div class="noticia">
              <div class="cont-img">
                <img   [src]="os.imgPhat" alt="">
              </div>
              <div class="cont-fill"></div>
                <div class="cont-text">
                  <h6 class="title-not">{{os.title}}</h6>
                  <h6 class="timeof">hace {{os.diferenciaEnTexto}}</h6>
                      <div class="arrow">V</div>
                        <div class="cont-info">
                          {{os.descripcion}}
                        </div>
                    <div class="see-more-notice">ver noticia completa</div>
                </div>
            </div>
        }
    </div>
</div>
