

h1.container-h1 {
  width: 100%;
  position: relative;
  margin-top: 5vh;
}

div#container-main {
  width: 100vw;
  height: auto;
  padding-bottom: 10rem;
  position: relative;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div.container-search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
}

div.cont-search {
  position: relative;
  width: auto;
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.cont-search input {
  position: relative;
  padding: .5rem 2rem;
  border-radius: 100px;
  font-size: var(--fs-sub);
  color: #FFF;
  background: rgba(255,255,255,.5);
}

div.cont-search mat-icon {
  position: absolute;
  top: auto;
  right: 10px;
  z-index: 10;
  color: #FFF;
  font-size: var(--fs-sub);
}





div.container-plazas {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 960px;
  height: auto;
  margin-top: 2rem;
}

div.cont-plaza {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin: 10px 10px;
}

div.cont-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.cont-img img {
  width: auto;
  height: 100%;
  top: auto;
  left: auto;
  position: absolute;
}




div.foo-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 4px;
}

div.foo-data h1 {
  font-size: var(--fs-text);
  height: 100%;
}

div.foo-data h1 p {
  font-size: 8pt;
}

div.foo-data h2 {
  font-size: var(--fs-text);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.foo-data h2 mat-icon {
  color: var(--main);
}



div#container-data-texto {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

div#container-data-texto * { color: #FFF; }

div#container-data-texto p, div#container-data-texto p b {  font-size: 16pt; }

div#container-data-texto p {
  width: auto;
  max-width: 700px;
}

div#container-data-texto h6 {
  width: 100%;
  position: relative;
  font-size: 14pt;
  text-align: center;
  margin-top: 2rem;
}





@media screen and (max-width: 1000px) {
div#container-data-select { width: 800px }
div#container-data-select div.cont-data-sel { width: 400px }
}


@media screen and (max-width: 800px) {
  div#container-data-select { width: 90% }
  div#container-data-select div.cont-data-sel { width: 100% }
div#container-data-select div.cont-data-sel:nth-child(2) { width: 300px;  margin-top: 4rem;}
}

@media screen and (max-width: 960px) { div.container-plazas { width: 720px; } }
@media screen and (max-width: 720px) { 
  div.container-plazas { width: 480px;}
  div#container-data-texto { width: auto;  max-width: 90%;}
}
@media screen and (max-width: 479px) { div.container-plazas { width: 100%; justify-content: center;} }

