@if (tipoBack == true ) { <img title="imagen de muestra" [src]="imgFondo"  id="background-texture" > }@else{ <img title="imagen de muestra"  id="background-texture"[style.background-color]="colorn" > }

<app-navbar-white/>

<div id="container-main">
  <h1 class="container-h1 bold">TRABAJA CON NOSOTROS</h1>

<div class="container-search">
  <div class="cont-search">
    <input type="text" class="bold">
    <mat-icon>search</mat-icon>
  </div>
</div>
<div class="container-plazas">


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/pilotos.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/pilotos.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/pilotos.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/pilotos.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/pilotos.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>


</div>


<div id="container-data-texto">
  <p>si no encontraste plaza de tu interés puedes enviar tu CV al correo: <b class="bold">{{correo}} o aplicar al siguiente enlace </b></p>
  <button class="btn-red btn-click">aplica aquí</button>


  <h6>“Calidad de servicio no es lo que tu das. Es lo que el cliente recibe”. <br> Peter Drucker</h6>
</div>





<div id="container-data-select">
  <div class="cont-data-sel">
    <h1 class="bold">Gerente</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsam reiciendis esse animi quaerat distinctio odio vitae quia eum? At culpa amet architecto quas perspiciatis ex adipisci labore voluptates aliquam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsam reiciendis esse animi quaerat distinctio odio vitae quia eum? At culpa amet architecto quas perspiciatis ex adipisci labore voluptates aliquam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsam reiciendis esse animi quaerat distinctio odio vitae quia eum? At culpa amet architecto quas perspiciatis ex adipisci labore voluptates aliquam.
    </p>

    <div id="cont-btn-plaza"><button class="btn-click btn-red">Aplica aquí</button></div>
  </div>


  <div class="cont-data-sel">
    <img src="../../../../assets/img/gerentes.jpg">
  </div>
</div>


</div>
<app-footer></app-footer>
<app-flecha></app-flecha>
