

@if (tipoBack == true ) { <img title="imagen de muestra" [src]="imgFondo"  id="background-texture" > }@else{ <img title="imagen de muestra"  id="background-texture"[style.background-color]="colorn" > }

<app-navbar></app-navbar>

<div id="container-main">
  <h1 class="container-h1 bold">OPORTUNIDAD DE EMPLEO</h1>

<div id="container-1">

  @for (os of dataUnete; track os.id) {
    <h2 (click)="toScrollPlaza($index)">{{os.titulo}}</h2>
}


  <div id="foot-area">
    <p>Puedes enviar tu CV al correo: <b>contrataciones procasa.com.gt</b></p>
    <button id="aplicate" class="bold">APLICA AQUÍ</button>
  </div>
</div>

<div class="container-plazas">

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
    <br>
}

<br>


  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

  <div class="cont-plaza">
    <div class="cont-img"><img src="../../../../assets/img/hamburguesa.jpg"></div>
    
    <div class="foo-data">
      <h1 class="bold">Plaza <p>día mes año</p></h1>
      <h2 class="bold"><mat-icon>room</mat-icon> Ubicación</h2>
    </div>
  </div>

</div>


<div id="container-data-texto">
  <p>si no encontraste plaza de tu interés puedes enviar tu CV al correo: <b class="bold">{{correo}} o aplicar al siguiente enlace </b></p>
  <button class="btn-red btn-click">aplica aquí</button>
</div>

</div>
<app-footer></app-footer>
<app-flecha></app-flecha>
