

h1.container-h1 {
  width: 100%;
  position: relative;
  margin-top: 5vh;
}

div#container-main {
  width: 100vw;
  height: auto;
  padding-bottom: 10rem;
  position: relative;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#container-1 {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

div#container-1 h2 {
  max-width: 300px;
  width: 90%;
  text-align: center;
  margin: 2rem 1rem;
  padding: 1rem;
  color: #FFF;
  font-size: 20pt;
  border-radius: 4px;
  border: 1px solid #454545;
  cursor: pointer;
  background: transparent;
}

div#container-1 h2:hover { border: 1px solid #A4A4A4; }
div#container-1 h2:active { background: #A4A4A4; }

div#foot-area {
  margin-top: 6rem;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div#foot-area p {
  width: 80%;
  font-size: 16pt;
  color: #F4F4F4;
}

button#aplicate {
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #AA182C;
  color: #F4F4F4;
  border-radius: 4px;
  font-size: 14pt;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
  transition: transform .1s;
}

div.cont-search mat-icon {
  position: absolute;
  top: auto;
  right: 10px;
  z-index: 10;
  color: #FFF;
  font-size: var(--fs-sub);
}




div.container-plazas {
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  position: relative;
  width: 1000px;
  height: auto;
  margin-top: 2rem;
}

div.cont-area {
  width: 100%;
  position: relative;
  width: 230px;
  height: 230px;
  overflow: hidden;
  margin: 10px 10px;
}

div.cont-to-aplicate {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

div.cont-to-aplicate p {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 1rem;
}

button.to-open-form {
  padding: .5rem 2rem;
  background: #AA182C;
  color: #F4F4F4;
  border-radius: 4px;
  font-size: 12pt;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
  transition: transform .1s;
}




div.foo-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 4px;
}

div.foo-data h1 {
  font-size: var(--fs-text);
  height: 100%;
}

div.foo-data h1 p {
  font-size: 8p
}

div.foo-data h2 {
  font-size: var(--fs-text);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.foo-data h2 mat-icon {
  color: var(--main);
}


div#container-data-texto {
  margin-top: 2rem;
  width: 830px;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div#container-data-texto * {
  color: #FFF;
  font-size: 16pt;
}

div#container-data-texto button.btn-click {
  display: block;
  min-width: 150px;
}



