@if (tipoBack == true ) { <img  [src]="imgFondo"  id="background-texture" > }@else{ <img   id="background-texture"[style.background-color]="colorn" > }

<app-navbar-white/>

<div id="arrow-back" (click)="backPage()"><mat-icon>keyboard_arrow_left</mat-icon></div>

<section id="noticia-unica">
    <h1 class="bold">{{title}}</h1>

    <div id="cont-data-notice">
        <div class="data-notice">
            <p>
                {{descripcion}}
            </p>
        </div>
        <div class="data-notice">
            <img src="{{imgPhat}}">
        </div>
    </div>
</section>

<app-footer></app-footer>