<div id="sharp"></div>
<div id="container-login">
  <div id="login">


    <img src="../../../assets/img/Logo MH original.png" alt="">
      <h2>¡Bienvenido al Administrador de Procasa!</h2>
      <p>Escribe tus credenciales para ingresar a tu cuenta.</p>

        <div class="cont-input">
          <label for="mail">Correo</label>
          <input placeholder="" title="ingrese los datos" class="bold" type="gmail" name="mail">
        </div>

        <div class="cont-input">
          <label for="password" routerLink="" >Contraseña</label>
          <input placeholder="" title="ingrese los datos" class="bold" type="password" name="password">
        </div>
          <a href="#">Solicitar nueva contraseña</a>

          <button  routerLink="Principal" > Ingresar</button>
  </div>
</div>

