mat-icon { font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}


div#container-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #EEEEEE;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 2rem;
  }

  div#container-2 h1 {
    color: #AA182C;
    font-size: 18pt;
    width: auto;
    display: inline-block;
  }


  button#add-product {
    background: #AA182C;
    color: #FFF;
    text-align: center;
    border-radius: 2rem;
    font-size: 9pt;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
    opacity: 1;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  button#add-product:active {
    transform: scale(.9);
    opacity: .8;
  }
  div#bar-search {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  div#bar-search label {
    width: 10%;
    font-size: 12pt;
  }

  div#bar-search input {
    width: 80%;
    padding: .5rem 2rem;
    border-radius: 10rem;
    font-size: 14pt;
    border: 1px solid #DDD;
  }

  div#bar-search button {
    width: 10%;
    background: transparent;
  }

/*-------------------------------------------------------------------------------------------------*/

div#container {
    position: relative;
    width: auto;
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
}

div.conta {
    width: 300px;
    border-radius: 4px;
    margin: 1rem 1rem;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    flex-wrap: wrap;
    background: var(--white);
}

div.conta img {
    width: auto;
    max-width: 90%;
    min-width: 70%;
    height: auto;
    border-radius: 4px;
}

div.conta h2 {
  width: 100%;
  text-align: center;
    font-size: 16pt;
    margin-left: 1rem;
    margin-top: .5rem;
}

ul.ul-data {
    list-style: none;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

ul.ul-data li ul { margin-left: 2rem; }

ul.ul-data li span { margin-left: 4px; }

div.cont-buttons {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

/*===========================================================================================================*/


div.modal {
  position: fixed;
  width: 600px;
  height: auto;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  top: 10vh;
  left: calc(50% - 300px);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 990;
  transform: translateY(100px) scale(.8);
  transition: transform .4s ease-in-out;
  opacity: 0;
  z-index: -10;
}

div#edit.show, div#add.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 45;
}


h1.title-modal {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 18pt;
}


div.sub-cont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  height: 50%;
}

div.sub {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 0rem;
}



div.fn-principales {
  font-size: 11pt;
  position: relative;
  width: 80%;
  background: #EAEAEA;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
}

div.fn-principales p {
  font-size: 11pt;
  padding: .5rem;
  border-radius: 4px;
  text-align: center;
}

span#add-fn {
  background: #FAFAFA;
  color: #252525;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 20pt;
  transition: transform .1s;
  transform: scale(1);
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 0px rgba(0,0,0,.1);
}
span#add-fn:active {transform: scale(.9);}


div.cont-btns {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


div.btn-save {
  position: relative;
  padding: .5rem 1rem;
  background: #AA182C;
  color: #FAFAFA;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  transition: transform .1s;
  transform: scale(1);
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform .1s;
  transform: scale(1);
}

div.btn-save:active {transform: scale(.9);}


div.fns-add {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 4px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.fns-add form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

div.fns-add.show {opacity: 1; z-index: 45;}

div.close-minmodal {
  position: absolute;
  padding: .5rem 1rem;
  background: #F4F4F4;
  right: .5rem;
  top: .5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
}

div.cont-in-fns {
  width: 80%;
  height: 85%;
  margin-top: 15%;
  padding-bottom: 4rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div.cont-in-fns textarea {min-width: 100%; width: 100%; display: block;}

div#save-fns {
  width: auto;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  cursor: pointer;
  background: #AA182C;
  color: #FFF;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

div.btns-micmodal {
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  border-radius: 4px;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  position: relative;
  cursor: pointer;
  background: #EAEAEA;
  color: #252525;
}

div.cont-in-fns textarea {
  width: 60%;
  height: 6rem;
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  margin-top: .5rem;
}

div.actions-input-del {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

div.del-edit-fn, div.edit-edit-fn {
  background: #AA182C;
  color: #FFF;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .1s;
  transform: scale(1);
}
div.del-edit-fn:active,
div.edit-edit-fn:active { transform: scale(.9); }

div#open-modal-edit-fn {
  padding: .5rem 1rem;
  cursor: pointer;
  background: #AA182C;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

div#modal-edit-fns {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  background: #FAFAFA;
  display: none;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}


div#modal-edit-fns.show { display: flex; }

div#cont-input-edit {
  display: flex;
  width: 600px;
  height: 90%;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-top: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

div#close-edit-fn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  border-radius: 4px;
  cursor: pointer;
}

div.actions-input-del input {
  width: 250px;
  margin-top: 4px;
}


div#save-edit-fn {
  background: #AA182C;
  color: #252525;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  margin-top: 2rem;
}


div.cont-tt {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15%;
}

div.cont-tt label {
  width: 100%;
  margin-bottom: 4px;
}

textarea.text-desarrollo {
  width: 100%;
  padding: 1rem;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 4px;
}

div.item-estado {
  width: 70%;
  margin-left: 15%;
  justify-content: center;
}

div.item-estado label {
  width: 70%;
  margin-top: 1rem;
}


div#cont-modal-inputs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: -10;
  opacity: 0;
}

div#cont-modal-inputs.show {
  z-index: 990;
  opacity: 1;
}

div#cont-modal-inputs h3 {
  font-size: 14pt;
  width: 100%;
  text-align: center;
  padding: 1rem;
}


div#modal-inputs {
  width: 100%;
  height: 100%;
  z-index: 994;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

p.status {
  position: absolute;
  left: 10%;
  bottom: 1rem;
  width: auto;
  font-size: 10pt;
}


div.btns-fn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

div.btns-fn div {
  width: 30%;
  border-radius: 4px;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  cursor: pointer;
  background: #f4f4f4;
  transition: transform .1s;
  transform: scale(1);
}
div.btns-fn div:active {transform: scale(.9);}

input.fn-generated {
  width: 60%;
}


div#save-fn {
  padding: .5rem 4rem;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transition: transform .1s;
  transform: scale(1);
  background: #AA182C;
  color: #FAFAFA;
  cursor: pointer;
}

div#save-fn:active {transform: scale(.9);}

div.datos-textarea {
  width: 100%;
  border-radius: 4px;
  word-wrap: break-word;
}


div#subcont-plaza {
  position: relative;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  width: 100%;
}


div#subcont-plaza .item {
  width: 60%;
  margin-left: 20%;
}

div#subcont-plaza .item label {
  width: 80%;
}

div.cont-tt-data {
  width: 90%;
  margin-left: 0;
  padding: .5rem;
  height: 120px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
  border-radius: 4px;
  margin-top: 1rem;
  word-wrap: break-word;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 630px) {
  div.modal {
    width: 100vw;
    max-height: 80vh;
    left: calc(50% - 50%);
  }
}

@media screen and (max-width: 600px) {

  div#container-2 { padding: 0 .5rem; }
  div#container-2 h1 {
    font-size: 14pt;
    width: auto;
  }

  div#bar-search input {
    width: 90%;
    padding: .5rem 1rem;
    font-size: 12pt;
  }
}

@media screen and (max-width: 440px) {
  div#container-2 h1 { display: none; }
}


