<app-admin-navbar></app-admin-navbar>

<div class="container-head">
    <h1>Plazas</h1>
    <span>
      <input class="bold" type="text" name="search" placeholder="buscar plaza">
      <button class="btn-click btn-white normal" (click)="ModalProduct('modal-add-plaza')"><mat-icon>add</mat-icon> Agregar</button>
    </span>
  </div>


<div class="admin-main">
  <div class="shadow-main"></div>
<div id="container">
  @for (os of dataUnete; track os._id  ) {

    <div class="conta">
      <img [src]="os.imgPath" alt="">

      <h2 class="bold">{{os.titulo}}</h2>
      <div class="datos">

      <ul class="ul-data">
          <li class="bold">Ubicación: <span>{{os.ubicacion}}</span></li>
          <li class="bold">Departamento: <span>{{os.departamento}}</span></li>
          <li class="bold">Empresa: <span>{{os.empresa}}</span></li>
          <li class="bold">Fecha de publicación: <span>{{os.fecha}}</span></li>
          <li class="bold">Funciones Principales:
              <ul>
                @for (ositems of os.funciones; track $index) {
                  <li  (click)="obtenerItemd($index)" >  {{ositems}}</li>
                }
              </ul>
          </li>
          <li class="bold">Educación: <span>{{os.educacion}}</span></li>
          <li class="bold">Experiencia laboral: <span>{{os.experecia}}</span></li>
      </ul>

      <div class="cont-buttons">
        <div class="actions btn-click btn-red" (click)="ModalFunctions($index)"><mat-icon>add</mat-icon></div>
          <div class="actions btn-click btn-red" (click)="ModalProduct('modal-edit-plaza')" (click)="obtenerPlazaId(os._id)"  ><mat-icon>edit</mat-icon></div>
          <div class="actions btn-click btn-red" (click)="EliminarP(os._id)"><mat-icon>delete</mat-icon></div>
      </div>


<div class="fns-add">
  <div class="close-minmodal" (click)="ModalFunctions($index)"><mat-icon>close</mat-icon></div>
<form [formGroup]="formAgregarFuncion">

  <div class="cont-in-fns">
    <textarea formControlName="funcion" name="" class="normal" id="fn-to-add" placeholder="función nueva"></textarea>

    <div id="save-fns" (click)="ModalFunctions($index)" (click)="agregarfuncion(os._id)" ><mat-icon>save</mat-icon> guardar</div>
  </div>

</form>
</div>
      </div> <!-- DATOS -->


      </div>
    }

<form [formGroup]="formAgregarPlaza" >

  <div class="global-modal" id="modal-add-plaza">
    <h1 class="title-modal">Agregar plaza</h1>
    <div (click)="cleanForms()" class="btn-click close-modal" (click)="ModalProduct('modal-add-plaza')"><mat-icon>close</mat-icon></div>

<div class="cont">
<div id="sub-cont-details-img">
        <div class="sub-details">
            <div class="sub-img-btn">
              <input class="to-clean" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
              <mat-icon (click)="clearInputs()">delete</mat-icon>
            </div>
          <ul>
            <li>ancho: <span class="normal danger-red"></span> </li>
            <li>alto:  <span class="normal danger-red"></span> </li>
            <li>peso:  <span class="normal danger-red"></span></li>
          </ul>
        </div>
        <div class="cont-details-img"><img alt="" src=""></div>
  </div>
</div>


<div class="cont start">
  <div class="item">
    <label class="normal">plaza / vacante</label>
    <input type="text"  formControlName="titulo" class="normal">
  </div>

  <div class="item">
    <label class="normal">departamento</label>
    <input type="text" formControlName="departamento" class="normal">
  </div>

  <div class="item">
    <label class="normal">empresa</label>
    <input type="text" formControlName="empresa" class="normal">
  </div>

  <div class="item">
    <label class="normal">ubicación</label>
    <input type="text" formControlName="ubicacion" class="normal">
  </div>

  <div class="item">
    <label class="normal">educación requerida</label>
    <input type="text" formControlName="educacion" class="normal">
  </div>

  <div class="item">
    <label class="normal">enlace formulario</label>
    <input type="text" formControlName="formulario" class="normal">
  </div>

  <div class="item">
    <label class="normal">Experiencia laboral</label>
    <textarea formControlName="experiencia"  class="normal"></textarea>
  </div>
</div>

<div class="action-center"><div class="btn-click btn-red" (click)="sendFileplaza()"><mat-icon>save</mat-icon> guardar</div></div>

</div>
</form>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="global-modal" id="modal-edit-plaza">
  <div class="btn-click close-modal" (click)="ModalProduct('modal-edit-plaza')" (click)="cleanForms()"><mat-icon>close</mat-icon></div>
  <h1 class="title-modal">Editar plaza</h1>

<form [formGroup]="formEditarPlaza">
<div class="cont">
<div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input class="to-clean" type="file" (change)="getFileEdit($event)" (change)="InputChange($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
            <mat-icon (click)="clearInputs()">delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="normal danger-red"></span> </li>
          <li>alto:  <span class="normal danger-red"></span> </li>
          <li>peso:  <span class="normal danger-red"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img alt="" src=""></div>
</div>
</div>


    <div class="cont">
      <div class="item">
        <label class="normal">plaza / vacante</label>
        <input type="text" [(ngModel)]="NombrePlaza" formControlName="titulo" class="normal">
      </div>

      <div class="item">
        <label class="normal">departamento</label>
        <input type="text" [(ngModel)]="DepartamentoPlaza" class="normal">
      </div>

      <div class="item">
        <label class="normal">empresa</label>
        <input type="text"  [(ngModel)]="EmpresaPlaza"   formControlName="empresa" class="normal">
      </div>

      <div class="item">
        <label class="normal">ubicación</label>
        <input type="text"  [(ngModel)]="UbicacionPlaza" formControlName="ubicacion" class="normal">
      </div>

      <div class="item">
        <label class="normal">educación requerida</label>
        <input type="text"  [(ngModel)]="EducacionPlaza" formControlName="educacion" class="normal">
      </div>

      <div class="item">
        <label class="normal">experiencia laboral</label>
        <textarea name="" id=""  [(ngModel)]="ExperienciaPlaza" formControlName="experiencia" class="normal"></textarea>
      </div>
      <div id="open-modal-edit-fn" class="btn-click" (click)="ModalEditFunctions()" (click)="obtenerFunciones()" >editar funciones</div>

      </div>
  </form>


<div class="action-center"><div class="btn-click btn-red" (click)="Edit()" (click)="EditPlaza()" ><mat-icon>save</mat-icon> guardar</div></div>
<!--  -->


<div id="modal-edit-fns">
  <h1 class="title-modal">Editar funciones</h1>
  <div class="btn-click close-modal" (click)="ModalEditFunctions()"><mat-icon>close</mat-icon></div>

<div id="cont-input-edit">
  @for (ositems of funciones; track $index) {
  <div class="actions-input-del">
    <div class="btn-click btn-red" (click)="DeleteFunction()" (click)="eliminarFuncion($index)"><mat-icon>delete</mat-icon></div>
    <div class="btn-click btn-red" (click)="editarFuncion($index)"><mat-icon>edit</mat-icon></div>
    <form [formGroup]="formEditarFuncion">
      <input  formControlName="funciones" (click)="obtenerIndiceFunciones($index)"  type="text" placeholder="{{ositems}}">
    </form>
    </div>
  }

  <div id="save-edit-fn" class="btn-click" (click)="ModalEditFunctions()"><mat-icon>save</mat-icon> guardar</div>
</div>
</div>


<div class="container-alert" forelem="-editar-">
  <div class="alert-model">
      <p class="inner-message bold"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button class="confirm" (click)="editarPlaza()" (click)="closeAlert($event)"><mat-icon>done</mat-icon></button>
        <div class="replace-button cancel" (click)="closeAlert($event)"><mat-icon>close</mat-icon></div>
      </div>
    </div>
</div>

</div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
