<app-admin-navbar></app-admin-navbar>

<div class="container-head">
    <h1>Nuestro Equipo</h1>
    <span>
      <input [(ngModel)]="nombreTiendaFiltro"  class="bold" type="text" name="search" placeholder="Buscar plaza">
      <button class="btn-click btn-white normal" (click)="ModalProduct('modal-add-plaza')"><mat-icon>add</mat-icon> Agregar</button>
    </span>
  </div>


<div class="admin-main">
  <div class="shadow-main"></div>
<div id="container">
  @for (os of dataUnete| mostrarNombrePlaza: nombreTiendaFiltro ; track os.id  ) {

    <div class="conta">
      <img [src]="os.imgPath">

      <h2 class="bold">{{os.titulo}}</h2>
      <div class="datos datos-textarea">

      <ul class="ul-data">
        <li class="bold">Nombre de la  plaza<span>{{os.titulo}}</span></li>

          <li class="bold">Ubicación: <span>{{os.ubicacion}}</span></li>
          <li class="bold">estado: <span>{{os.estado}}</span></li>

          <textarea class="cont-tt-data" disabled>{{os.descripcion}} </textarea>
      </ul>

      <div class="cont-buttons">

        <div (click)="VisivilityHide(os._id)" class="actions btn-click btn-red"><mat-icon>{{visibility}}</mat-icon></div>
        <!-- <div (click)="VisivilityShow(os._id)" class="actions btn-click btn-red"><mat-icon>visibility</mat-icon></div> -->

        <div class="actions btn-click btn-red" (click)="ModalProduct('modal-edit-plaza')" (click)="obtenerPlazaId(os._id)"><mat-icon>edit</mat-icon></div>
        <div class="actions btn-click btn-red" (click)="EliminarP(os._id)"><mat-icon>delete</mat-icon></div>
      </div>


<div class="fns-add">
  <div class="close-minmodal" (click)="ModalFunctions($index)"><mat-icon>close</mat-icon></div>
<form [formGroup]="formAgregarFuncion">

  <div class="cont-in-fns">
    <textarea formControlName="funcion" name="" class="normal" id="fn-to-add" placeholder="función nueva"></textarea>

    <div id="save-fns" (click)="ModalFunctions($index)" (click)="agregarfuncion(os._id)" ><mat-icon>save</mat-icon> guardar</div>
  </div>

</form>
</div>
      </div>


      </div>
    }


<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<form [formGroup]="formAgregarPlaza">

  <div class="global-modal" id="modal-add-plaza">
    <h1 class="title-modal">Agregar plaza</h1>
    <div (click)="cleanForms()" class="btn-click close-modal" (click)="ModalProduct('modal-add-plaza')"><mat-icon>close</mat-icon></div>

<div class="cont">
<div id="sub-cont-details-img">
        <div class="sub-details" id="">
            <div class="sub-img-btn">
              <input class="to-clean" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
              <mat-icon (click)="clearInputs()">delete</mat-icon>
            </div>
          <ul>
            <li>ancho: <span class="normal danger-red"></span> </li>
            <li>alto:  <span class="normal danger-red"></span> </li>
            <li>peso:  <span class="normal danger-red"></span></li>
          </ul>
        </div>
        <div class="cont-details-img"><img alt="" src=""></div>
  </div>
<!-- </div>


<div class="cont"> -->
  <div class="subcont-plaza">

    <div class="item">
      <label class="normal">plaza / vacante</label>
      <input type="text"  formControlName="titulo" class="normal">
    </div>
    
      <div class="item">
        <label class="normal">ubicación</label>
        <select formControlName="ubicacion" >
          @for (item of dataUbicacion; track $index) { <option value="{{item}}">{{item}}</option> }
        </select>
      </div>
<!--     
  <div class="item">
      <label class="normal">Visibilidad</label>
      <select formControlName="visibilidad">
        <option value="visible">visible</option>
        <option value="oculto">oculto</option>
      </select>
  </div>
  
<div class="item"></div> -->


  <div class="cont-tt">
    <label class="bold">Desarrollo de plaza</label>
    <textarea formControlName="descripcion" class="text-desarrollo" cols="1" rows="1"></textarea>
  </div>
</div>

</div>

<div class="action-center"><div class="btn-click btn-red" (click)="sendFileplaza()"><mat-icon>save</mat-icon> guardar</div></div>

</div>
</form>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="global-modal" id="modal-edit-plaza">
  <div class="btn-click close-modal" (click)="ModalProduct('modal-edit-plaza')" (click)="cleanForms()"><mat-icon>close</mat-icon></div>
  <h1 class="title-modal">Editar plaza</h1>

<form [formGroup]="formEditarPlaza">
<div class="cont">
<div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input value="imgPath" class="to-clean" type="file" (change)="getFileEdit($event)" (change)="InputChange($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp">
            <mat-icon (click)="clearInputs()">delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="normal danger-red"></span> </li>
          <li>alto:  <span class="normal danger-red"></span> </li>
          <li>peso:  <span class="normal danger-red"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img [src]="imgPath"></div>
</div>
</div>


    <div class="cont">


      <div class="subcont-plaza">
        <div class="item">
          <label class="normal">plaza / vacante</label>
          <input type="text" [(ngModel)]="NombrePlaza"  formControlName="titulo" class="normal">
      </div>

      <div class="item">
          <label class="normal">Ubicación</label>
        <select [(ngModel)]="UbicacionPlaza" formControlName="ubicacion" >
          @for (item of dataUbicacion; track $index) { <option value="{{item}}">{{item}}</option>}
        </select>
      </div>
      
            <!-- <div class="item">
                <label class="normal">Visibilidad</label>
                <select [(ngModel)]="visibilidad" formControlName="visibilidad">
                  <option value="visible">visible</option>
                  <option value="oculto">oculto</option>
                </select>
            </div> -->

      <div class="item">
          <label class="normal">Estado</label>
          <select [(ngModel)]="estado" formControlName="estado">
            <option value="activo">activo</option>
            <option value="inactivo">inactivo</option>
          </select>
      </div>

      <div class="item"></div>

    <div class="cont-tt">
        <label class="bold">Desarrollo de plaza</label>
        <textarea  [(ngModel)]="descripcion" formControlName="descripcion" class="text-desarrollo" cols="1" rows="1"></textarea>
      </div>
    </div>


      </div>
  </form>


<div class="action-center"><div class="btn-click btn-red" (click)="Edit()" ><mat-icon>save</mat-icon> guardar</div></div>



<div id="modal-edit-fns">
  <h1 class="title-modal">Editar funciones</h1>
  <div class="btn-click close-modal" (click)="ModalEditFunctions()"><mat-icon>close</mat-icon></div>

<div id="cont-input-edit">
  @for (ositems of funciones; track $index) {
  <div class="actions-input-del">
    <div class="btn-click btn-red" (click)="DeleteFunction()" (click)="eliminarFuncion($index)"><mat-icon>delete</mat-icon></div>
    <div class="btn-click btn-red" (click)="editarFuncion($index)"><mat-icon>edit</mat-icon></div>
    <form [formGroup]="formEditarFuncion">
      <input  formControlName="funciones" (click)="obtenerIndiceFunciones($index)"  type="text" placeholder="{{ositems}}">
    </form>
    </div>
  }

  <div id="save-edit-fn" class="btn-click" (click)="ModalEditFunctions()"><mat-icon>save</mat-icon> guardar</div>
</div>
</div>


<div class="container-alert" forelem="-editar-">
  <div class="alert-model">
      <p class="inner-message bold"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button class="confirm" (click)="EditPlaza()" (click)="closeAlert($event)"><mat-icon>done</mat-icon></button>
        <div class="replace-button cancel" (click)="closeAlert($event)"><mat-icon>close</mat-icon></div>
      </div>
    </div>
</div>

</div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
