<app-navbar></app-navbar>

<div id="loader"></div>
<img title="imagen de muestra" src="../../../assets/img/textura-fon.png" id="background-texture">
<h1>{{data.textHistoria}}</h1>
<img src="../../../assets/img/Fondo-ham.png" alt="section" id="container-principal-img">



<section id="historia">
    <app-historia/>
</section>
<app-linea-tiempo></app-linea-tiempo>
<section id="mision">
    <app-mision-valor/>
</section>
<section id="noticias">
    <app-noticias></app-noticias>
</section>
<app-footer></app-footer>
