
@if (tipoBack == true ) {
  <img title="imagen de muestra" [src]="'http://localhost:3002/'  + imgFondo"  id="background-texture" >

}@else{
  <img title="imagen de muestra"  id="background-texture"[style.background-color]="colorn" >
  <h1>hollllll</h1>
}


<div id="cont-introduction">
  <div id="intro-1"></div>
  <div id="intro-2"></div>
</div>

<app-navbar></app-navbar>


<div id="container-portada-img"> <img [src]="'http://localhost:3002/' + imgPrincipal"   alt="section" id="container-principal-img" > </div>
<section id="historia"> <app-historia/> </section>

<section id="linea-tiempo"> <app-linea-tiempo></app-linea-tiempo> </section>

<section id="valores">
  <app-mision-valor/>
</section>

<section id="news"><app-noticias></app-noticias> </section>



<app-footer-main></app-footer-main>
<app-footer></app-footer>
<app-flecha></app-flecha>
