
section#historia, section#linea-tiempo, section#valores, section#noticias {
  opacity: 0;
  transition: .8s ease-in-out;
  transform: translateY(-100px) scale(1.5);
}
section#historia.topshow, section#linea-tiempo.topshow, section#valores.topshow,section#noticias.topshow {
  transform: translateY(0px) scale(1);
  opacity: 1;
  transition: .8s ease-in-out;
}

section#valores {
 background: transparent;
}

div#cont-introduction {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -999;
  overflow: hidden;
  animation: intro 1.5s ease-in-out;
  opacity: 0;
  transition: .2s ease;
}

div#intro-1 {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  position: absolute;
  top: 0;
  left: -100%;
  transition: .2s;
  animation: introleft 1.3s ease-in-out;
}

div#intro-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #f4f4f4;
  animation: introright 1.3s ease-in-out;
  transition: .2s;
}

@keyframes intro {
  0% {z-index: 999; background: transparent; opacity: 1;}
 80% {z-index: 999; background: transparent; opacity: 1;}
100% {z-index: -999; background: transparent; opacity: 0;}
}

@keyframes introleft {
    0% { left: 0; }
  100% { left: -100%; }
}

@keyframes introright {
    0% { right: 0; }
  100% { right: -100%; }
}




img#container-principal-img {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    margin-top: 62px;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transform: scale(1);
    animation: introduction 1.6s ease-in-out;
  }

@keyframes introduction {
  0% { transform: scale(1.4); }
 50% { transform: scale(1.4); }
100% { transform: scale(1); }
}

