img#background-texture {
  width: auto;
  min-width: 100vw;
  height: 120vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

div#space { width: 100vw; height: 20vh; }


div#section-2 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: #FFF;
    height: auto;
    min-height: 90vh;
    margin-top: 65px;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

a {text-decoration: none;}

.column {
    width: 500px;
    height: 500px;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    transition: .2s;
    transform: scale(1);
    position: relative;
}

.column:hover {transform: scale(1.05);}

.column h2{
    margin: 40px;
    font-size: 30pt;
}

.column img.logo-img {
    width: auto;
    /* max-width: 200px; */
    height: 250px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: block;
}

.button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
}

.red-button {
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.red-button {
    background-color: #ab182d;
    color: white;
}


div#img1 h6 {
    font-size: var(--fs-sub);
    width: 60%;
    text-align: center;
    margin-left: 20%;
}

a#enlace-whatsapp, a#enlace-tel {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #FAFAFA;
    border-radius: 40px;
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 1rem;
    margin-left: 20%;
    font-size: var(--fs-sub);
    color: #252525;
}

div#img1 a img {
    width: 40px;
    height: auto;
    position: relative;
}

a#enlace-tel {background: var(--main); color: #FFF; padding: 1rem 2rem;}

@media (max-width: 550px) {
  .column { width: 400px; }
  .column h2{ font-size: 20pt; }
  div#space { width: 100%; height: 150px; }
}

@media screen and (max-width: 999px) {
  div#section-2 { margin-bottom: 0rem; }
  .column { width: 480px; height: 550px; }
  div#space { width: 100%; height: 150px; }
}
