
<div id="container-2" class="containers">
    <h1 class="container-h1 bold">LÍNEA DEL TIEMPO</h1>
    <div id="cont-column">
      <div id="line-center"></div>
        <div id="cont-2-column">
            <div class="cont-2-column-item">
                    <div class="bar-connect r"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 1974 </h2> <br> Planta </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect l"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2016 </h2> <br> Condado Concepción y Naranjo </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect r"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2018 </h2> <br> Meat House - Zona 10, San Lucas y Pulté zona 16 <br> Procasa - Zona 13 </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect l"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2020 </h2> Meat House - Santa Rosalía, Roque, Zona 14, Plaza Comercia, Madero, Roosevelt, VillaLobos <br> Procasa - Jutiapa y Escuintla </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect r"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2022 </h2> Meat House - Centro Yaya y Petápolis <br> Procasa - Huehuetenango <br> Econo Carnes - Delta Bárcenas, Centra Sur, El Frutal, Amatitlán, Álamos </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect l"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2015 </h2> <br> Meat House Zona 10 </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect r"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2017 </h2> <br> Procasa - Chimaltenango <br> Meat House - San Cristóbal y Zona 15</div>
            <div class="cont-2-column-item">
                    <div class="bar-connect l"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2019 </h2> <br> Meat House <br> Santa Amelia, Bodex, Plaza Novita, Metronorte <br>Procasa - Xela <br> Meat House Delivery </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect r"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2021 </h2> <br> Meat House - Amatitlán <br> Procasa - Chiquimula </div>
            <div class="cont-2-column-item">
                    <div class="bar-connect l"></div>
              <img src="../../../assets/img/hamburguesa.jpg" alt=""><h2> 2023 </h2> <br> Procasa - Retalhuleu <br> Meat House - Reformadores <br> Econo Carnes - Xela, San Nicolás, Zona 18, San José Pinula </div>
        </div>
</div>
</div>
