<div id="container-2" class="containers">
    <h1 class="container-h1 bold">LÍNEA DEL TIEMPO</h1>

    <!-- <h1> hola</h1> -->



    <div id="cont-column">
      <div id="line-center"></div>
        <div id="cont-2-column">

          @for (os of data; track os._id) {

            <div class="cont-2-column-item">
              <div class="bar-connect"></div>
           <!-- <img [src]="'http://localhost:3002/' + os.ImgPathLineaTiempo" alt=""> -->
           <img [src]="'http://localhost:4200/'" alt="">
           <h2> {{os.titleLineaTiempo}} </h2> <br> {{os.descriptionLineaTiempo}}

          </div>
          }
        </div>

</div>
</div>
