<div id="container-2" class="containers">
    <h1 class="container-h1 bold">LÍNEA DEL TIEMPO</h1>

    <!-- <h1> hola</h1> -->



    <div id="cont-column">
      <div id="line-center"></div>
        <div id="cont-2-column">

          @for (os of data; track os._id) {

            <div class="cont-2-column-item">
              <div class="bar-connect"></div>
           <img src="C:\Users\CDP01\Documents\git\Back-endProcas\img-optimizadas\uploads\ef128b05-87bb-40a9-af73-94f062e9d7c5.png"alt="">
           <h2> {{os.titleLineaTiempo}} </h2> <br> {{os.descriptionLineaTiempo}}
          <h2>{{os.ImgPathLineaTiempo}}</h2>
          </div>
          }
        </div>

</div>
</div>
