div#container-menu {
  width: 270px;
  position: fixed;
  height: 100vh;
  background: var(--negro);
  top: 0;
  left: -270px;
  transition: .4s ease-in-out;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#container-menu > * { opacity: 1; transition: opacity .8s ease-in-out; }

div#container-menu.openmenu { left: 0; }

div#container-menu:hover > * { opacity: 1; }

div#cont-menu-bar {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 1rem;
  right: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  transform: scale(1);
  transition: .2s;
  background: var(--negro);
  padding: 4px;
  border-radius: 4px;
}

div.bar {
  width: 100%;
  position: relative;
  height: 20%;
  background: var(--white);
  border-radius: 2px;
  transition: .2s;
  transform: translateX(0);
}


div#cont-menu-bar:active {
  transform: scale(.8);
}


div#list-menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2rem;
}

div#list-menu a {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #FFF;
  transition: .2s ease;
  padding: .8rem 1rem;
  text-align: left;
  width: 100%;
  background: rgba(255,255,255,0);
  padding-left: 3rem;
}
div#list-menu a:hover { padding-left: 4rem; background: rgba(255,255,255,.1); }

div#list-menu a mat-icon { margin-right: .5rem; }

div#cont-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

button#close-session {
  position: relative;
  color: #FFF;
  background: #AA182C;
  border: 1px solid #AA182C;
  padding: .5rem 2rem;
  border-radius: 4px;
  font-size: 10pt;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0px 2px 0px rgba(0,0,0,.1);
  transform: scale(1);
}

button#close-session:active {
  background: #F4F4F4;
  color: #252525;
  border: 1px solid #252525;
  transform: scale(.97);
}

img#logo-menu {
  width: 100px;
  position: relative;
  margin-top: 8vh;
}



div#event-hover {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: -30px;
  background: transparent;
  z-index: 999;
}



@media screen and (min-width: 601px) {
  div#container-menu:hover { left: 0; }
  div#cont-menu-bar { left: -4rem; opacity: 0;}
}
@media screen and (max-width: 600px) { div#cont-menu-bar { right: -4rem; opacity: 1;} }
@media screen and (max-width: 300px) { div#container-menu { width: 200px; left: -200px; } }
@media screen and (max-width: 370px) { div#cont-menu-bar { right: -3rem;} }