<div id="container-menu">

  <div id="cont-menu-bar" (click)="MenuShow()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>


  <img id="logo-menu" src="../../../assets/img/Logo MH blanco.png" alt="">


<div id="list-menu">
  @if(identidad === 'marketing' ||identidad === 'Admin'){
    <a  class="normal" [routerLink]="['/admin/Principal']"><mat-icon>home</mat-icon> Principal</a>
  }
  @if(identidad === 'marketing'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/Ubicaciones']"><mat-icon>room</mat-icon> Ubicaciones</a>
  }
  @if(identidad === 'marketing'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/Productos']"><mat-icon>store</mat-icon> Productos</a>
  }
  @if(identidad === 'rh'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/Equipo']"><mat-icon>supervised_user_circle</mat-icon> Equipo</a>
  }
  @if(identidad === 'marketing'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/Ubicaciones']"><mat-icon>room</mat-icon> Ubicaciones</a>
  }
  @if(identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/usuarios']"><mat-icon>lock</mat-icon> Usuarios</a>
  }
  @if(identidad === 'marketing'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/nuestras-marcas']"><mat-icon>stars</mat-icon> Marcas</a>
  }
   @if(identidad === 'marketing'||identidad === 'Admin'){
    <a class="normal" [routerLink]="['/admin/nuestros-clientes']"><mat-icon>person_pin</mat-icon> Clientes</a>
  } 
</div>
      <div id="cont-btn">
        <button class="bold btn-click btn-red" id="close-session" (click)="CloseSession()"><mat-icon>exit_to_app</mat-icon> cerrar sesión</button>
      </div>

      <div id="event-hover"></div>
</div>
