<app-navbar></app-navbar>

<div id="container-main">
  <h1 class="container-h1 bold">PRODUCTOS</h1>

  <div id="cont-products">

      <div class="product">
        <img src="../../assets/img/carne de res.png" alt="" class="img-product">
        <h2>Producto</h2>
            <div class="cont-details">
              <h1 class="bold">PRODUCTO</h1>
                <div class="cont-ul">
                  <ul>
                    <li class="bold">Title</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                  <ul>
                    <li class="bold">Title</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </div>
            </div>
      </div>



  </div>
</div>

<div id="cont-whatsapp"></div>

<app-footer></app-footer>
