<app-navbar></app-navbar>

<div id="container-main">
  <h1 class="container-h1 bold" id="h1-promesa">NUESTRA PROMESA</h1>
<div id="container-promesa">
  <div class="cont-promesa">
    <div class="subcont-promesa"> <img src="../../assets/img/promesa1.jpg" alt="" title="promesa"> </div>
    <div class="subcont-promesa letter-red bold">BLAST FREEZING MINIMIZES CRYSTALIZATION</div>
  </div>

  <div class="cont-promesa">
    <div class="subcont-promesa"> <img src="../../assets/img/promesa2.jpg" alt="" title="promesa"> </div>
    <div class="subcont-promesa letter-red bold">SEALS IN VITAMINS AND MINERALS</div>
  </div>

  <div class="cont-promesa">
    <div class="subcont-promesa"> <img src="../../assets/img/promesa3.jpg" alt="" title="promesa"> </div>
    <div class="subcont-promesa letter-red bold">USE ONLY WHAT YOU NEED FOR LESS WASTE</div>
  </div>
</div>


  <h1 class="container-h1 bold" id="h1-marcas">NUESTRAS MARCAS</h1>
<div id="container-marcas">
  <div id="carrousel-marcas">
    <div class="marca-item"><img src="../../assets/img/marca1.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca2.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca3.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca4.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca1.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca2.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca3.jpg" alt=""></div>
    <div class="marca-item"><img src="../../assets/img/marca4.jpg" alt=""></div>
  </div>
</div>


  <h1 class="container-h1 bold" id="h1-catalogo">CATÁLOGO</h1>
  <div id="cont-products">

      <div class="product">

        @for (os of dataProductos; track os._id  ) {
          <img [ngSrc]=" os.imgPath" [width]="500" [height]="500" class="img-product">
          <h2>{{os.nombreProducto}}</h2>
              <div class="cont-details">
                <h1 class="bold">{{os.nombreProducto}}</h1>
                  <div class="cont-ul">
                    <ul>
                      @for (categoria of os.categorias; track $index) {
                        <li class="bold">{{categoria.Nombre}}</li>
                        @for (items of categoria.items; track $index) {
                          <li>{{items}}</li>
                        }
                      
                      }
                      
                    </ul>
                  
                  </div>
                  
                </div>
          }
      

       
      </div>



  </div>
</div>

<div id="cont-whatsapp"></div>

<app-footer></app-footer>
