<body>
    <div id="section-1" class="section">
      <h1 id="title-1" class="container-h1 bold">HISTORIA</h1>
      <div id="sub">
        <div id="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/f0hN3s9XvI0?si=rzIrMkIoBuH7p7Q9"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen ></iframe>
        </div>
        <div id="quote">
          <h1>PROCASA</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
            mollitia similique corrupti dolore perferendis quod tempora odio, eius
            impedit assumenda unde id odit quaerat qui quos deleniti laboriosam
            iure delectus? <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
            mollitia similique corrupti dolore perferendis quod tempora odio, eius
            impedit assumenda unde id odit quaerat qui quos deleniti laboriosam
            iure delectus?
          </p>
        </div>
      </div>
    </div>
  
    <!-- <div id="section-2" class="section"></div> -->
  
    <div id="transparence"></div>
  </body>
  