div.container-main {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 40vh;
}


div.global-modal textarea {
    width: 80%;
    height: 100px;
    margin: 2rem 0;
    border-radius: 4px;
    padding: .5rem;
}

div#save-edit-marca { margin: 0 4rem; }

div.cont-marca {
    box-shadow: 0px 3px 3px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 2rem 2rem;
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #FAFAFA;
    padding-bottom: 1rem;
}

div.cont-img-marca {
    position: relative;
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

div.cont-marca img {
    width: auto;
    max-width: 100%;
    height: auto;
}

div.cont-marca p {
    width: 90%;
    margin-top: 1rem;
    font-size: 12pt;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
}






