<app-admin-navbar></app-admin-navbar>

<div class="container-head">
    <h1>Nuestras Marcas</h1>
    <span>
      <input class="bold" type="text" name="search" placeholder="buscar marca">
      <button class="btn-click btn-white normal" (click)="ModalAddFunctions()"><mat-icon>add</mat-icon> Agregar</button>
    </span>
  </div>
  <div class="container-main">
    @for (os of dataMarcas; track os._id) {
            <div class="cont-marca">
                <div class="cont-img-marca"><img src="{{os.imgPath}}"></div>
                <p>{{os.textMarca}}</p>
                <div class="btn-click btn-red normal" (click)="obtenermarcaId(os._id)" (click)="ModalEditFunctions()"><mat-icon>edit</mat-icon></div>
                <div class="btn-click btn-red normal" (click)="eliminarMarca(os._id)" ><mat-icon>delete</mat-icon></div>
            </div>
          }
          </div>



<div id="modal-edit-marca" class="global-modal">
    <h1 class="title-modal">Editar Marca</h1>
    <div class="btn-click close-modal" (click)="ModalEditFunctions()"><mat-icon>close</mat-icon></div>

    <div class="cont">
        <div id="sub-cont-details-img">
                <div class="sub-details">
                    <div class="sub-img-btn">
                      <input class="to-clean" type="file" (change)="getFileEditReal($event)" (change)="getFileReal($event)"  (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
                      <mat-icon (click)="clearInputs()">delete</mat-icon>
                    </div>
                  <ul>
                    <li>ancho: <span class="normal danger-red"></span> </li>
                    <li>alto:  <span class="normal danger-red"></span> </li>
                    <li>peso:  <span class="normal danger-red"></span></li>
                  </ul>
                </div>
                <div class="cont-details-img"><img alt="" src=""></div>
          </div>
        </div>
<form [formGroup]="formularioEditarMarca">
  <textarea   formControlName="textMarca" class="normal" cols="10" rows="5" placeholder="{{textMarca}}"></textarea>
</form>

    <div id="save-edit-marca" class="btn-click" (click)="sendFileEditReal()" (click)="ModalEditFunctions()"><mat-icon>save</mat-icon> guardaraaa</div>
  </div>



  <div id="modal-add-marca" class="global-modal">
    <h1 class="title-modal">Agregar Marca</h1>
    <div class="btn-click close-modal" (click)="ModalAddFunctions()"><mat-icon>close</mat-icon></div>

    <div class="cont">
        <div id="sub-cont-details-img">
                <div class="sub-details">
                    <div class="sub-img-btn">
                      <input class="to-clean" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
                      <mat-icon (click)="clearInputs()">delete</mat-icon>
                    </div>
                  <ul>
                    <li>ancho: <span class="normal danger-red"></span> </li>
                    <li>alto:  <span class="normal danger-red"></span> </li>
                    <li>peso:  <span class="normal danger-red"></span></li>
                  </ul>
                </div>
                <div class="cont-details-img"><img alt="" src=""></div>
          </div>
        </div>
<form [formGroup]="formularioAgregarMarca">
  <textarea  formControlName="textMarca" class="normal" cols="10" rows="5" placeholder="descripción de marca"></textarea>
</form>
    
    <div id="save-edit-marca" class="btn-click" (click)="sendFile()" (click)="ModalEditFunctions()"><mat-icon>save</mat-icon> guardar</div>
  </div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
    <div class="container-alert" id="container-alert">
      <div class="alert-model">
        <p class="message bold"></p>
        <div class="cont-btns-alert" id="btns">
          <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
          <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
  