div#container-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #EEEEEE;
    box-shadow: 0px 1px 10px rgba(0,0,0,.2);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 2rem;
  }

  div#container-2 h1 {
    color: #AA182C;
    font-size: 18pt;
    width:200px;
    display: inline-block;
  }


  div#container-2 button#add-product {
    background: #AA182C;
    color: #FFF;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 9pt;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
    opacity: 1;
  }

  div#container-2 button#add-product:active {
    transform: scale(.9);
    opacity: .8;
  }
  div#bar-search {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  div#bar-search label {
    width: 10%;
    font-size: 12pt;
  }

  div#bar-search input {
    width: 80%;
    padding: .5rem 2rem;
    border-radius: 10rem;
    font-size: 14pt;
    border: 1px solid #DDD;
  }

  div#bar-search button {
    width: 10%;
    background: transparent;
  }
/*-------------------------------------------------------------------------------------------------*/

div#container-main {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

div#container {
    font-size: 11pt;
    position: relative;
    width: auto;
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

div.cont {
    width: 400px;

    border-radius: 4px;
    margin: 1rem 1rem;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: .5rem;
}

div.cont img {
    width: 100%;
    border-radius: 4px;
}

div.cont h2 {
    font-size: 16pt;
    margin-left: 1rem;
    margin-top: .5rem;
}

ul.ul-data {
    list-style: none;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

ul.ul-data li ul { margin-left: 2rem; }

ul.ul-data li span { margin-left: 4px; }

div.cont-buttons {
    position: relative;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

div.actions {
    position: relative;
    text-align: center;
    padding: .5rem 1rem;
    background: #FAFAFA;
    border-radius: 4px;
    box-shadow: 2px 2px 0px rgba(0,0,0,.2);
    transform: scale(1);
    transition: transform .1s;
    cursor: pointer;
}
div.actions:active {transform: scale(.9);}

div.actions:nth-child(2) {
    background: #AA182C;
    color: #FFF;
}
/*===========================================================================================================*/



div.modal {
  position: fixed;
  width: 600px;
  height: auto;
  padding: 1rem;
  top: 10vh;
  left: calc(50% - 300px);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  z-index: 100;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 990;
  transform: translateY(100px) scale(.8);
  transition: transform .4s ease-in-out;
  opacity: 0;
  z-index: -10;
}

div#edit.show, div#add.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 991;
}



div#close-add, div#close-edit {
  position: absolute;
  right: .5rem;
  top: .5rem;
  border-radius: 4px;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  transition: transform .1s;
  transform: scale(1);
  background: #F4F4F4;
  cursor: pointer;
  z-index: 991;
}
div.close:active {transform: scale(.9);}

h1.title-modal {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 18pt;
}


div.sub-cont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  height: 50%;
}

div.sub {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

input[type=file] {
  position: relative;
  width: 90%;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

input[type=file]::before {
  content: attr(data-content);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #EAEAEA;
  text-align: center;
  z-index: 990;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text], input[type=date], textarea{
  width: 80%;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  margin-top: .5rem;
  border-radius: 4px;
  padding: .5rem 1rem;
}

div#sub-cont-details-img,
div#sub-cont-details-img-edit {
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 1rem;
}

div#sub-cont-details-img input,
div#sub-cont-details-img-edit input {
  width: 45%;
  margin-top: 0;
}

div#sub-cont-details-img div,
div#sub-cont-details-img-edit div {
  width: 45%;
}

div#sub-cont-details-img div ul,
div#sub-cont-details-img-edit div ul {
  width: 100%;
  list-style: none;
}

div#sub-cont-details-img div ul li,
div#sub-cont-details-img-edit div ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}


div.fn-principales {
  font-size: 11pt;
  position: relative;
  width: 80%;
  background: #EAEAEA;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
}

div.fn-principales p {
  font-size: 11pt;
  padding: .5rem;
  border-radius: 4px;
  text-align: center;
}

span#add-fn {
  background: #FAFAFA;
  color: #252525;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 20pt;
  transition: transform .1s;
  transform: scale(1);
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 0px rgba(0,0,0,.2);
}
span#add-fn:active {transform: scale(.9);}


div.cont-btns {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


div.btn-save {
  position: relative;
  padding: .5rem 1rem;
  background: #AA182C;
  color: #FAFAFA;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  transition: transform .1s;
  transform: scale(1);
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform .1s;
  transform: scale(1);
}

div.btn-save:active {transform: scale(.9);}


div.fns-add {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 4px;
  opacity: 0;
}

div.fns-add.show {opacity: 1; z-index: 995;}

div.close-minmodal {
  position: absolute;
  padding: .5rem 1rem;
  background: #F4F4F4;
  right: .5rem;
  top: .5rem;
  border-radius: 4px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
}

div.cont-in-fns {
  width: 100%;
  height: 85%;
  margin-top: 15%;
  overflow-y: scroll;
  padding-bottom: 4rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#save-fns {
  width: 60%;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  cursor: pointer;
  background: #AA182C;
  color: #FFF;
  margin-top: 1rem;
}

div.btns-micmodal {
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  border-radius: 4px;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  position: relative;
  cursor: pointer;
  background: #EAEAEA;
  color: #252525;
}

div.cont-in-fns textarea {
  width: 60%;
  height: 6rem;
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  margin-top: .5rem;
}

div.actions-input-del {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.del-edit-fn {
  background: #AA182C;
  color: #FFF;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .1s;
  transform: scale(1);
}
div.del-edit-fn:active { transform: scale(.9); }

div#open-modal-edit-fn {
  padding: .5rem 1rem;
  cursor: pointer;
  background: #AA182C;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}



div#modal-edit-fns {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
  background: #FAFAFA;
  display: none;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
div#modal-edit-fns.show { display: flex; }

div#cont-input-edit {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-top: 2rem;
}

div#close-edit-fn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  border-radius: 4px;
  cursor: pointer;
}

div.actions-input-del input {
  width: 250px;
  margin-top: 4px;
}


div#save-edit-fn {
  padding: .5rem 2rem;
  background: #AA182C;
  color: #252525;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  margin-top: 2rem;
}














img.img-preview {
  width: 90%;
  margin-top: 1rem;
  border-radius: 4px;
}

div#cont-modal-inputs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: -10;
  opacity: 0;
}

div#cont-modal-inputs.show {
  z-index: 990;
  opacity: 1;
}

div#cont-modal-inputs h3 {
  font-size: 14pt;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

img#preview-plaza,
img#preview-plaza-edit {
  position: relative;
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 100px;
}

div#modal-inputs {
  width: 100%;
  height: 100%;
  z-index: 994;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

p.status {
  position: absolute;
  left: 10%;
  bottom: 1rem;
  width: auto;
  font-size: 10pt;
}


div.btns-fn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

div.btns-fn div {
  width: 30%;
  border-radius: 4px;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  text-align: center;
  cursor: pointer;
  background: #f4f4f4;
  transition: transform .1s;
  transform: scale(1);
}
div.btns-fn div:active {transform: scale(.9);}

input.fn-generated {
  width: 60%;
}


div#save-fn {
  padding: .5rem 4rem;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  transition: transform .1s;
  transform: scale(1);
  background: #AA182C;
  color: #FAFAFA;
  cursor: pointer;
}

div#save-fn:active {transform: scale(.9);}


/*===========================================================================================================*/

div.container-alert {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,1);
    text-align: center;
    z-index: -10;
    opacity: 0;
}

div.container-alert.show { z-index: 999; opacity: 1; }

  div.alert-model {
    width: 400px;
    height: auto;
    padding: 2rem;
    border-radius: 4px;
    position: absolute;
    z-index: 901;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

  div.alert-model p {
    font-size: 12pt;
    color: #757575;
    width: 100%;
    display: block;
  }


  div.cont-btns-alert {
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    display: none;
  }

  div.cont-btns-alert.show { display: flex; z-index: 700;}

  div.cont-btns-alert button,
  div.replace-button {
    text-decoration: none;
    background: #EAEAEA;
    border-radius: 4px;
    padding: .5rem 2rem;
    transition: .1s;
    transform: scale(1);
    box-shadow: 0px 3px 0px rgba(0,0,0,.3);
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  div.replace-button:active, div.cont-btns-alert button:active {
    transform: scale(.95);
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
  }

div.message h1 {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: #757575;
    background: transparent;
  }




  /* ------------------------------------------------ */

.btn-click { transform: scale(1); transition: transform .1s; }
.btn-click:active { transform: scale(.9); }
