<app-admin-navbar></app-admin-navbar>

<div id="container-2">
    <h1>Plazas</h1>
  
    <div id="bar-search">
      <label for="search">Buscar</label>
      <input class="bold" type="text" name="search" placeholder="" title="buscar producto">
    </div>
    <button id="add-product">+ Agregar Plaza</button>
  </div>
  




<div id="container-main">

<div id="container">


<div class="cont">
<img src="../../../assets/img/pilotos.jpg" alt="">

<h2 class="bold">PLAZA</h2>

<div class="datos">

<ul class="ul-data">
    <li class="bold">Ubicación: <span>data</span></li>
    <li class="bold">Departamento: <span>data</span></li>
    <li class="bold">Empresa: <span>data</span></li>
    <li class="bold">Fecha de publicación: <span>data</span></li>
    <li class="bold">Funciones Principales: 
        <ul>
            <li>data</li>
            <li>data</li>
        </ul>
    </li>
    <li class="bold">Educación: <span>data</span></li>
    <li class="bold">Experiencia laboral: <span>data</span></li>
</ul>

<div class="cont-buttons">
    <div class="actions">editar</div>
    <div class="actions" (click)="DeletePlaza()">eliminar</div>
</div>



<div class="container-alert">
    <div class="alert-model">
        <p class="inner-message bold"></p>

        <div class="message"> <h1 class="innermsg"></h1></div>
        <div class="cont-btns-alert">
          <button class="confirm">confirmar</button>
          <div class="replace-button cancel">cancelar</div>
        </div>
      </div>
</div>
</div> <!-- DATOS -->

</div> <!-- CONT -->

</div> <!-- CONTAINER -->

</div> <!-- CONTAINER MAIN -->

