<app-admin-navbar></app-admin-navbar>

<div id="container-2">
    <h1>Plazas</h1>

    <div id="bar-search">
      <label for="search">Buscar</label>
      <input class="bold" type="text" name="search" placeholder="" title="buscar producto">
    </div>
    <button id="add-product" (click)="ModalProduct('add')">+ Agregar Plaza</button>
  </div>





<div id="container-main">

<div id="container">


  @for (os of dataUnete; track os._id) {

    <div class="cont">
      <img src="../../../assets/img/pilotos.jpg" alt="">

      <h2 class="bold">{{os.titulo}}</h2>

      <div class="datos">

      <ul class="ul-data">
          <li class="bold">Ubicación: <span>{{os.ubicacion}}</span></li>
          <li class="bold">Departamento: <span>{{os.departamento}}</span></li>
          <li class="bold">Empresa: <span>{{os.empresa}}</span></li>
          <li class="bold">Fecha de publicación: <span>{{os.fecha}}</span></li>
          <li class="bold">Funciones Principales:
              <ul>
                @for (ositems of os.funciones; track $index) {
                  <li  (click)="obtenerItemd($index)" >  {{ositems}}</li>
                }
              </ul>
          </li>
          <li class="bold">Educación: <span></span>{{os.educacion}}</li>
          <li class="bold">Experiencia laboral: <span>{{os.experecia}}</span></li>
      </ul>

      <div class="cont-buttons">
          <div class="actions">editar</div>
          <div class="actions" (click)="DeletePlaza()">eliminar</div>
      </div>



      <div class="container-alert">
          <div class="alert-model">
              <p class="inner-message bold"></p>

              <div class="message"> <h1 class="innermsg"></h1></div>
              <div class="cont-btns-alert">
                <button class="confirm">confirmar</button>
                <div class="replace-button cancel">cancelar</div>
              </div>
            </div>
      </div>
      </div> <!-- DATOS -->

      </div>
    }
</div> <!-- CONTAINER -->

</div> <!-- CONTAINER MAIN -->



<div class="modal" id="add">
  <div id="close-edit" (click)="ModalProduct('add')">cerrar</div>
  <h1 class="title-modal">Agregar plaza</h1>

<div class="sub-cont">
  <input type="file" (change)="FileEdit($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" [attr.data-content]="inputEmpty">

  <img [attr.src]="srcPreview" id="preview-plaza" alt="" class="img-preview">
</div>
<div class="sub-cont">
  <div class="sub">
    <input type="text" placeholder="Nombre plaza/vacante">
    <input type="text" placeholder="Departamento">
    <input type="text" placeholder="Empresa">
    <input type="date">
  </div>


  <div class="sub">
    <!-- <div class="fn-principales">
      <p class="normal">Funciones principales</p> <span id="add-fn" class="normal" (click)="SaveFunctions()">+</span>
    </div> -->

  <input type="text" placeholder="Educación requerida">
  <textarea name="" id="" placeholder="Experiencia laboral"></textarea>
</div>
</div>

<p class="status normal">etapa 1 de 2</p>

  <div class="cont-btns">
    <div class="btn-save" (click)="SaveFunctions()">continuar</div>
  </div>


  <div id="cont-modal-inputs">
    <div id="modal-inputs">
      <h3>Agregar Funciones</h3>
      <div id="btns-fn">
        <div id="create-fn" (click)="generarSub()">agregar</div>
        <div id="delete-fn" (click)="eliminarUltimoSub()">eliminar</div>
      </div>

      <input type="text" class="normal fn-generated" placeholder="función" *ngFor="let div of subsArray; let i = index">
      <div id="save-fn" (click)="SaveFunctions()" (click)="ModalProduct('add')">guardar</div>
      <p class="status normal">etapa 2 de 2</p>
    </div>

  </div>

</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="modal" id="edit">
  <div id="close-edit" (click)="ModalProduct('edit')">cerrar</div>
  <h1 class="title-modal">Editar plaza</h1>

<div class="sub-cont">
  <input type="file" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" [attr.data-content]="inputEmpty">

  <img src="../../../assets/img/pilotos.jpg" alt="" class="img-preview">
</div>
<div class="sub-cont">
  <div class="sub">
    <input type="text" placeholder="Nombre plaza/vacante">
    <input type="text" placeholder="Departamento">
    <input type="text" placeholder="Empresa">
    <input type="date">
  </div>

  <div class="sub">
    <p class="fn-principales normal">funciones principales</p>
  <input type="text" placeholder="función 1">

  <input type="text" placeholder="Educación requerida">
  <textarea name="" id="" placeholder="Experiencia laboral"></textarea>
</div>
</div>


  <div class="cont-btns">
    <div class="btn-save">guardar</div>
  </div>
</div>


