<app-admin-navbar></app-admin-navbar>

<div id="container-1"></div>

<div id="modal-add-location">
  <h1 class="title-modal">Agregar Ubicación</h1>
  <button class="btn-click normal close-modal" (click)="AddLocation()"><mat-icon>close</mat-icon></button>
  <form [formGroup]="fornularioAgregarUbicacion">
  <div class="cont">

<div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input id="imgSave" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
            <mat-icon>delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="bold danger-red" id="innerwidth-add"></span> </li>
          <li>alto:  <span class="bold danger-red" id="innerheight-add"></span> </li>
          <li>peso:  <span class="bold danger-red" id="innersize-add"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img alt="" src=""></div>
</div>

</div>


<div class="cont">
    <div class="item">
      <input formControlName="nombreTienda" id="name" title="input" type="text" class="normal" placeholder="nombre">
    </div>
    <div class="item">
      <select formControlName="tipoTienda" name="tipoTienda" class="normal" id="sucursal">
        <option value="procasa">Procasa</option>
        <option value="meathouse">Meat House</option>
        <option value="eco">Econocarnes</option>
      </select>
    </div>
    <div class="item">
      <input formControlName="telefono" id="telefono" title="input" type="text" class="normal" placeholder="teléfono">
    </div>
    <div class="item">
      <input formControlName="horario" id="horario" title="input" type="text" class="normal" placeholder="horario">
    </div>
    <div class="item">
      <input formControlName="enlaceMaps" id="maps" title="input" type="text" class="normal" placeholder="enlace Maps">
    </div>
    <div class="item">
      <input formControlName="enlaceWaze" id="waze" title="input" type="text" class="normal" placeholder="enlace Waze">
    </div>
    <div class="item">
      <input formControlName="descripcion" id="descripcion" title="input" type="text" class="normal" placeholder="descripción">
    </div>
  </div>
  
  <button class="btn-click btn-red normal"  (click)="saveLocation($event)"><mat-icon>save</mat-icon> guardar</button>
</form>

</div>



<div id="container-2">
  <h1>Ubicaciones</h1>
    <div id="bar-search">
      <label for="search">Buscar</label>
      <input  [(ngModel)]="nombreTiendaFiltro"  class="bold" type="text" name="search" placeholder="" title="buscar">

    </div>

    <button class="btn-click btn-red normal" (click)="AddLocation()"><mat-icon>add</mat-icon> Agregar ubicación</button>
</div>

<div id="container-3">
  <table>
    <thead>
      <tr>
        <td class="bold tb-number">#</td>
        <td class="bold tb-name">Nombre</td>
        <td class="bold tb-address">Tipo Tienda</td>
        <td class="bold tb-telephone">Coordenadas LAT</td>
        <td class="bold tb-extension">Coodenadas LOG</td>
        <td class="bold tb-actions">Acciones</td>
      </tr>
    </thead>
    <tbody>
        @for (os  of dataUbicacion | MostrarPorUbiPipe: nombreTiendaFiltro ; track os._id ) {
        <tr>
          <td class="tb-number"></td>
          <td class="tb-name">{{os.nombreTienda}}</td>
          <td class="tb-address">{{os.tipoTienda}}</td>
          <td class="tb-telephone">{{os.codenadaslat}}</td>
          <td class="tb-extension">{{os.codenadasLng}}</td>
          <td class="tb-actions actions-center">
            <button class="btn-click" (click)="ObtenerUbixId(os._id)" (click)="editLocation()"><mat-icon>edit</mat-icon></button>
            <button class="btn-click btn-red"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
        }
  </tbody>
  </table>
</div>



<div id="modal-edit-location">
  <button class="btn-click close-modal" (click)="editLocation()"><mat-icon>close</mat-icon></button>
  <h1>Editar Ubicación</h1>

  <div id="sub-cont-details-img">
    <div class="sub-details">
        <div class="sub-img-btn">
          <input type="file" (change)="InputChange($event)" (change)="getFileEdit($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
          <mat-icon>delete</mat-icon>
        </div>
      <ul>
        <li>ancho: <span class="bold danger-red" id="innerwidth-add"></span> </li>
        <li>alto:  <span class="bold danger-red" id="innerheight-add"></span> </li>
        <li>peso:  <span class="bold danger-red" id="innersize-add"></span></li>
      </ul>
    </div>
    <div class="cont-details-img"><img alt="" src=""></div>
</div>



<div class="cont">
  <form [formGroup]="formularioEditUbicacion">

    <div class="item">
      <label>Nombre</label>
      <input [(ngModel)]="nombreTienda" formControlName="nombreTienda" id="name" title="input" type="text" class="bold" placeholder="">
    </div>
    <div class="item">
      <label for="tipoTienda">Tipo</label>
      <select formControlName="tipoTienda" name="tipoTienda" id="">
        <option value="procasa">Procasa</option>
        <option value="meathouse">Meat House</option>
      </select>
    </div>
    
    <div class="item">
      <label>Descripcion de la tienda</label>
      <input [(ngModel)]="descripcion" formControlName="descripcion" id="log" title="input" type="text" class="bold" placeholder="">
    </div>
  </form>
  </div>

  <button (click)="sendFileEdit()" id="save-modal-edit" >GUARDAR</button>


</div>



<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
