div#modal-add-location, div#modal-edit-location {
  position: fixed;
  width: 800px;
  height: auto;
  background: #EEEEEE;
  left: calc(50% - 400px);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 20vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
}

span.danger-red {color: #252525;}
span.danger-red.limit {color: #AA182C;}

input[type=file] { position: relative; }
input[type=file]::before {
  content: attr(data-content);
  position: absolute;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
  color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: scale(1);
  transition: .1s;
}

input[type=file]:active { transform: scale(.9); }


div.cont {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

div#modal-add-location.toggle, div#modal-edit-location.toggle {
  transform: scale(1);
  top: 20vh;
  opacity: 1;
  z-index: 100;
}

div#modal-add-location h1, div#modal-edit-location h1 {
  font-size: 19pt;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}

button#close-modal, button#close-modal-edit {
  padding: .5rem 1rem;
  float: right;
  position: absolute;
  right: .5rem;
  top: .5rem;
  background: #DEDEDE;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1);
}

button#close-modal:active, button#close-modal-edit:active {
  transform: scale(.8);
}

div.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  border-radius: 4px;
}

div.item input, select {
  border: 1px solid #BBB;
  width: 90%;
  padding: .5rem 1rem;
  border-radius: 4px;
}

div.item label {
  width: 90%;
  margin-bottom: .5rem;
}

button#save-modal, button#save-modal-edit {
  background: #AA182C;
  color: #FFF;
  padding: 1rem 5rem;
  border-radius: 10rem;
  cursor: pointer;
}

div.details-img {
  width: 90%;
  margin-top: 1rem;
}


div.details-img ul {
  list-style-type: none;
}

div.details-img ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

div.details-img img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 150px;
  margin-top: 1rem;
  border-radius: 4px;
}



div#container-1 {
  width: 100vw;
  height: 0;
  position: relative;
}

div#container-2, div#container-4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  background: #EEEEEE;
  box-shadow: 0px 1px 10px rgba(0,0,0,.2);
  z-index: 100;
}

div#container-2 h1 {
  color: #AA182C;
  font-size: 19pt;
  width:200px;
  padding: 1rem;
  display: inline-block;
}

div#container-2 h2 {
  display: inline-block;
  padding: 1rem;
  font-size: 14pt;
}

div#container-2 button#add-location {
  background: #AA182C;
  color: #FFF;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 9pt;
  float: right;
  right: 3rem;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: .2s;
  opacity: 1;
}

div#container-2 button#add-location:active {
  transform: scale(.9);
  opacity: .8;
}
div#bar-search {
  position: relative;
  width: 40%;
  margin-left: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#bar-search label {
  width: 10%;
  font-size: 12pt;
}

div#bar-search input {
  width: 80%;
  padding: .5rem 2rem;
  border-radius: 10rem;
  font-size: 14pt;
  border: 1px solid #DDD;
}

div#bar-search button {
  width: 10%;
  background: transparent;
}

div#container-3 {
  width: 100vw;
  height: auto;
}

thead {
  background: rgba(0,0,0,.2);
}

table {
  width: 80%;
  margin-left: 10%;
  height: auto;
  margin-top: 200px;
  position: relative;
  z-index: 0;
  padding-bottom: 10rem;
}

table tr {
  width: 100%;
}


table tr:nth-child(even) {
  background: rgba(0,0,0,.1);
}

table tr td {
  padding: 1rem;
  width: auto;
  font-size: 12pt;
  border-radius: 2px;
  /* border-bottom: 1px solid #AAA; */
  cursor: pointer;
}

table tr td button {
  padding: .2rem 1rem;
  cursor: pointer;
  margin-left: .5rem;
}


table tr td button:nth-child(2) {
  background: #f5b8c0;
  border-radius: 4px;
  color: #FFF;
}




td.actions-center {
display: flex;
justify-content: center;
}



tr:hover {
  background: #FFF;
  transform: scale(1.01);
  box-shadow: 0px 2px 0 rgba(0,0,0,.2);
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.container-alert {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,1);
  text-align: center;
  z-index: -10;
  opacity: 0;
}
div.container-alert.show { z-index: 100; opacity: 1; }

div.alert-model {
  width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: 4px;
  position: absolute;
  z-index: 901;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div.alert-model p {
  font-size: 14pt;
  color: #757575;
  width: 100%;
  display: block;
}


div.cont-btns-alert {
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  display: none;
}

div.cont-btns-alert.show { display: flex; z-index: 700;}

div.cont-btns-alert button,
div.replace-button {
  text-decoration: none;
  background: #EAEAEA;
  border-radius: 4px;
  padding: .5rem 2rem;
  transition: .1s;
  transform: scale(1);
  box-shadow: 0px 3px 0px rgba(0,0,0,.3);
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
div.replace-button:active, div.cont-btns-alert button:active {
  transform: scale(.95);
  box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}


div.message {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #f4f4f4;
  text-align: center;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: -10;
  opacity: 0;
}

div.message.show {
  opacity: 1;
  z-index: 700;
}

div.message h1 {
  width: 100%;
  text-align: center;
  font-size: 14pt;
  color: #757575;
  background: transparent;
}
