
    <div id="cont-column">
      <div id="line-center"></div>
        <div id="cont-2-column">

          @for (os of data; track os.id) {
            <div class="block-time-line">

              <div *ngFor="let evento of os.eventos; let i = index" class="cont-bar-connect">
                <div class="bar-connect bold">{{os.anio}}</div>
            </div>
            
            <div *ngFor="let evento of os.eventos; let i = index" class="cont-2-column-item" [ngClass]="{'impar': i % 2 !== 0}">
              <div class="cont-img-tl">
                <img [src]="evento.ImgPathLineaTiempo" [width]="500" [height]="500">
              </div>  
                <p>{{evento.descriptionLineaTiempo}}</p>
            </div>
                      </div>
          }
        </div>
</div>
