
    <div id="cont-column">
      <div id="line-center">2000</div>
        <div id="cont-2-column">

          @for (os of data; track os.id) {


            
            <!-- <h1>{{os.anio}}</h1> -->
            
            @for(evento of os.eventos; track  evento._id){
              
              <div class="cont-2-column-item">
                      <div class="bar-connect bold">{{os.anio}}</div>
                      <img [ngSrc]="evento.ImgPathLineaTiempo" [width]="500" [height]="500">
                      <!-- <h2 class="bold" style="color: #FAFAFA; font-size: 16pt;"></h2> -->
                      <p>{{evento.descriptionLineaTiempo}}</p>
                  </div>


                }

          }
        </div>
</div>
