* {position: relative;}

div#container-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}


div#cont-column {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  position: relative;
}



div#cont-2-column {
  width: 90%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  color: #FFF;
  height: auto;
}




div#line-center {
width: 3px;
height: 100%;
background: #F4F4F4;
position: absolute;
border-radius: 100px;
display: block;
transition: .2s;
z-index: 0;
top: 0;
}


div.cont-2-column-item {
  width: 100%;
  height: 350px;
  text-align: left;
  transition: .2s ease;
  border-radius: .5rem;
  transform: scale(1);
  z-index: 100;
  color: #FAFAFA;
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  opacity: 1;
  position: relative;
}



div.cont-2-column-item h2 {
  width: 100%;
  text-align: left;
  font-size: var(--fs-text);
  display: none;
}

div.cont-2-column-item p {
  width: 100%;
  font-size: var(--fs-text);
  margin-top: .5rem;
  height: auto;
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
}

div.cont-2-column-item p span {
  width: 100%;
  max-width: 300px;
}

div.cont-2-column-item {color: #FAFAFA;}

div.cont-img-tl {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.cont-img-tl img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  top: auto;
  left: auto;
  position: absolute;
  transform: scale(1);
  border-radius: .5rem;
  transition: .2s;
}


div.cont-year {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: auto;
  left: auto;
  z-index: 0;
}


div.cont-2-column-item:nth-child(even) {justify-content: end;}
div#cont-2-column div.cont-2-column-item:nth-child(even) {justify-content: end;}
div#cont-2-column div.cont-2-column-item:nth-child(odd) p {justify-content: start; text-align: left;}
div#cont-2-column div.cont-2-column-item:nth-child(even) p {justify-content: end; text-align: left;}


div.year-text {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background: #FAFAFA;
  color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 25pt;
  /* top: 80px; */
}

.css-elem {opacity: 0;} 

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  div.cont-img-tl { width: 270px;  height: 225px;  z-index: 0; }
  div.year-text { width: 80px;  height: 80px;  font-size: 20pt;  z-index: 2;}
  div.cont-2-column-item p span { width: 100%; max-width: 270px; }
}

@media screen and (max-width: 700px) {
  div.cont-img-tl { width: 216px;  height: 180px;  z-index: 0; }
  div.year-text { width: 80px;  height: 80px;  font-size: 20pt;  z-index: 2;}
  div.cont-2-column-item p span { width: 100%; max-width: 216px; }
  div.cont-2-column-item {height: 250px ;}
}

@media screen and (max-width: 580px) {
  div.cont-img-tl { width: 194px;  height: 162px;  z-index: 0; }
  div.year-text { width: 70px;  height: 70px;  font-size: 18pt;  z-index: 2;}
  div.cont-2-column-item p span { width: 100%; max-width: 194px; }
}


@media screen and (max-width: 520px) {
  div.cont-img-tl { width: 300px; height: 250px; }
  div.cont-2-column-item { height: 370px;}
  div.cont-year {justify-content: start; transform: translateY(-40px);}
  div.cont-2-column-item:nth-child(even) {justify-content: end;}
  div.cont-2-column-item:nth-child(odd) {justify-content: end;}
  div#cont-2-column div.cont-2-column-item:nth-child(odd) p {justify-content: end; text-align: left;}
  div.year-text { width: 80px;  height: 80px;  font-size: 18pt;  z-index: 2; margin-left: 1rem;}
  div#line-center {left: 55px;}
  div#cont-column { justify-content: start;}
  div#cont-2-column { width: 96%; }
  div.cont-2-column-item p span {max-width: 300px;}
}

@media screen and (max-width: 425px) { div.cont-img-tl { width: 255px; height: 212px; } div.cont-2-column-item p span {max-width: 255px;} div.cont-2-column-item { height: 320px;}}
@media screen and (max-width: 365px) { div#cont-2-column { width: 96%; } div.cont-img-tl { width: 194px;  height: 162px;  z-index: 0; } div.cont-2-column-item p span {max-width: 194px;} div.cont-2-column-item { height: 280px;}}
@media screen and (max-width: 330px) { div.year-text { width: 60px;  height: 60px;  font-size: 14pt; } div#line-center {left: 45px;} }
