<app-navbar></app-navbar>
<img title="imagen de muestra" [src]="'http://localhost:3002/' + imgFondo" id="background-texture">

    <div id="section-2" class="section">
              <div class="column" id="img1">
                  <h2>CLIENTE MAYORISTA</h2>
                  <img src="../../../assets/img/Logo Procasa original vertocal B.png" alt="Imagen 1">
                  <a href="https://api.whatsapp.com/send/?phone=50230107381&text&type=phone_number&app_absent=0"><button class="button white-button"><i class="fas fa-check"></i> WHATSAPP</button></a>
                  <button class="button red-button"><i class="fas fa-times"></i>PBX: 2310 6000 </button>
              </div>
              <div class="column" id="img2">
              <h2>CLIENTE MINORISTA</h2>
              <img src="../../../assets/img/Logo MH original blanco.png " alt="Imagen 2">
              <a href="https://www.meathouse.com.gt/"><button class="button red-button"><i class="fas fa-times"></i>COMPRA ONLINE</button></a>
          </div>
  </div>

  <div id="space"></div>
  <app-footer></app-footer>
