@if (tipoBack == true ) {
  <img title="imagen de muestra" [src]="imgFondo" id="background-texture">
}@else{
  <img title="imagen de muestra" id="background-texture" [style.background-color]="colorn">
}

<app-navbar-white/>

<div id="container-main">
  <!-- <div id="cont-search"><input type="text" [(ngModel)]="filtro" class="bold" placeholder="Buscar sucursal" title="buscar sucursal"></div> -->

<div id="container-ubicaciones">
    <div id="cont-logos-head">
      <div class="logo-head"><div class="cont-check" (click)="obtenerProcas()" (click)="checkLogo(0)"><div class="checked"></div></div><img src="../../../../assets/img/Logo Procasa original vertocal B.png"></div>
      <div class="logo-head"><div class="cont-check" (click)="obtenerprocasacdd()"  (click)="checkLogo(1)"><div class="checked"></div></div><img src="../../../../assets/img/Logo Procasa original vertocal B.png"><p class="normal">CENTRO DE DISTRIBUCIÓN</p></div>
      <div class="logo-head"><div class="cont-check" (click)="obtenermeatousegrab()" (click)="checkLogo(2)"><div class="checked"></div></div><img src="../../../../assets/img/Logo MH original blanco.png"><p class="normal">Grab & Go</p></div>
      <div class="logo-head"><div class="cont-check" (click)="obtenermeatHouseCarnicera()" (click)="checkLogo(3)"><div class="checked"></div></div><img src="../../../../assets/img/Logo MH original blanco.png"><p class="normal">TIENDAS CON CARNICERÍA</p></div>
      <div class="logo-head"><div class="cont-check" (click)="obtenerEconocarnes()" (click)="checkLogo(4)"><div class="checked"></div></div><img src="../../../../assets/img/Econo Carnes blanco.png"></div>
    </div>

    <div id="cont-data-ubicaciones">
          <div class="cont-ubicacion">
            <img [src]="imgPath">
          </div>
          <div class="cont-ubicacion">
            <div class="datos-ubi">

                <div class="dato-u"><p class="bold">Dirección:</p><p>{{direccion}}</p></div>
                <div class="dato-u"><p class="bold">Teléfono:</p><p>{{telefono}}</p></div>
                <div class="dato-u"><p class="bold">WhatsApp:</p><p> {{whatsapp}}</p></div>
                <div class="dato-u"><p class="bold">Horario:</p><p>{{horario}}</p></div>
                  <div class="cont-ma-wa">
                    <a href="{{enlaceMaps}}" target="_blank"><img src="../../../../assets/img/maps.png"></a>
                    <a href="{{enlaceWaze}}" target="_blank"><img src="../../../../assets/img/waze.png"></a>
                  </div>
            </div>
          </div>
          <div class="cont-ubicacion">@for (item of dataUbicaciones; track $index) { <h1 class="select-ubicacion" (click)="selecStore(item._id)" > {{item.nombreTienda}}</h1> }</div>
    </div>
</div>
</div>

<app-footer></app-footer>
