background-texture {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}


div#container-main {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 65px;
  background: #252525;
}

div#container-ubicaciones {
  width: 90%;
  height: auto;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
}

div#cont-search {
  position: relative;
  width: 100%;
  pad: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#cont-search input[type=text] {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 14pt;
  background: #f4f4f4;
  color: #252525;
  width: 400px;
}
