

div#container-main {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 65px;
  padding-bottom: 30vh;
}



div#container-ubicaciones {
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 1rem;
}

div#cont-search {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#cont-search input[type=text] {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 14pt;
  background: #f4f4f4;
  color: #252525;
  width: 400px;
}



div#cont-logos-head {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.logo-head {
  width: 150px;
  height: 100px;
  position: relative;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.cont-check {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  border: 2px solid #FFF;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: .1s;
}

div.cont-check:active { transform: scale(1.2); }

div.checked {
  position: relative;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  border-radius: 2px;
  background: var(--main);
  display: none;
}

div.cont-check.enabled div.checked { display: block; }

div.logo-head img {
  height: auto;
  width: 100px;
  position: relative;
}

div.logo-head p {
  width: 100px;
  color: #FFF;
  text-align: center;
  font-size: 10pt;
  margin-left: 50px;
}

div.logo-head:last-child img { margin-left: 1rem; width: 100px; height: auto; }

div#cont-data-ubicaciones {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}

div.cont-ubicacion {
  width: 380px;
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  padding-bottom: 2rem;
}

div.cont-ubicacion:nth-child(1) img {
  width: 90%;
  height: auto;
  position: relative;
  border-radius: 4px;
}

div.datos-ubi {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}


div.dato-u {
  width: 100%;
  color: #FFF;
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  margin-top: .5rem;
}

div.dato-u p {font-size: var(--fs-sub); }

div.dato-u p:first-child {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  min-width: 85px;
}


div.cont-ubicacion:nth-child(3) {
  align-items: start;
  align-content: start;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1.select-ubicacion {
  position: relative;
  color: #FFF;
  background: #FAFAFA;
  color: #252525;
  width: 90%;
  padding: 1rem 2rem;
  margin: 4px 0;
  border-radius: 4px;
  font-size: var(--fs-sub);
  cursor: pointer;
}

h1.select-ubicacion:hover { background: var(--main); color: #FFF; }

div.cont-ma-wa {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1rem;
}

div.cont-ma-wa img {
  position: relative;
  width: 40px;
  height: auto;
}


@media screen and (max-width: 950px) {
  div#cont-logos-head {
    justify-content: center;
    flex-wrap: wrap;
}
  
  div.logo-head {
    width: 150px;
    height: 100px;
    position: relative;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}