
div#container-main {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-bottom: 10rem;
  position: relative;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#arrow-back {
  position: fixed;
  z-index: 49;
  top: 15vh;
  left: 10vw;
  background: #FFF;
  color: #252525;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

div#arrow-back mat-icon {font-size: 20pt; margin-right: 5px;}


div#container-data-select {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 20vh;
  }
  
  div#container-data-select div.cont-data-sel {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  div.cont-data-sel:nth-child(1) { justify-content: start; }
  
  div.cont-data-sel h1 {
    font-size: 30pt;
    color: #FFF;
    width: 90%;
    text-align: left;
  }
  
  div#cont-btn-plaza {
    width: 90%;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  div#cont-btn-plaza button {
    font-size: 15pt;
    position: relative;
  }
  
  
  div.cont-data-sel p {
    margin-top: 1rem;
    color: #FFF;
    font-size: 14pt;
    width: 90%;
    max-width: 90%;
    text-align: left;
    white-space: pre;
    word-wrap: break-word;
    white-space: pre-line;
  }
  
  div.cont-data-sel img { 
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    max-height: 500px;
}
  
  
  @media screen and (max-width: 1000px) {
  div#container-data-select { width: 800px }
  div#container-data-select div.cont-data-sel { width: 400px }
  }
  
  
  @media screen and (max-width: 800px) {
    div#container-data-select { width: 90% }
    div#container-data-select div.cont-data-sel { width: 100% }
  div#container-data-select div.cont-data-sel:nth-child(2) { width: 300px;  margin-top: 4rem;}
  }
  
  @media screen and (max-width: 960px) { div.container-plazas { width: 720px; } }
  @media screen and (max-width: 720px) { 
    div.container-plazas { width: 480px;}
    div#container-data-texto { width: auto;  max-width: 90%;}
  }
  @media screen and (max-width: 479px) { div.container-plazas { width: 100%; justify-content: center;} }
  
  