@if (tipoBack == true ) { <img  [src]="imgFondo"  id="background-texture" > }@else{ <img   id="background-texture"[style.background-color]="colorn" > }

<app-navbar-white/>

<div id="container-main">

  <div id="arrow-back" (click)="backPage()"><mat-icon>keyboard_arrow_left</mat-icon></div>

  <div id="container-data-select">
    <div class="cont-data-sel">
      <h1 class="bold">{{NombrePlaza}}</h1>
      <p>{{description}}</p>
      
      <div id="cont-btn-plaza"><a href="https://docs.google.com/forms/d/e/1FAIpQLSe1Zz_5GxketXWhk8Ke6YKFPYv9-FpdbMQIRFafKIMGUnDc3g/viewform" target="_blank" class="btn-click btn-red">Aplica aquí</a></div>
    </div>
    
    
    <div class="cont-data-sel">
      <img src={{imgPlaza}}>
    </div>
  </div>


</div>
  <app-footer></app-footer>