@font-face { font-family: 'realeway_light'; src: url('./assets/font/static/Raleway-Light.ttf'); }
@font-face { font-family: 'realeway_normal'; src: url('./assets/font/static/Raleway-Medium.ttf'); }
@font-face { font-family: 'realeway_bold'; src: url('./assets/font/static/Raleway-Bold.ttf'); }

* {box-sizing: border-box; outline: none; padding: 0; margin: 0; border: none; font-family: realeway_light;}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.bold {font-family: realeway_bold;}
.light {font-family: realeway_light;}
.normal {font-family: realeway_normal;}


h1.container-h1 {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 40pt;
  color: #FFF;
  margin-top: 30vh;
}

* { transition: .2s ease;
    scrollbar-width: thin;
}
div.container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

