@font-face { font-family: 'realeway_light'; src: url('./assets/font/static/Raleway-Light.ttf'); }
@font-face { font-family: 'realeway_normal'; src: url('./assets/font/static/Raleway-Medium.ttf'); }
@font-face { font-family: 'realeway_bold'; src: url('./assets/font/static/Raleway-Bold.ttf'); }

* {box-sizing: border-box; outline: none; padding: 0; margin: 0; border: none; font-family: realeway_light; font-size: 11pt;}

*::-webkit-scrollbar { -webkit-appearance: none; }
*::-webkit-scrollbar:vertical { width: 0px; }
*::-webkit-scrollbar:horizontal { width: 0px; }


:root {
  --first: #0000FF;
  --negro: #252525;
  --second: #454545;
  --third: #858585;
  --white: #FAFAFA;
  --main: #AA182C;
  --limit: #AA182C;

/* FONT SIZE WEB SITE */
  --fs-title: 50pt;
  --fs-sub: 16pt;
  --fs-text: 12pt;
}


body {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.bold {font-family: realeway_bold;}
.light {font-family: realeway_light;}
.normal {font-family: realeway_normal;}

h1.container-h1 {
  width: 100vw;
  text-align: center;
  font-size: var(--fs-title);
  color: #FFF;
  margin-top: 15vh;
  margin-bottom: 50px;
  border: 2px solid red;
}



div.container-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  box-shadow: 0px 1px 10px rgba(0,0,0,.2);
  border-bottom: 1px solid #656565;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 2rem;
  background: var(--negro);
}

div.container-head h1 {
  color: var(--white);
  font-size: 16pt;
  width: 160px;
  display: inline-block;
  text-transform: uppercase;
}




div.container-head span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

div.container-head span * { margin: 0 4px; }

div.container-head button { font-size: 9pt; }

div.container-head input {
  width: 225px;
  padding: .5rem 2rem;
  border-radius: 4px;
  font-size: 12pt;
}

textarea {border: 1px solid #AAA;}

div.admin-main {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding: 2rem 0 20rem 0;
  background: #F4F4F4;
  margin-top: 60px;
  overflow: hidden;
  z-index: 0;
}

div.shadow-main {
  /* position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .1);
  background: #454545;
  border-radius: 8px;
  top: 0;
  left: -50%;
  transform: rotateZ(45deg);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .4);
  z-index: 0;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent; */
  display: none;
}

div.global-modal {
  position: fixed;
  max-width: 532px;
  height: auto;
  max-height: 80vh;
  background: var(--white);
  left: calc(50% - 266px);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding: 1rem;
  top: 10vh;
  transition: .4s ease;
  opacity: 0;
  transform: scale(.8);
  z-index: -200;
  display: none;
  transform: scale(.8);
  animation: show .2s ease-out;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

div.global-modal.toggle {
  display: flex;
  z-index: 49;
  transform: scale(1);
  opacity: 1;
}



@keyframes show {
   0% {transform: scale(.8); z-index: 49; opacity: 1;}
  100% {transform: scale(1); z-index: 49; opacity: 1;}
}

div.cont {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

div.start {justify-content: start;}

div.action-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: .5rem;
}

.start form {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

div.item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  border-radius: 4px;
}


div.item input, div.item select, div.item textarea {
  width: 225px;
  padding: .5rem 1rem;
  border-radius: 4px;
  background: var(--white);
  color: var(--negro);
  border: 1px solid var(--third);
  font-size: 11pt;
}

div.item label {
  font-size: 11pt;
  width: 225px;
  width: 100%;
  color: var(--third);
  padding-left: .5rem;
  padding-bottom: .2rem;
}
div.item label::first-letter {text-transform: uppercase;}

.max-w { min-width: 60%; }









/* ===================================================================================================================================================================================000 */


img#background-texture {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.e4 {background: #ededee;}


div.container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}


.btn-click {
  transform: scale(1);
  transition: transform .1s opacity .2s;
  opacity: 1;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  border-radius: 4px;
  padding: .5rem 1rem;
  cursor: pointer;
  background: #F4F4F4;
  color: var(--negro);
  transition: .1s;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
.btn-click:active {
  transform: scale(.93);
  opacity: .8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .2);
}
.btn-click:hover { opacity: .8; }
.btn-click::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 4px;
}



.btn-red {background: #AA182C; color: var(--white);}
.btn-dark {background: var(--negro); color: var(--white);}
.btn-white {background: #F4F4F4; color: var(--negro);}

.title-modal {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 14pt;
  z-index: 0;
  color: var(--negro);
  text-transform: uppercase;
  background: transparent;
  border-radius: 4px;
}


.close-modal {
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 1;
  background: var(--second);
  color: var(--white);
  padding: .3rem .5rem;
  font-size: 11pt;
}

span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.white { color: var(--white); }
.black {color: var(--negro);}


html, body { height: 100%; }




/*========= A L E R T ================================================================================================================================================*/
div.container-alert {display: none;}

div#background-alert {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  z-index: -100;
  opacity: 0;
  transition: opacity .2s ease-out;
}

div#background-alert.show { z-index: 50; opacity: 1;}

div#container-alert {
  width: 500px;
  height: auto;
  position: fixed;
  transition: top 2s ease-in-out, display .1s;
  display: none;
  justify-content: center;
  align-items: center;
  background: var(--white);
  text-align: center;
  z-index: -10;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
  padding: 2rem;
}

div#container-alert.show { 
  z-index: 1;
  display: flex;
  top: 10vh;
  animation: alert .4s ease-in-out;
}

@keyframes alert {
    0% {display: flex; top: -400px;}
  100% {display: flex; top: 10vh;}
}

div.alert-model {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.message {
  font-size: 16pt;
  width: 80%;
  position: relative;
  text-align: center;
  color: var(--negro);
  background: transparent;
}


div.cont-btns-alert {
  width: 80%;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  display: none;
  margin-top: 2rem;
}

div.cont-btns-alert.show { display: flex; z-index: 700;}

div.cont-btns-alert div {
  margin-top: .5rem;
  width: 40%;
  text-align: center;
  border-radius: 4px;
}

/* SYSTEM LOAD & VIEW  IMG ====================================================*/

div#sub-cont-details-img {
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  height: 130px;
  background: var(--white);
  padding: 1rem;
  border-radius: 4px;
}


div#sub-cont-details-img div ul {
  width: 90%;
  list-style: none;
  position: relative;
  margin-top: 1rem;
}

div#sub-cont-details-img div ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--negro);
  font-size: 11pt;
}

div#sub-cont-details-img div ul li span {
  color: var(--negro);
  font-size: 11pt;
}

div#sub-cont-details-img div ul li span.limit { color: var(--limit); }

div.sub-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50%;
  max-width: 50%;
  height: 100%;
}

div.cont-details-img {
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

div.cont-details-img img {
  width: auto;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  position: relative;
  border-radius: 4px;
}

div.sub-img-btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  background: var(--negro);
  border-radius: 4px;
  padding: .3rem;
}

div.sub-img-btn mat-icon {
  max-width: 10%;
  width: 10%;
  height: 100%;
  padding: .4rem 1rem;
  border-radius: 4px;
  background: transparent;
  color: #F4F4F4;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.sub-img-btn mat-icon:hover {opacity: .8;}
div.sub-img-btn mat-icon:active {transform: scale(.9);}

input[type=file] { position: relative; padding: .5rem; width: 100%; border-radius: 4px;}
input[type=file]::before {
  content: attr(data-content);
  position: absolute;
  white-space: normal;
  width: 100%;
  height: 100%;
  /* background: #ecf1f7; */
  background: var(--second);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  top: 0;
  left: 0;
  cursor: pointer;
  transform: scale(1);
  transition: .1s;
  opacity: 1;
  border-radius: 4px;
  font-size: 10pt;
}
input[type=file]:hover { opacity: .8; }
input[type=file]:active { transform: scale(.93); box-shadow: 0px 0px 0px rgba(0, 0, 0, .2);}

/* ================================================================================================================================ */


@media screen and (max-width: 500px) {

div#container-alert { width: 90%; }
  
div.cont-btns-alert { width: 100%; width: 80%; flex-wrap: wrap;}

div.cont-btns-alert.show { display: flex; z-index: 700;}

div.cont-btns-alert div {
  flex-wrap: wrap;
  width: 100%;
}

div.cont-btns-alert div mat-icon { margin: 0 1rem; }


}


@media screen and (max-width: 650px) { div.container-head h1 { font-size: 12pt;  width: auto; } }
@media screen and (max-width: 600px) { 
  div.container-head h1 { display: none; }
  div.container-head { justify-content: space-evenly; }
}

@media screen and (max-width: 500px) { div.container-head { justify-content: end; } }

@media screen and (max-width: 450px) { div.container-head input { width: 40%; padding: .5rem 1rem; font-size: 11pt;} }


@media screen and (max-width: 550px) {
  
  div.global-modal {
    width: 96%;
    left: calc(50% - 48%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5rem;
  }

  div#sub-cont-details-img {
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 100%;
    height: auto;
  }

  div.sub-details {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  
  div.cont-details-img { width: 100%;  height: 100%; }
  
  div.item { width: 100%; }

  div.item input, div.item select { width: 225px; }
  
  div.item label {
    width: 130px;
    padding-left: 0;
    padding-bottom: 0;
  }


}

@media screen and (max-width: 450px) {
  div.item input, div.item select { width: 225px; }
  
  div.item label {
    width: 225px;
    padding-left: 0;
    padding-bottom: .2rem;
  }
}

@media screen and (max-width: 300px) {
  div.item input, div.item select { width: 90%; }
  div.item label { width: 90%; }
}

@media screen and (max-width: 330px) {
  div.container-head button mat-icon { display: none; }
  
}

