<app-admin-navbar></app-admin-navbar>

<div id="container-2">
  <h1>Productos</h1>

  <div id="bar-search">
    <label for="search">Buscar</label>
    <input class="bold" type="text" name="search" placeholder="" title="buscar producto">
  </div>
  <button id="add-product" (click)="ModalProduct('add')"><mat-icon>add</mat-icon> Agregar</button>
</div>



<div id="container-productos">
  
  
  @for (os of dataProductos; track os._id) {
  <div class="producto">
        <h1 class="normal h1-title-pro">{{os.nombreProducto}}</h1>
      
  <div class="sub-producto">
          <img src="../../../assets/img/carne de res.png" alt="producto" title="producto">
        </div>
        <div class="sub-producto">
          <div class="sub-details">
            <ul class="category">
              <li class="normal">CATEGORÍA</li>
                <ul>
                  <li>Sub Categoría</li>
                  <li>Sub Categoría</li>
                  <li>Sub Categoría</li>
                </ul>
              </ul>
            </div>
          </div>
          
        
        
        <div class="actions">
          <div class="edit-product btn-click btn-gold" (click)="ModalProduct('edit')"><mat-icon>edit</mat-icon></div>
          <div class="del-product btn-click btn-red"(click)="DeleteProduct($event)"> <mat-icon>delete</mat-icon></div>
          <div class="btn-click btn-gold" (click)="openAddCategory($event)"><mat-icon>list</mat-icon></div>
            </div>
          
          <div class="container-alert">
            <div class="alert-model">
              <p class="inner-message normal"></p>
              
              <div class="message"> <h1 class="innermsg"></h1></div>
              <div class="cont-btns-alert">
                <button  class="confirm replace-button btn-click" (click)="closeAlert($event)" (click)="confirmedDeleteProduct($event)"><mat-icon>done</mat-icon></button>
                <div class="replace-button btn-click cancel" (click)="closeAlert($event)"><mat-icon>close</mat-icon></div>
              </div>
            </div>
          </div>
          
            
          <div class="cont-add-cat cont-add-cat-new">
            <h1 class="title-modal">Agregar Categoría</h1>
            <div class="btn-click btn-close-addcat" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>
          
            <div class="cont-categories">
              <div class="cont-input-btn">
          <input type="text" placeholder="nueva categoría">
        </div>
        
        
        <div class="cont-btn-save">
          <div class="save-added-categories btn-click btn-red" (click)="SaveNewCategory()" (click)="CloseAddCategory($event)"><mat-icon>save</mat-icon></div>
        </div>
      </div>
    </div>
    
  
  
  
  
  <div class="cont-subcategories subcategories">
    <h1 class="title-modal">Agregar Sub-Categoría</h1>
    <div class="btn-click close-cont-subcate" (click)="CloseAddSubCategory($event)"><mat-icon>close</mat-icon></div>
    
    <div class="cont-categories">
      <button (click)="generarnewSubCate()" class="btn-generate normal">Nueva Sub</button>
      <button (click)="EliminarUltimaSub()" class="btn-delete normal">Eliminar Sub</button>
      
      <div class="cont-input-btn " *ngFor="let div of categorySubArray; let i = index">
        <input type="text" placeholder="nueva sub categoría">
      </div>
    </div>
    
    <div class="cont-btn-save">
      <div class="save-added-categories btn-click btn-red" (click)="SaveNewSubCategory()" (click)="CloseAddSubCategory($event)"><mat-icon>save</mat-icon></div>
    </div>
    
  </div>

  
  <div class="message-success"> <p class="inner-message normal">message status</p> </div>
</div>


<!--    Pruebas de FormControl
<form>
  <input id="nombre" type="text" [formControl]="nombreControl">
  <input id="email" type="email" [formControl]="emailControl">
  <button type="submit">Enviar</button>
</form> -->

</div>
}





<!-------- MODAL AGREGAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-add-product">
  <h1 class="title-modal">Agregar Producto</h1>
  <div id="close-modal-add" (click)="ModalProduct('add')">cerrar</div>

  <div class="cont-blocks">

    <div class="preview-img-model">
    <input id="file-edit" (change)="getFile($event)" (change)="FileAdd($event, 'img-pre-add')" type="file" accept=".jpg, .jpeg, .png, .webp, .avi" title="seleccionar archivo" [attr.data-content]="inputEmpty">
  <div class="details-img">
    <ul>
      <li>ancho: <p class="innerdetails bold"></p></li>
      <li>alto:<p class="innerdetails bold"></p></li>
      <li>Realcion:<p class="innerdetails bold"></p></li>
      <li>tamaño:<p class="innerdetails bold"></p></li>
    </ul>
    <img src="" alt="" id="img-pre-add">
  </div>
</div>

<div class="cont-datos">
  <input formControlName="nombreProducto" type="text" placeholder="Producto" class="normal" name="name-producto" title="nombre del producto">

  <!-- <button (click)="generarSub()" class="btn-generate normal">Nueva categoría</button>
  <button (click)="eliminarUltimoSub()" class="btn-delete normal">Eliminar categoría</button> -->
  <!-- <input type="text" class="normal cat-generated" placeholder="categoría" *ngFor="let div of subsArray; let i = index"> -->
  <input type="text" class="normal cat-generated" placeholder="categoría">
</div>

<div class="cont-btn-save">
  <div class="add-save normal" (click)="AlertConfirm($event)">guardar</div>
</div>

</div>
</form>


<div class="container-alert">
  <div class="alert-model">
      <p class="inner-message normal"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button  class="confirm"> confirmar</button>
        <div class="replace-button cancel" (click)="closeAlert($event)">cancelar</div>
      </div>
    </div>
  </div>

</div>






<!-------- MODAL EDITAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-edit-product">
  <div id="close-modal-edit" (click)="ModalProduct('edit')"><mat-icon>close</mat-icon></div>

  <h1 class="title-modal">Editar Producto</h1>
  <div id="close-modal-add" (click)="ModalProduct('edit')"><mat-icon>close</mat-icon></div>

  <div class="cont-blocks">

    <div class="preview-img-model">
    <input id="file-edit" (change)="FileEdit($event, 'img-pre-edit')" type="file" accept=".jpg, .jpeg, .png, .webp, .avi" title="seleccionar archivo" [attr.data-content]="inputEmptyEdit">
  <div class="details-img">
    <ul>
      <li>ancho: <p class="innerdetails bold"></p></li>
      <li>alto:<p class="innerdetails bold"></p></li>
      <li>Realcion:<p class="innerdetails bold"></p></li>
      <li>tamaño:<p class="innerdetails bold"></p></li>
    </ul>
    <img src="" alt="" id="img-pre-edit">
  </div>
</div>

<div class="cont-datos">
  <input type="text" placeholder="Producto" class="normal" name="name-producto" title="nombre del producto">

<button class="btn-click btn-red" (click)="OpenAddCategory($event)">editar categorías</button>
</div>

<div class="cont-btn-save">
  <div class="add-save normal" (click)="saveEditedProduct($event)"><mat-icon>save</mat-icon></div>
</div>

</div>



<div class="cont-add-cat">
  <h1 class="title-modal">Agregar Categoría</h1>
  <div class="btn-click btn-close-addcat" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>

<div class="cont-categories">
  <!-- <button (click)="generarCate()" class="btn-generate normal">Nueva categoría</button> -->
  <!-- <button (click)="EliminarUltimaCate()" class="btn-delete normal">Eliminar categoría</button> -->
  <!-- <div class="cont-input-btn" *ngFor="let div of categoryArray; let i = index"> -->

  <div class="cont-input-btn">
    <div class="btn-sub btn-click btn-red">eliminar</div>
    <div class="btn-sub btn-click btn-red" (click)="openEditItems($event)">editar</div>
    <div class="btn-sub btn-click btn-red"><mat-icon>save</mat-icon></div>
      <input type="text" placeholder="nueva categoría">
  </div>

<div class="cont-btn-save">
  <div class="save-added-categories btn-click btn-red" (click)="SaveNewCategory()" (click)="CloseAddCategory($event)"><mat-icon>save</mat-icon></div>
</div>
</div>

<div class="add-items">
  <div class="btn-click close-item" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>

  <div class="cont-middle">

  <div class="cont-adddel">

  <div class="sub-cont-btns">
    <div class="btn-click btn-red" (click)="addItem()">agregar</div>
    <div class="btn-click btn-red" (click)="deleteItem()">eliminar</div>
  </div>
  <div class="cont-input-item" *ngFor="let div of addItemsArray; let i = index">
    <input type="text" placeholder="...">
  </div>

  <div class="btn-click btn-red save-items"><mat-icon>save</mat-icon></div>
</div>
  </div>

</div>
</div>


<div class="cont-subcategories">
  <h1 class="title-modal">Agregar Sub-Categoría</h1>
  <div class="btn-click close-cont-subcate" (click)="CloseAddSubCategory($event)"><mat-icon>close</mat-icon></div>


<div class="cont-categories">
    <button (click)="generarSubCate()" class="btn-generate normal">Nueva Sub</button>
    <button (click)="EliminarUltimaSubCate()" class="btn-delete normal">Eliminar Sub</button>

    <div class="cont-input-btn" *ngFor="let div of subCategoryArray; let i = index">
      <input type="text" placeholder="nueva sub categoría">
    </div>
</div>


<div class="cont-btn-save">
  <div class="save-added-categories btn-click btn-red" (click)="SaveNewSubCategory()" (click)="CloseAddSubCategory($event)"><mat-icon>save</mat-icon></div>
</div>


</div>


<div class="container-alert">
  <div class="alert-model">
      <p class="inner-message normal"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button  class="confirm replace-button btn-click" (click)="closeAlert($event)"><mat-icon>done</mat-icon></button>
        <div class="replace-button btn-click cancel" (click)="closeAlert($event)"><mat-icon>close</mat-icon></div>
      </div>
    </div>
  </div>


</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->






<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-alert">
  <div class="alert-model">
      <p class="inner-message normal"></p>
      
      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button  class="confirm replace-button btn-click"> confirmar</button>
        <div class="replace-button btn-click cancel"><mat-icon>close</mat-icon></div>
      </div>
    </div>
  </div>
  
<!-- <div class="message-success"> <p class="inner-message normal">message status</p> </div> -->