mat-icon { font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}


div#container-2, div#container-4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background: #EEEEEE;
  box-shadow: 0px 1px 10px rgba(0,0,0,.1);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 2rem;
}

div#container-2 h1 {
  color: #AA182C;
  font-size: 18pt;
  width:200px;
  display: inline-block;
}


div#bar-search {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#bar-search label {
  width: 10%;
  font-size: 12pt;
}

div#bar-search input {
  width: 80%;
  padding: .5rem 2rem;
  border-radius: 10rem;
  font-size: 14pt;
  border: 1px solid #DDD;
}

div#bar-search button {
  width: 10%;
  background: transparent;
}

div#container-productos {
  width: auto;
  max-width: 1200px;
  height: auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 4rem 0;
  margin-bottom: 50vh;
}

div.producto {
  width: 400px;
  height: auto;
  min-height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
  border-radius: 4px;
  background: #FFF;
  padding: 1rem 1rem .5rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,.1);
  margin: 1rem 1rem;
}

div.sub-producto {
  height: 100%;
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

div.sub-details {
  padding: 1rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}


div.sub-producto:nth-child(1) { width: 40%; align-items: center; }
div.sub-producto:nth-child(2) { width: 60%; align-content: space-between;}

div.producto img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

h1.name-product {
  font-size: 16pt;
}

h1.h1-title-pro {
  width: 100%;
  text-align: center;
  font-size: 16pt;
  padding: .5rem 0;
}

div.producto ul {
  font-size: 11pt;
}

div.actions {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

div.replace-button {
  width: 30%;
  text-align: center;
  padding: .5rem 1rem;
  box-shadow: 2px 2px 0px rgba(0,0,0,.1);
  border-radius: 4px;
  font-size: 11pt;
  cursor: pointer;
  transform: scale(1);
  transition: transform .1s;
}

div.replace-button:hover { opacity: .8; }
div.replace-button:active { opacity: .8; transform: scale(.9); box-shadow: 0px 0px 0px rgba(0,0,0,0);}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

div#modal-add-product, div#modal-edit-product {
  font-size: 11pt;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 600px;
  height: auto;
  max-height: 80vh;
  background: #FAFAFA;
  box-shadow: 2px 2px 4px rgba(0,0,0,.1);
  top: 10vh;
  border-radius: 4px;
  left: calc(50% - 300px);
  transform: scale(.8) translateY(20vh);
  z-index: -10;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  transition: .4s;
  padding: .5rem;
  padding-bottom: 1rem;
}

div#modal-add-product form, div#modal-edit-product form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div#modal-add-product.show,
div#modal-edit-product.show {
  transform: scale(1) translateY(0);
  opacity: 1;
  z-index: 10;
}

div#close-modal-add,
div#close-modal-edit {
  position: absolute;
  right: .5rem;
  top: .5rem;
  border-radius: 4px;
  padding: .5rem 1rem;
  background: #EFEFEF;
  box-shadow: 2px 2px 0px rgba(0,0,0,.1);
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
  transition: transform .1s;
  z-index: 1;
}

div#close-modal-add:hover,
div#close-modal-edit:hover { opacity: .8; }
div#close-modal-add:active,
div#close-modal-edit:active { opacity: .8; transform: scale(.9);}

h1.title-modal {
  z-index: 1;
}

div.preview-img-model {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

div.preview-img-model {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}



div.details-img ul li p {display: inline-block;}

span.danger-red,
span#width-new-n, span#height-new-n, span#size-new-n { color: #252525; }
span#width-update-lt, span#height-update-lt, span#size-update-lt { color: #252525; }
span#width-edit-n, span#height-edit-n, span#size-edit-n { color: #252525; }
span.danger-red.limit, span.innerdetails.limit,
span#width-new-n.limit, span#height-new-n.limit, span#size-new-n.limit { color: #FF182C; }
span#width-update-lt.limit, span#height-update-lt.limit, span#size-update-lt.limit { color: #FF182C; }
span#width-edit-n.limit, span#height-edit-n.limit, span#size-edit-n.limit { color: #FF182C; }

h1.innermsg { background: transparent; }

img#img-pre-add, img#img-pre-edit {
  max-width: 130px;
  width: auto;
  height: auto;
  max-height: 130px;
  border-radius: 4px;
  display: block;
  margin: 1rem;
}

div.cont-datos {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  position: relative;
}

div.cont-datos input {
  position: relative;
  width: 80%;
  padding: .5rem 1rem;
  border-radius: 4px;
  margin-bottom: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0, .2);
}


div.cont-blocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

div.cont-btn-save {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1rem;
}

div.cont-datos label.head-elem {
  width: 37.5%;
  padding: .5rem 1rem;
}

div.cont-datos input.head-elem {
  padding: .5rem 1rem;
  border-radius: 4px;
  width: 57.5%;
  box-shadow: 1px 1px 0px rgba(0,0,0,.1);
}

.padding {margin-top: 4px;}

div.new-subcategory {
  padding: 1rem;
}

div.cont-actions-subs {
  width: 100%;
  height: auto;
  position: relative;
  background: rgba(0,0,0,.1);
  border-radius: 4px;
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding-bottom: .5rem;
}


div.cont-btns-add-del {
  position: relative;
  display: block;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  align-content: start;
  flex-wrap: nowrap;
  margin-top: .5rem;
  width: 90%;
}

button.btn-generate, button.btn-delete {
  position: relative;
  padding: .5rem 1rem;
  background: #FAFAFA;
  box-shadow: 1px 1px 0px rgba(0,0,0,.1);
  border-radius: 4px;
  transition: transform .1s;
  transform: scale(1);
  cursor: pointer;
  margin: 1rem 1rem;
  background: #AA182C;
  color: #FFF;
}
button.btn-generate:active, button.btn-delete:active {transform: scale(.9);}

div.cont-generated-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin-top: .5rem;
  max-height: 100px;
}


input.sub-generated {
  width: 80%;
  position: relative;
  margin-top: 4px;
  padding: .5rem 1rem;
  border-radius: 4px;
  transition: .4s ease-out;
}

input.sub-generated:last-child { margin-bottom: 2rem; }

div.cont-product-btns {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: .5rem;
}

input.input-category {
  width: 90%;
  position: relative;
  padding: .5rem 1rem;
  border-radius: 4px;
  transition: .4s ease-out;
  margin-top: .5rem;
}


div.cont-btn-save {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cont-input-btn {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4px;
}

div.btn-sub {margin-left: 1rem;}

div.save-added-categories {
  margin-top: 2rem;
  margin-bottom: 4rem;
}




/*========= C A T E G O R Í A ================================================================================================================================================*/

div.cont-add-cat, div.cont-subcategories {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #FAFAFA;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  display: none;
  z-index: 1;
}

div.cont-subcategories {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.cont-add-cat-new {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.cont-subcategories {z-index: 1;}

div.cont-add-cat.show, div.cont-subcategories.show {
  display: flex;
}

div.btn-close-addcat, div.close-cont-subcate {
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 2;
}

div.cont-categories {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

div.cont-categories input {
  width: 60%;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 1px rgba(0,0,0, .2);
  margin-top: 4px;
  border-radius: 4px;
}

div.modal-add-category {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  background: #FAFAFA;
  border-radius: 4px;
}

div.modal-add-category.show {
  display: flex;
}

div.btn-close-modal {
  position: absolute;
  right: .5rem;
  top: .5rem;
}

div.cont-btns {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

div.cont-inputs {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

div.input-btn {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 4px;
}

div.input-btn input {
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0, .2);
}



div.add-items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: #FAFAFA;
  display: none;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
}

div.add-items.show {display: flex;}

div.close-item {
  position: absolute;
  right: .5rem;
  top: .5rem;
  z-index: 5;
}

div.cont-middle {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

div.cont-adddel {
  width: 400px;
  position: relative;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

div.sub-cont-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 2rem;
}
div.cont-input-item {
  width: 90%;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.cont-input-item input {
  padding: .5rem 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0, .2);
}

div.save-items {
  margin: 1rem 0 4rem 0;
}



