<app-admin-navbar></app-admin-navbar>

<div id="container-2">
  <h1>Productos</h1>

  <div id="bar-search">
    <label for="search">Buscar</label>
    <input class="bold" type="text" name="search" placeholder="" title="buscar producto">
  </div>
  <button id="add-product" (click)="ModalProduct('add')">+ Agregar Producto</button>
</div>



<div id="container-productos">


<div class="producto">
  <h1 class="normal h1-title-pro">Producto</h1>
  <div class="sub-producto">
    <img src="../../../assets/img/carne de res.png" alt="producto" title="producto">
  </div>
  <div class="sub-producto">
    <div class="sub-details">

      <ul class="category">
        <li class="normal">CATEGORÍA</li>
          <ul>
            <li>Sub Categoría</li>
            <li>Sub Categoría</li>
            <li>Sub Categoría</li>
          </ul>
      </ul>

    </div>
  </div>


  <div class="actions">
    <div class="edit-product actns" (click)="ModalProduct('edit')">editar</div>
    <div class="del-product actns"(click)="DeleteProduct()">eliminar</div>
  </div>
</div>

</div>



<!-------- MODAL AGREGAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-add-product">
  <h1 class="title-modal">Agregar Producto</h1>
  <div id="close-modal-add" (click)="ModalProduct('add')">cerrar</div>

  <div class="cont-blocks">

    <div class="preview-img-model">
    <input id="file-edit" (change)="FileAdd($event, 'img-pre-add')" type="file" accept=".jpg, .jpeg, .png, .webp, .avi" title="seleccionar archivo" [attr.data-content]="inputEmpty">
  <div class="details-img">
    <ul>
      <li>ancho: <p class="innerdetails bold"></p></li>
      <li>alto:<p class="innerdetails bold"></p></li>
      <li>Realcion:<p class="innerdetails bold"></p></li>
      <li>tamaño:<p class="innerdetails bold"></p></li>
    </ul>
    <img src="" alt="" id="img-pre-add">
  </div>
</div>

<div class="cont-datos">
  <input type="text" placeholder="Producto" class="normal" name="name-producto" title="nombre del producto">

  <button (click)="generarSub()" class="btn-generate normal">Nueva categoría</button>
  <button (click)="eliminarUltimoSub()" class="btn-delete normal">Eliminar categoría</button>
  <input type="text" class="normal cat-generated" placeholder="categoría" *ngFor="let div of subsArray; let i = index">

  <!-- <div class="cont-actions-subs" *ngFor="let div of productArray; let e = index">
    <input type="text" placeholder="Categoría" class="input-category bold">
    <div class="cont-btns-add-del">
      <button (click)="generarSub()" class="btn-generate">Generar Sub</button>
      <button (click)="eliminarUltimoSub()" class="btn-delete">Eliminar Sub</button>
    </div>
    <div class="cont-generated-input">
    </div>
  </div> -->
</div>

<div class="cont-btn-save">
  <div class="add-save normal" (click)="AlertConfirm($event)">guardar</div>
</div>

</div>


<div class="container-alert">
  <div class="alert-model">
      <p class="inner-message bold"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button  class="confirm"> confirmar</button>
        <div class="replace-button cancel" (click)="closeAlert($event)">cancelar</div>
      </div>
    </div>
  </div>

</div>

<!-------- MODAL EDITAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-edit-product">
  <div id="close-modal-edit" (click)="ModalProduct('edit')">cerrar</div>

  <h1 class="title-modal">Editar Producto</h1>
  <div id="close-modal-add" (click)="ModalProduct('edit')">cerrar</div>

  <div class="cont-blocks">

    <div class="preview-img-model">
    <input id="file-edit" (change)="FileEdit($event, 'img-pre-edit')" type="file" accept=".jpg, .jpeg, .png, .webp, .avi" title="seleccionar archivo" [attr.data-content]="inputEmptyEdit">
  <div class="details-img">
    <ul>
      <li>ancho: <p class="innerdetails bold"></p></li>
      <li>alto:<p class="innerdetails bold"></p></li>
      <li>Realcion:<p class="innerdetails bold"></p></li>
      <li>tamaño:<p class="innerdetails bold"></p></li>
    </ul>
    <img src="" alt="" id="img-pre-edit">
  </div>
</div>

<div class="cont-datos">
  <input type="text" placeholder="Producto" class="normal" name="name-producto" title="nombre del producto">

  <!-- <button (click)="generarSubB()" class="btn-generate normal">Nueva categoría</button>
  <button (click)="eliminarUltimoSubB()" class="btn-delete normal">Eliminar categoría</button> -->
  <!-- <input type="text" class="normal cat-generated" placeholder="categoría" *ngFor="let div of subsArrayB; let i = index"> -->
  <input type="text" class="normal cat-generated" placeholder="categoría">
  <input type="text" class="normal subcat-generated" placeholder="sub categoría">
</div>

<div class="cont-btn-save">
  <div class="add-save normal">guardar</div>
</div>

</div>

</div>







<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-alert">
  <div class="alert-model">
      <p class="inner-message bold"></p>

      <div class="message"> <h1 class="innermsg"></h1></div>
      <div class="cont-btns-alert">
        <button  class="confirm"> confirmar</button>
        <div class="replace-button cancel">cancelar</div>
      </div>
    </div>
  </div>


