<app-admin-navbar></app-admin-navbar>



<div id="container-2">
  <h1>Productos</h1>

  <div id="bar-search">
    <label for="search">Buscar</label>
    <input class="bold" type="text" name="search" placeholder="" title="buscar producto">
  </div>
  <button class="btn-click btn-red normal" (click)="ModalProduct('add')"><mat-icon>add</mat-icon> Agregar producto</button>
</div>

  

<div id="container-productos">


  @for (os of dataProductos; track os._id) {
  <div class="producto">

  <div class="sub-producto">
          <img [src]="os.imgPath" alt="producto" title="producto">
  </div>
        <h1 class="name-product bold">{{os.nombreProducto}}</h1>
        <div class="sub-producto">
          <div class="sub-details">
            <ul class="category">
              @for (categoria of os.categorias; track $index) {
                <li class="normal">{{categoria.Nombre}}</li>

                <ul>
                  @for (items of categoria.items; track $index) {
                    <li>{{items}} </li>


                  }
                  
                </ul>

              }
              </ul>
            </div>
          </div>

        <div class="actions">
          <div class="btn-click btn-red" (click)="openAddCategory($event)" (click)="getProductToSearch(os._id)" ><mat-icon> add</mat-icon></div>
          <div class="edit-product btn-click btn-red" (click)="getProductToSearch(os._id)" (click)="ModalProduct('edit')"><mat-icon>edit</mat-icon></div>
          <div class="btn-click btn-red" (click)="DeleteProduct(os._id)"  >  <mat-icon>delete</mat-icon></div>
        </div>

          <div class="cont-add-cat cont-add-cat-new">
            <h1 class="title-modal">Agregar Categoría</h1>
            <div class="btn-click btn-close-addcat" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>
          
            <div class="cont-categories">
              <div class="cont-input-btn">
                <form [formGroup]="formularioCategoria"><input formControlName="nombreCategoria" type="text" placeholder="nueva categoría"> </form>
        </div>

        <div class="cont-btn-save">

          <div class="save-added-categories btn-click btn-red" (click)="agregarCateoria()" (click)="SaveNewCategory()" (click)="CloseAddCategory($event)"><mat-icon>save</mat-icon></div>
        
        </div>
      </div>

  <div class="cont-subcategories subcategories">
    <h1 class="title-modal">Agregar Sub-Categoría</h1>
    <div class="btn-click close-cont-subcate" (click)="CloseAddSubCategory($event)"><mat-icon>close</mat-icon></div>

    <div class="cont-categories">
      <button (click)="generarnewSubCate()" class="btn-generate normal">Nueva Sub</button>
      <button (click)="EliminarUltimaSub()" class="btn-delete normal">Eliminar Sub</button>
      
      <div class="cont-input-btn " *ngFor="let div of categorySubArray; let i = index">
        <input type="text" placeholder="nueva sub categoría">
      </div>
    </div>

    <div class="cont-btn-save">
      <div class="save-added-categories btn-click btn-red" (click)="SaveNewSubCategory()" (click)="CloseAddSubCategory($event)"><mat-icon>save</mat-icon></div>
    </div>
    
  </div>
    </div>  
  
</div>

}

</div>






<!-------- MODAL AGREGAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-add-product">
  <div class="btn-click close-modal" (click)="ModalProduct('add')"><mat-icon>close</mat-icon></div>
  <h1 class="title-modal">Agregar Producto</h1>
  
<form action="" [formGroup]="formularioAgregarProducto">
  <div class="cont-blocks">

    <div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input formControlName="inputControl" type="file" (change)="InputChange($event)" (change)="getFile($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
            <mat-icon>delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="bold danger-red"></span> </li>
          <li>alto:  <span class="bold danger-red"></span> </li>
          <li>peso:  <span class="bold danger-red"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img alt="" src=""></div>
</div>


      <div class="cont-datos">
        <input  type="text" formControlName="nombreProducto" placeholder="Producto" class="normal" name="name-producto" title="nombre del producto">
      
  <input type="text" class="normal cat-generated" placeholder="categoría">
</div>

<div class="cont-btn-save">
  <div class="btn-click btn-red normal" (click)="SaveNewProduct($event)"><mat-icon>save</mat-icon> guardar</div>
</div>

</div>
</form>


</div>



<!-------- MODAL EDITAR PRODUCTO ------------------------------------------------------------------------------------------------------------------------------------>
<div id="modal-edit-product">
  <h1 class="title-modal">Editar Producto</h1>
  <div id="close-modal-add" (click)="ModalProduct('edit')"><mat-icon>close</mat-icon></div>

<form [formGroup]="formularioEditarProducto">

  <div class="cont-blocks">

    <div id="sub-cont-details-img">
      <div class="sub-details">
          <div class="sub-img-btn">
            <input type="file" (change)="InputChange($event)" (change)="getFileEditProducto($event)" title="seleccionar archivo" accept=".jpg, .png, .jpeg, .avi, .webp" data-content="seleccionar archivo">
            <mat-icon>delete</mat-icon>
          </div>
        <ul>
          <li>ancho: <span class="bold danger-red"></span> </li>
          <li>alto:  <span class="bold danger-red"></span> </li>
          <li>peso:  <span class="bold danger-red"></span></li>
        </ul>
      </div>
      <div class="cont-details-img"><img alt="" src=""></div>
</div>


<div class="cont-datos">
  <input [(ngModel)]="nombreProducto" formControlName="nombreProducto" type="text" placeholder="{{nombreProducto}}" class="normal" name="name-producto" title="nombre del producto">

<button class="btn-click btn-dark"  (click)="obtenerCategoriasxId()" (click)="OpenAddCategory($event)">editar categorías</button>
</div>

<div class="cont-btn-save">
  <div class="btn-click btn-dark normal" (click)="saveEditedProduct($event)"><mat-icon>save</mat-icon> guardar</div>
</div>

</div>
</form> 




<div class="cont-add-cat">
  <h1 class="title-modal">Editar Categoria</h1>
  <div class="btn-click btn-close-addcat" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>

  @for (categoria of dataCategorias; track $index) {
    <div class="cont-categories">
      <div class="cont-input-btn">
        <div class="btn-sub btn-click btn-red" (click)="eliminarCategoria(categoria._id)"><mat-icon>delete</mat-icon></div>
        <div class="btn-sub btn-click btn-red" (click)="ObteerItemsxCategoria(categoria._id)" (click)="openEditItems($event)"><mat-icon>edit</mat-icon></div>
        <div class="btn-sub btn-click btn-red"><mat-icon>save</mat-icon></div>
          <input type="text" placeholder="{{categoria.Nombre}}">
      </div>

    </div>
  }

  <div class="cont-btn-save">
    <!-- <div class="save-added-categories btn-click btn-red" (click)="SaveNewCategory()" (click)="CloseAddCategory($event)"><mat-icon>save</mat-icon> guardar</div> -->
  </div>
<div class="cont-categories">
  <div class="cont-input-btn">
    <div class="btn-sub btn-click btn-red"><mat-icon>delete</mat-icon></div>
    <div class="btn-sub btn-click btn-red" (click)="openEditItems($event)"><mat-icon>edit</mat-icon></div>
    <div class="btn-sub btn-click btn-red"><mat-icon>save</mat-icon></div>
      <input type="text" placeholder="nueva categoría">
  </div>

<div class="cont-btn-save">
  <!-- <div class="save-added-categories btn-click btn-red" (click)="SaveNewCategory()" (click)="CloseAddCategory($event)"><mat-icon>save</mat-icon> guardar</div> -->
</div>
</div>

<div class="add-items">
  <h1 class="close-modal title-modal">Agregar sub-cateorías</h1>
  <div class="btn-click close-item" (click)="CloseAddCategory($event)"><mat-icon>close</mat-icon></div>

  <div class="cont-middle">

  <div class="cont-adddel">

  <div class="sub-cont-btns">
    <div class="btn-click btn-red" (click)="addItem()">agregar</div>
    <div class="btn-click btn-red"  (click)="deleteItem()">eliminar</div>
  </div>
  <div class="cont-input-item" *ngFor="let div of addItemsArray; let i = index">
    <input type="text" placeholder="...">
  </div>

  <div class="btn-click btn-red save-items"><mat-icon>save</mat-icon> guardar</div>
</div>
  </div>

</div>
</div>




<div class="cont-subcategories">
  <h1 class="title-modal">Agregar Sub-Categoría</h1>
  <div class="btn-click close-cont-subcate" (click)="CloseAddSubCategory($event)"><mat-icon>close</mat-icon></div>
  <div class="btn-click btn-dark" (click)="openAddItem($event)"><mat-icon>add</mat-icon> agregar items</div>

<div class="cont-categories">
    <!-- <button (click)="generarSubCate()" class="btn-generate normal">Nueva Sub</button>
    <button (click)="EliminarUltimaSubCate()" class="btn-delete normal">Eliminar Sub</button> -->
    <!-- <div class="cont-input-btn" *ngFor="let div of subCategoryArray; let i = index"> -->

      @for (item of dataItems; track $index) {
    <div class="cont-input-btn">
        <div class="btn-click btn-red" (click)="eliminarCategoria(item)"><mat-icon>delete</mat-icon></div>
        <div class="btn-click btn-red"><mat-icon>edit</mat-icon></div>

        <input type="text" placeholder="{{item}}">
      </div>
    }
</div>

<div class="cont-btn-save">
  <!-- <div class="save-added-categories btn-click btn-dark" (click)="SaveNewSubCategory()" (click)="CloseAddSubCategory($event)"><mat-icon>save</mat-icon> guardar</div> -->
</div>
</div>




<div class="cont-add-items">
  <h1 class="title-modal">Agregar Items</h1>
  <div class="close-modal btn-click" (click)="closeThisModal($event)"><mat-icon>close</mat-icon></div>

<div class="cont-input-btn">
  <form [formGroup]="forumlarioSubCategoria">

    <input formControlName="items" type="text" placeholder="nuevo ítem" class="normal">
  </form>
</div>



<div class="cont-input-btn"> <div class="btn-click btn-dark" (click)="agregarItem()"><mat-icon>save</mat-icon> guardar</div></div>



</div>

</div>


<!-------- A L E R T ---------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="background-alert">
  <div class="container-alert" id="container-alert">
    <div class="alert-model">
      <p class="message bold"></p>
      <div class="cont-btns-alert" id="btns">
        <div class="btn-click btn-red" id="confirm-alert"><mat-icon>done</mat-icon> confirmar</div>
        <div class="btn-click btn-gray" (click)="AlertClose()"><mat-icon>close</mat-icon> cancelar</div>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
