img#background-texture {
  width: auto;
  min-width: 100vw;
  height: 120vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
}

div#container-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 65px;
}

div#container-ubicaciones {
  width: 90%;
  height: auto;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
}

div#cont-search {
  position: relative;
  width: 100%;
  pad: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#cont-search input[type=text] {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 14pt;
  background: #f4f4f4;
  color: #252525;
  width: 400px;
}

div#cont-title {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div#cont-title h1 {
  color: #FFF;
  font-size: 19pt;
  text-decoration: underline;
  padding: 1rem;
  cursor: pointer;
}

div#cont-all-sucursales {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 1rem;
}

div#cont-slide {
  width: 300%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  transition: left 1s ease-in-out;
}


div#cont-slide.a { left: 0; }
div#cont-slide.b { left: -100%; }
div#cont-slide.c { left: -200%; }


div.cont-sucursal {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 1rem;
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.sucursal {
  font-size: 12pt;
  color: #252525;
  width: 40%;
  height: auto;
  background: #f4f4f4;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div.sub-img {
  width: 200px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


div.sub-img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

div.sub-info {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  padding: .5rem;
}

div.sub-info h1 {
  font-size: 12pt;
  color: #252525;
  width: 100%;
  text-align: left;
  padding: 0 0 .5rem 0;
}

div.sub-info p {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  margin-top: .5rem;
}

div.locations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem 0;
  padding: 1rem 0 0 0;
}

span.location {
  width: 49%;
  text-align: center;
}


